<table class="items non-interactive api-keys-info">
	<thead>
		<th class="col-md-3"><span>Date</span></th>
		<th class="col-md-3"><span>Name</span></th>
		<th class="col-md-5"><span>Secret</span></th>
		<th class="col-icon"><span></span></th>
	</thead>
	<tbody>
		{{#each key in keys}}
			<tr>
				{{view "tables/cells/linked-date-cell"
					item=key
					date=key.created_at
				}}
				<td {{bind-attr title="key.meta.name"}}>
					{{#if key.meta.name}}
						<span>{{key.meta.name}}</span>
					{{else}}
						<span class="sl-none">none</span>
					{{/if}}
				</td>
				<td>
					<span>
						{{#if key.secret}}
							{{api-key-secret-shower key=key}}
						{{else}}
							{{#view "popover" class="sl-none" data-trigger="hover" data-placement="top" data-original-title="Secret unavailable" data-content="You cannot view the key secret for keys created outside of the Balanced Dashboard or created by other users."}}
								Secret unavailable
							{{/view}}
						{{/if}}
					</span>
				</td>
				<td class="span1 delete-container">
					{{#if canDeleteApiKeys}}
						<a href="#" {{action "delete" key}}>
							<i class="icon-table-x confirm-delete-key action"></i>
						</a>
					{{/if}}
				</td>
			</tr>
		{{else}}
			<tr>
				<td colspan="4" class="no-results">
					<span>No keys</span>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
