<div class="modal hide delete-key">
	<form {{action "confirm" on="submit"}}>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Delete this key</h2>
		</div>

		<div class="modal-body">
			<span>Are you sure you want to delete this key?</span>
			<br><span>This key will be deleted immediately.</span>
			<br>
			<ul>
				<li class="sl-sb">ID: {{key.id}}</li>
				{{#if key.meta.name}}
					<li class="sl-sb">Name: {{key.meta.name}}</li>
				{{/if}}
			</ul>
			<br>
		</div>

		<div class="modal-footer">
			{{view Balanced.ModalActionButtonsView submitTitle="Delete"}}
		</div>
	</form>
</div>

{{#if displayDelete}}
	<div class="delete-key-outer">
		<a {{action "open"}}>
			<i class="confirm-delete-key icon-table-x action"></i>
		</a>
	</div>
{{/if}}
