<div class="modal wide-modal hide" id="capture-hold">
    <form class="form-horizontal split-labels" {{action "save" on="submit"}}>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h2>Capture the hold</h2>
        </div>
        <div class="modal-body">
            {{ partial "modals/modalErrors" }}

            <div class="control-group">
                <label class="control-label">Customer</label>
                <div class="controls">
                    <span class="label1a">{{hold.customer.display_me}} ({{hold.customer.email}})</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Credit Card</label>
                <div class="controls">
                    <span class="label1a">{{hold.source.number}}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Card holder's name</label>
                <div class="controls">
                    <span class="label1a">{{hold.source.name}}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Type</label>
                <div class="controls">
                    <span class="label1a">{{hold.source.brand}}</span>
                </div>
            </div>

            <div {{bindAttr class=":control-group model.validationErrors.amount:error"}}>
                <label class="control-label">Amount</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">$</span>
                        {{view Ember.TextField valueBinding="dollar_amount" name="dollar_amount" class="span3"}}
                    </div>
                </div>
            </div>

            <div {{bindAttr class=":control-group model.validationErrors.description:error"}}>
                <label class="control-label">Internal Description</label>
                <div class="controls">
                    {{view Ember.TextField valueBinding="model.description" name="description" class="full" maxlengthBinding="Balanced.MAXLENGTH.DESCRIPTION"}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{view Balanced.ModalActionButtonsView submitTitle="Capture" submittingTitle="Capturing..."}}
        </div>
    </form>
</div>
<a class="btn capture-hold-button" {{action open}}>Capture</a>
