<div class="order-customer-header main-header">
	<div class="row">
		<div class="span2 label">
			<i class="icon-person"></i>
		</div>
		<div class="span14 title">
			<span class="nav3d">
				{{#link-to customer.route_name customer}}{{title}}{{/link-to}}
			</span>
		</div>
		<div class="buttons">
			<div class="buttons-container">
				{{#if debits_list.length}}
					{{debit-customer-modal customer=customer order=order}}
				{{/if}}

				{{#if credits_list.length}}
					<a class="btn credit-customer" {{action "openModal" Balanced.CreditCustomerModalView customer order}}>Credit</a>
				{{/if}}
			</div>
		</div>
	</div>
</div>

<div class="order-customer-sub-header">
	{{#if reversals_list.length}}
		<span class="reversed">
			Reversed: {{formatCurrency amounts.reversals_list.total}}
		</span>
	{{/if}}
	{{#if refunds_list.length}}
		<span class="refunded">
			Refunded: {{formatCurrency amounts.refunds_list.total}}
		</span>
	{{/if}}
	{{#if credits_list.length}}
		<span class="credited">
			Credited: {{formatCurrency amounts.credits_list.total}}
		</span>
	{{/if}}
	{{#if debits_list.length}}
		<span class="debited">
			Debited: {{formatCurrency amounts.debits_list.total}}
		</span>
	{{/if}}
	{{#if has_transactions}}
		<a href="#" {{action "toggle_visibility"}} {{bind-attr class=":toggle is_visible:arrow-close:arrow-open"}}>
			{{toggle_display}}<i></i>
		</a>
	{{/if}}
</div>

{{#if show_transactions}}
	<div class="transaction order">
		<div class="transaction-details">
			{{#each reversal in reversals_list}}
				{{txn-reversal reversal=reversal}}
			{{/each}}
			{{#each credit in credits_list}}
				{{txn-credit credit=credit}}
			{{/each}}
			{{#each refund in refunds_list}}
				{{txn-refund refund=refund}}
			{{/each}}
			{{#each debit in debits_list}}
				{{txn-debit debit=debit}}
			{{/each}}
		</div>
	</div>
{{/if}}
