<div class="modal wide-modal hide" id="reverse-credit">
    <form class="form-horizontal split-labels" {{action "save" on="submit"}}>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h2>Reverse Credit</h2>
        </div>
        <div class="modal-body">
            {{partial "modals/modalErrors"}}

            <div class="control-group">
                <label class="control-label">Customer</label>
                <div class="controls">
                    <span class="label1a">{{credit.customer.display_me}} ({{credit.customer.email}})</span>
                </div>
            </div>

            <div {{bindAttr class=":control-group model.validationErrors.amount:error"}}>
                <label class="control-label">Amount</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">$</span>
                        {{view Ember.TextField valueBinding="dollar_amount" name="dollar_amount" class="span3"}}
                    </div>
                </div>
            </div>

            <div {{bindAttr class=":control-group model.validationErrors.description:error"}}>
                <label class="control-label">Internal Description</label>
                <div class="controls">
                    {{view Ember.TextField valueBinding="model.description" name="description" class="full" maxlengthBinding="Balanced.MAXLENGTH.DESCRIPTION"}}
                </div>
            </div>
        </div>

        <div class="modal-informational">
            <p class="modal-informational-content">A credit reversal will take 4-5 business days to process. The reversal status will update to "succeeded" or "failed".</p>
        </div>
        <div class="modal-footer">
            {{view Balanced.ModalActionButtonsView submitTitle="Reverse" submittingTitle="Reversing..."}}
        </div>
    </form>
</div>
<a class="btn reverse-credit-button" {{action open}}>Reverse</a>
