<div class="credit">
  <div {{bindAttr class=":main-header :transaction-type-subheader credit.status"}}>
    <div class="row">
      <div class="span2 border-adjust label">
        <span class="subhead2d">Credit</span>
      </div>
      <div class="span14 title">
        <span class="transaction-description subhead2d">{{titleCase credit.status}}: ${{credit.amount_dollars}}</span>
      </div>
      <div class="span4 border-adjust buttons">
        <a class="btn" {{action reverse}}>Reverse</a>
      </div>
    </div>
  </div>
  <div class="transaction-body">
    <div class="row">
      <div class="span2 border-adjust"></div>
      <div class="span18 border-adjust">
        <div class="row-fluid">
          <div class="span13">
            <section class="transaction-info">
              <form class="form-horizontal edit-inline">
                <header>
                  <h3>Credit
                    <a href="#" class="edit" {{action edit}}>Edit</a>
                  </h3>
                </header>
                <div>
                  <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls">
                      <span class="inline-label">{{ credit.status_description }}</span>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Expected</label>
                    <div class="controls">
                      <span class="inline-label">{{humanReadableDateLong credit.available_at}}, <a href="https://docs.balancedpayments.com/current/#submission-delivery-times" target="_blank" class="label4a linky">See payout schedule</a></span>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Created</label>
                    <div class="controls">
                      <span class="inline-label">{{humanReadableDateLong credit.created_at }}</span>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Description</label>
                    <div class="controls">
                      <span class="inline-label">{{ credit.description }}</span>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">ID</label>
                    <div class="controls">
                      <span class="inline-label">{{ credit.id }}</span>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Txn #</label>
                    <div class="controls">
                      <span class="inline-label">{{ credit.transaction_number }}</span>
                    </div>
                  </div>
                </div>
              </form>
            </section>

            {{txn-funding-instrument funding_instrument=credit.bank_account}}
          </div>
          <div class="span13">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>