<div class="refund">
	<div {{bind-attr class=":transaction-type-subheader refund.status"}}>
		<div class="tt-label">Refund</div>
		<div class="tt-content">
			{{titleCase refund.status}}: {{formatCurrency refund.amount}}
		</div>
	</div>
	<div class="transaction-body">
		<div class="row-fluid">
			<div class="span16">
				<section class="transaction-info">
					<div class="key-value-display">
						<header>
							<h3>Refund
								{{edit-transaction-modal transaction=refund}}
							</h3>
						</header>
						{{txn-description transaction=refund}}
					</div>
				</section>

				{{txn-funding-instrument funding_instrument=refund.debit.source}}
			</div>
			<div class="span10">
				{{view Balanced.EventsSideBarView contentBinding="refund"}}
			</div>
		</div>
	</div>
</div>
