<div class="dispute">
	<div {{bind-attr class=":transaction-type-subheader dispute.status"}}>
		<div class="tt-label">Dispute</div>
		<div class="tt-content">
			{{titleCase dispute.status}}: {{formatCurrency dispute.amount}}
		</div>
	</div>
	<div class="transaction-body">
		<div class="row-fluid">
			<div class="span16">
				<section class="transaction-info">
					<div class="key-value-display">
						<header>
							<h3>Dispute</h3>
						</header>
						<div class="key-value-row">
							<label class="key">Initiated</label>
							<span class="value">{{humanReadableDateLong dispute.initiated_at}}</span>
						</div>
						<div class="key-value-row">
							<label class="key">Respond By</label>
							<span class="value">{{humanReadableDateLong dispute.respond_by}}</span>
						</div>
						<div class="key-value-row">
							<label class="key">Reason</label>
							<span class="value">{{dispute.reason}}</span>
						</div>
						<div class="key-value-row">
							<label class="key">ID</label>
							<span class="value">{{dispute.id}}</span>
						</div>
						<div class="key-value-row meta">
							<label class="key">Meta</label>
							<span class="value">
								{{#each meta in dispute.meta_array}}
									{{meta.key}}: {{meta.value}}<br/>
								{{/each}}
							</span>
						</div>
					</div>
				</section>
				{{txn-funding-instrument funding_instrument=dispute.transaction.source}}
			</div>
			<div class="span10">
				{{view Balanced.EventsSideBarView contentBinding="dispute"}}
			</div>
		</div>
	</div>
</div>
