<div class="credit">
  <div {{bindAttr class=":main-header :transaction-type-subheader credit.status"}}>
    <div class="row">
      <div class="span2 border-adjust label">
        <span class="subhead2d">Credit</span>
      </div>
      <div class="span12 title">
        <span class="transaction-description subhead2d">{{titleCase credit.status}}: {{formatCurrency credit.amount}}</span>
      </div>
      <div class="span8 border-adjust buttons">
        <div class="buttons-container">
          {{#if can_reverse_credit}}
            {{reverse-credit-modal credit=credit}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="transaction-body">
    <div class="row">
      <div class="span2 border-adjust"></div>
      <div class="span18 border-adjust">
        <div class="row-fluid">
          <div class="span16">
            <section class="transaction-info">
              <div class="key-value-display">
                <header>
                  <h3>Credit
                    {{edit-transaction-modal transaction=credit}}
                  </h3>
                </header>
                {{txn-description transaction=credit}}
              </div>
            </section>

            {{txn-funding-instrument funding_instrument=credit.bank_account}}
          </div>
          <div class="span10">
            {{view Balanced.EventsSideBarView contentBinding=credit}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
