<section class="funding-instrument-info">
  <form class="form-horizontal edit-inline">
    <header>
      <h3>{{funding_instrument.description_with_type}}
        <a href="#" {{bindAttr class=":disclosure show_funding_instrument_details:open"}} {{action toggleFundingInstrumentDetails}}>Edit</a>
      </h3>
    </header>
    {{#if show_funding_instrument_details}}
    <div>
      <div class="control-group">
        <label class="control-label">Card #</label>
        <div class="controls">
          <span class="inline-label">{{ funding_instrument.last_four }}</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Created</label>
        <div class="controls">
          <span class="inline-label">{{humanReadableDateLong funding_instrument.created_at }}</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">ID</label>
        <div class="controls">
          <span class="inline-label">{{ funding_instrument.id }}</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Card holder's name</label>
        <div class="controls">
          <span class="inline-label">{{ funding_instrument.name }}</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Type</label>
        <div class="controls">
          <span class="inline-label">{{ funding_instrument.brand }}</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Expiration</label>
        <div class="controls">
          <span class="inline-label">{{ funding_instrument.human_readable_expiration }}</span>
        </div>
      </div>
    </div>
    {{/if}}
  </form>
</section>