<div class="reversal">
	<div {{bind-attr class=":transaction-type-subheader reversal.status"}}>
		<div class="tt-label">Reversal</div>
		<div class="tt-content">
			<span class="tt-title">
				{{titleCase reversal.status}}: {{formatCurrency reversal.amount}}
			</span>
		</div>
	</div>
	<div class="transaction-body">
		<div class="row-fluid">
			<div class="span16">
				<section class="transaction-info">
					<div class="key-value-display">
						<header>
							<h3>Reversal
								{{edit-transaction-modal transaction=reversal}}
							</h3>
						</header>
						{{txn-description transaction=reversal}}
					</div>
				</section>

				{{txn-funding-instrument funding_instrument=reversal.credit.bank_account}}
			</div>
			<div class="span10">
				{{view Balanced.EventsSideBarView contentBinding="reversal"}}
			</div>
		</div>
	</div>
</div>
