<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd>
	<span {{bind-attr class="transaction.status"}}>
	  {{transaction.status_description}}
	  {{#if type.credit}}{{#if transaction.is_pending}}
	    <a href="https://docs.balancedpayments.com/current/#submission-delivery-times" target="_blank" class="label4a linky">See payout schedule</a>
	  {{/if}}{{/if}}
	</span>
  </dd>

  <dt>Created</dt>
  <dd>{{humanReadableDateLong transaction.created_at}} </dd>

  <dt>Internal Description</dt>
  <dd>{{transaction.description}} </dd>

  <dt>ID</dt>
  <dd>{{transaction.id}} </dd>

  <dt>Txn #</dt>
  <dd>{{transaction.transaction_number}} </dd>

  {{#unless type.refund}}{{#unless type.reversal}}
    <dt>On statement as</dt>
    <dd>{{transaction.appears_on_statement_as}} </dd>
  {{/unless}}{{/unless}}

  <dt>Meta</dt>
  <dd>
    {{#each meta in transaction.meta_array}}
      {{meta.key}}: {{meta.value}}<br/>
    {{/each}}
  </dd>
</dl>
