<section class="funding-instrument-info">
	<div class="key-value-display">
		<header>
			<h3>
				{{#if funding_instrument}}
					{{funding_instrument.type_name}}: <a href="#" {{action "toggleFundingInstrumentDetails"}}>{{funding_instrument.description}}</a>
					<a href="#" {{bind-attr class=":disclosure show_funding_instrument_details:open"}} {{action "toggleFundingInstrumentDetails"}}>Edit</a>
				{{/if}}
			</h3>
		</header>

		{{#if show_funding_instrument_details}}
			<dl class="dl-horizontal">
				{{#if funding_instrument.is_bank_account}}
					<dt>Account #</dt>
					<dd>{{#link-to funding_instrument.route_name funding_instrument}} {{funding_instrument.account_number}} {{/link-to}}</dd>
					<dt>Routing #</dt>
					<dd>{{funding_instrument.routing_number}}</dd>
					<dt>Created</dt>
					<dd>{{humanReadableDateLong funding_instrument.created_at}}</dd>
					<dt>ID</dt>
					<dd>{{funding_instrument.id}}</dd>
					<dt>Name</dt>
					<dd>{{funding_instrument.name}}</dd>
					<dt>Bank</dt>
					<dd>{{funding_instrument.bank_name}}</dd>
					<dt>Type</dt>
					<dd>{{capitalize funding_instrument.account_type}}</dd>
				{{else}}
					<dt>Card #</dt>
					<dd>{{#link-to funding_instrument.route_name funding_instrument}} {{funding_instrument.number}} {{/link-to}}</dd>
					<dt>Created</dt>
					<dd>{{humanReadableDateLong funding_instrument.created_at}}</dd>
					<dt>ID</dt>
					<dd>{{funding_instrument.id}}</dd>
					<dt>Card holder's name</dt>
					<dd>{{funding_instrument.name}}</dd>
					<dt>Type</dt>
					<dd>{{funding_instrument.brand}}</dd>
					<dt>Expiration</dt>
					<dd>{{funding_instrument.human_readable_expiration}}</dd>
				{{/if}}
			</dl>
		{{/if}}
	</div>
</section>
