<div class="debit">
	<div {{bind-attr class=":transaction-type-subheader credit.status"}}>
		<div class="tt-label">Debit</div>
		<div class="tt-content">
			{{titleCase debit.status}}: {{formatCurrency debit.amount}}
			<div class="tt-buttons">
				{{#if can_reverse_credit}}
					{{refund-debit-modal debit=debit}}
				{{/if}}
			</div>
		</div>
	</div>

	<div class="transaction-body">
		<div class="row-fluid">
			<div class="span16">
				<section class="transaction-info">
					<div class="key-value-display">
						<header>
							<h3>Debit
								{{edit-transaction-modal transaction=debit}}
							</h3>
						</header>
						{{txn-description transaction=debit}}
					</div>
				</section>
				{{txn-funding-instrument funding_instrument=debit.source}}
			</div>
			<div class="span10">
				{{view Balanced.EventsSideBarView contentBinding="debit"}}
			</div>
		</div>
	</div>
</div>
