<div class="dispute">
	<div {{bind-attr class=":transaction-type-subheader dispute.status"}}>
		<div class="tt-label">Dispute</div>
		<div class="tt-content">
			<span class="tt-title">
				{{titleCase dispute.status}}: {{formatCurrency dispute.amount}}
			</span>
		</div>
	</div>
	{{#if dispute.canUploadDocuments}}
		<section class="evidence-portal-info">
		<div class="row-fluid">
			<div class="span12">
				<header>
					<h3>Please provide supporting documentation:</h3>
				</header>
				<ul class="styled">
					<li>Shipping receipts with shipping address and tracking numbers</li>
					<li>Evidence of received goods or services purchased</li>
				</ul>
			</div>
			<div class="span8">
				<header>
					<h3>Submit documentation by:</h3>
				</header>
				<div>
					<h4>{{humanReadableDateLong dispute.respond_by}}</h4>
					<p>The dispute will most likely result in a lost if you do not respond by this date.</p>
				</div>
			</div>
			<a class="btn pull-right sm" {{action "openModal" Balanced.EvidencePortalModalView dispute}}>Attach docs</a>
		</div>
		</section>
	{{/if}}
	<div class="transaction-body">
		<div class="row-fluid">
			<div class="span25 border-adjust">
				<section class="transaction-info">
					<div class="key-value-display">
						<header>
							<h3>Dispute</h3>
						</header>
						<dl class="dl-horizontal">
							<dt>ID</dt>
							<dd><span>{{dispute.id}}</span></dd>

							<dt>Initiated</dt>
							<dd><span>{{humanReadableDateLong dispute.initiated_at}}</span></dd>

							<dt>Respond by</dt>
							<dd><span>{{humanReadableDateLong dispute.respond_by}}</span></dd>

							<dt>Reason</dt>
							<dd><span>{{dispute.reason}}</span></dd>
						</dl>
						{{txn-funding-instrument funding_instrument=dispute.transaction.source}}
					</div>
					{{view Balanced.MetaView type=dispute}}
				</section>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span25 border-adjust">
				{{view Balanced.ResourceDocumentsView contentBinding="dispute"}}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span25 border-adjust">
				{{view Balanced.ResourceLogsView contentBinding="dispute"}}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span25 border-adjust">
				{{view Balanced.ResourceEventsView contentBinding="dispute"}}
			</div>
		</div>
	</div>
</div>
