<div class="hold">
  <div class="main-header transaction-type-subheader">
    <div class="row">
      <div class="span2 border-adjust label">
        <span class="subhead2d">Hold</span>
      </div>
      <div class="span10 title">
        <span class="transaction-description subhead2d">{{capitalize hold.status}}: ${{hold.amount_dollars}}</span>
      </div>
      <div class="span8 border-adjust buttons">
        <div class="buttons-container">
          {{#if hold.can_void_or_capture}}
            {{capture-hold-modal hold=hold}}
            {{void-hold-modal hold=hold}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="transaction-body">
    <div class="row">
      <div class="span2 border-adjust"></div>
      <div class="span18 border-adjust">
        <div class="row-fluid">
          <div class="span16">
            <section class="transaction-info">
              <div class="key-value-display">
                <header>
                  <h3>Authorization
                    {{edit-transaction-modal transaction=hold}}
                  </h3>
                </header>
                <div>
                  <div class="key-value-row">
                    <label class="key">Created</label>
                    <span class="value">{{humanReadableDateLong hold.created_at }}</span>
                  </div>
                  <div class="key-value-row">
                    <label class="key">Description</label>
                    <span class="value">{{ hold.description }}</span>
                  </div>
                  <div class="key-value-row">
                    <label class="key">ID</label>
                    <span class="value">{{ hold.id }}</span>
                  </div>
                  <div class="key-value-row">
                    <label class="key">Txn #</label>
                    <span class="value">{{ hold.transaction_number }}</span>
                  </div>
                  <div class="key-value-row">
                    <label class="key">On statement as</label>
                    <span class="value">{{ hold.appears_on_statement_as }}</span>
                  </div>
                  <div class="key-value-row">
                    <label class="key">Meta</label>
                    <span class="value">
                      {{#each meta in hold.meta_array}}
                        {{ meta.key }}: {{ meta.value }}<br/>
                      {{/each}}
                    </span>
                  </div>
                </div>
              </div>
            </section>

            {{txn-funding-instrument funding_instrument=hold.source}}
          </div>
          <div class="span10">
            {{view Balanced.EventsSideBarView contentBinding=hold}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
