<section class="funding-instrument-info">
  <form class="form-horizontal edit-inline">
    <header>
      <h3>
        {{#if funding_instrument}}
        {{funding_instrument.type_name}}: <a href="#" {{action toggleFundingInstrumentDetails}}>{{funding_instrument.description}}</a>
        <a href="#" {{bindAttr class=":disclosure show_funding_instrument_details:open"}} {{action toggleFundingInstrumentDetails}}>Edit</a>
        {{/if}}
      </h3>
    </header>
    {{#if show_funding_instrument_details}}
    <div>
      {{#if funding_instrument.is_bank_account}}
        <div class="control-group">
          <label class="control-label">Account #</label>
          <div class="controls">
            <span class="inline-label">{{#linkToEntity funding_instrument}} {{ funding_instrument.account_number }} {{/linkToEntity}}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Routing #</label>
          <div class="controls">
            <span class="inline-label">{{ funding_instrument.routing_number }}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Created</label>
          <div class="controls">
            <span class="inline-label">{{humanReadableDateLong funding_instrument.created_at }}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">ID</label>
          <div class="controls">
            <span class="inline-label">{{ funding_instrument.id }}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Name</label>
          <div class="controls">
            <span class="inline-label">{{ funding_instrument.name }}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Bank</label>
          <div class="controls">
            <span class="inline-label">{{ funding_instrument.bank_name }}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Type</label>
          <div class="controls">
            <span class="inline-label">{{capitalize funding_instrument.type }}</span>
          </div>
        </div>
      {{else}}
        <div class="control-group">
          <label class="control-label">Card #</label>
          <div class="controls">
            <span class="inline-label">{{#linkToEntity funding_instrument}} {{ funding_instrument.card_number_with_xs }} {{/linkToEntity}}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Created</label>
          <div class="controls">
            <span class="inline-label">{{humanReadableDateLong funding_instrument.created_at }}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">ID</label>
          <div class="controls">
            <span class="inline-label">{{ funding_instrument.id }}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Card holder's name</label>
          <div class="controls">
            <span class="inline-label">{{ funding_instrument.name }}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Type</label>
          <div class="controls">
            <span class="inline-label">{{ funding_instrument.brand }}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Expiration</label>
          <div class="controls">
            <span class="inline-label">{{ funding_instrument.human_readable_expiration }}</span>
          </div>
        </div>
      {{/if}}
    </div>
    {{/if}}
  </form>
</section>