<section class="funding-instrument-info">
  <form class="form-horizontal edit-inline">
    <header>
      <h3>
        {{#if funding_instrument}}
        {{funding_instrument.type_name}}: <a href="#" {{action toggleFundingInstrumentDetails}}>{{funding_instrument.description}}</a>
        <a href="#" {{bindAttr class=":disclosure show_funding_instrument_details:open"}} {{action toggleFundingInstrumentDetails}}>Edit</a>
        {{/if}}
      </h3>
    </header>
    {{#if show_funding_instrument_details}}
    <div class="key-value-display">
      {{#if funding_instrument.is_bank_account}}
        <div class="key-value-row">
          <label class="key">Account #</label>
          <span class="value">{{#linkTo funding_instrument.route_name funding_instrument}} {{ funding_instrument.account_number }} {{/linkTo}}</span>
        </div>
        <div class="key-value-row">
          <label class="key">Routing #</label>
          <span class="value">{{ funding_instrument.routing_number }}</span>
        </div>
        <div class="key-value-row">
          <label class="key">Created</label>
          <span class="value">{{humanReadableDateLong funding_instrument.created_at }}</span>
        </div>
        <div class="key-value-row">
          <label class="key">ID</label>
          <span class="value">{{ funding_instrument.id }}</span>
        </div>
        <div class="key-value-row">
          <label class="key">Name</label>
          <span class="value">{{ funding_instrument.name }}</span>
        </div>
        <div class="key-value-row">
          <label class="key">Bank</label>
          <span class="value">{{ funding_instrument.bank_name }}</span>
        </div>
        <div class="key-value-row">
          <label class="key">Type</label>
          <span class="value">{{capitalize funding_instrument.type }}</span>
        </div>
      {{else}}
        <div class="key-value-row">
          <label class="key">Card #</label>
          <span class="value">{{#linkTo funding_instrument.route_name funding_instrument}} {{ funding_instrument.number }} {{/linkTo}}</span>
        </div>
        <div class="key-value-row">
          <label class="key">Created</label>
          <span class="value">{{humanReadableDateLong funding_instrument.created_at }}</span>
        </div>
        <div class="key-value-row">
          <label class="key">ID</label>
          <span class="value">{{ funding_instrument.id }}</span>
        </div>
        <div class="key-value-row">
          <label class="key">Card holder's name</label>
          <span class="value">{{ funding_instrument.name }}</span>
        </div>
        <div class="key-value-row">
          <label class="key">Type</label>
          <span class="value">{{ funding_instrument.brand }}</span>
        </div>
        <div class="key-value-row">
          <label class="key">Expiration</label>
          <span class="value">{{ funding_instrument.human_readable_expiration }}</span>
        </div>
      {{/if}}
    </div>
    {{/if}}
  </form>
</section>
