<div class="dispute">
	<div {{bind-attr class=":transaction-type-subheader dispute.status"}}>
		<div class="tt-label">Dispute</div>
		<div class="tt-content">
			<span class="tt-title">
				{{titleCase dispute.status}}: {{formatCurrency dispute.amount}}
			</span>
		</div>
	</div>
	<div class="transaction-body">
		<div class="row-fluid">
			<div class="span16">
				<section class="transaction-info">
					<div class="key-value-display">
						<header>
							<h3>Dispute</h3>
						</header>
						<dl class="dl-horizontal">
							<dt>Initiated</dt>
							<dd><span>{{humanReadableDateLong dispute.initiated_at}}</span></dd>

							<dt>Respond By</dt>
							<dd><span>{{humanReadableDateLong dispute.respond_by}}</span></dd>

							<dt>Reason</dt>
							<dd><span>{{dispute.reason}}</span></dd>

							<dt>ID</dt>
							<dd><span>{{dispute.id}}</span></dd>

							<dt>Meta</dt>
							<dd><span>
								{{#each meta in dispute.meta_array}}
									{{meta.key}}: {{meta.value}}<br/>
								{{/each}}
							</span></dd>
						</dl>
					</div>
				</section>
				{{txn-funding-instrument funding_instrument=dispute.transaction.source}}
			</div>
			<div class="span10">
				{{view Balanced.ResourceEventsView contentBinding="dispute"}}
			</div>
		</div>
	</div>
</div>
