<div class="credit">
	<div {{bind-attr class=":transaction-type-subheader credit.status"}}>
		<div class="tt-label">Credit</div>
		<div class="tt-content">
			<span class="tt-title">
				{{titleCase credit.status}}: {{formatCurrency credit.amount}}
			</span>
			<div class="tt-buttons">
				{{#if can_reverse_credit}}
					{{reverse-credit-modal credit=credit}}
				{{/if}}
			</div>
		</div>
	</div>

	<div class="transaction-body">
		<div class="row-fluid">
			<div class="span25 border-adjust">
				<section class="transaction-info">
					<div class="key-value-display">
						<header>
							<h3>Credit
								{{edit-transaction-modal transaction=credit}}
							</h3>
						</header>
						{{txn-description transaction=credit}}
					</div>
				</section>

				{{txn-funding-instrument funding_instrument=credit.bank_account}}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span25 border-adjust">
				{{view Balanced.ResourceLogsView contentBinding="credit"}}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span25 border-adjust">
				{{view Balanced.ResourceEventsView contentBinding="credit"}}
			</div>
		</div>
	</div>
</div>
