<table class="items non-interactive">
	<thead>
		<th class="span3"><span>Date</span></th>
		<th class="span9"><span>Email</span></th>
		<th class="span1"><span></span></th>
	</thead>
	<tbody>
		{{#each user in users}}
			<tr>
				<td>
					<span>
						<span class="icon-avatar"></span>
						{{humanReadableDateShort user.created_at}}
					</span>
				</td>
				<td {{bind-attr title="user.email_address"}}>
					<span class="wrap">
						{{user.email_address}}
					</span>
				</td>
				<td class="delete-container">
					<span>
						{{#unless user.noDelete}}
							{{user-delete-modal user=user}}
						{{/unless}}
					</span>
				</td>
			</tr>
		{{else}}
			<tr>
				<td colspan="3" class="no-results">
					<span>No results</span>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
