<table class="items non-interactive">
	<thead>
		<th class="col-md-3"><span>Date</span></th>
		<th class="col-md-8"><span>Email</span></th>
		<th class="col-icon"><span></span></th>
	</thead>
	<tbody>
		{{#each user in users}}
			<tr>
				{{view "tables/cells/linked-date-cell"
					item=user
					date=user.created_at
				}}
				<td {{bind-attr title="user.email_address"}}>
					<span class="wrap">
						{{user.email_address}}
					</span>
				</td>
				<td class="delete-container">
					<div>
						{{#unless user.noDelete}}
							<a href="#" {{action "delete" user}}>
								<i class="confirm-delete-user icon-table-x action"></i>
							</a>
						{{/unless}}
					</div>
				</td>
			</tr>
		{{else}}
			<tr>
				<td colspan="3" class="no-results">
					<span>No users</span>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
