<table class="items users-table">
	<tbody>
		{{#each user in users}}
			<tr>
				<td class="span4">
					<span class="wrap">
						<span class="icon-avatar"></span>
						{{humanReadableDateShort user.created_at}}
					</span>
				</td>
				<td class="span17" {{bind-attr title="user.email_address"}}>
					<span class="wrap">
						{{user.email_address}}
					</span>
				</td>
				<td class="span1 delete-container">
					<span class="wrap">
						{{#unless user.noDelete}}
							{{user-delete-modal user=user}}
						{{/unless}}
					</span>
				</td>
			</tr>
		{{else}}
			<tr>
				<td colspan="4" class="no-results">
					<span class="wrap">No results</span>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
