<div class="modal hide" id="withdraw-funds">
    <form {{action "save" on="submit" target="view"}}>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h2>Withdraw funds</h2>
        </div>
        <div class="modal-body">
            {{#unless view.bank_accounts }}
            <div class="alert alert-info row-full">
                You must have at least one bank account to withdraw funds.
            </div>
            {{/unless}}
            {{partial "modals/modalErrors"}}

            <div {{bindAttr class=":control-group view.model.validationErrors.destination_uri:error"}}>
                <label>Account number</label>

                {{view Ember.Select
                    contentBinding="view.bank_accounts"
                    valueBinding="view.model.destination_uri"
                    optionValuePath="content.uri"
                    optionLabelPath="content.description"
                    viewName="destination_uri"
                    class="span8"
                    name="destination_uri"
                }}
            </div>

            <div class="control-group">
                <label class="inline">Account holder's name</label> {{view.destination.name}}
            </div>

            <div class="control-group">
                <label class="inline">Bank</label> {{view.destination.bank_name}}
            </div>

            <hr class="separation-line" />

            <div class="control-group">
                <label>Available balance</label>
                <div class="number1a">{{ formatCurrency view.marketplace.in_escrow }}</div>
            </div>

            <div {{bindAttr class=":control-group view.model.validationErrors.amount:error"}}>
                <label>Amount</label>
                <div class="input-prepend">
                    <span class="add-on">$</span>
                    {{view Ember.TextField valueBinding="view.dollar_amount" class="span3"}}
                </div>
            </div>

            <div {{bindAttr class=":control-group view.model.validationErrors.appears_on_statement_as:error"}}>
                <label class="control-label">Appears on statement as ({{view.destination.appears_on_statement_max_length}} characters max)</label>
                <div class="controls">
                    {{view Ember.TextField valueBinding="view.model.appears_on_statement_as" name="appears_on_statement_as" class="full" maxlengthBinding="view.destination.appears_on_statement_max_length"}}
                </div>
            </div>

            <div class="control-group">
                <label>Internal Description</label>
                {{view Ember.TextField valueBinding="view.model.description" class="full description" maxlengthBinding="Balanced.MAXLENGTH.DESCRIPTION"}}
            </div>
        </div>
        <div class="modal-informational">
            <p>Funds will appear in your balance in 1-2 business days.</p>
        </div>
        <div class="modal-footer">
            {{view Balanced.ModalActionButtonsView submitTitle="Withdraw"}}
        </div>
    </form>
</div>
<a class="btn withdraw-funds-btn" {{action open}}>Withdraw funds</a>
