<h1 class="page-title ellipsis">{{model.message.request.method}} {{model.condensed_request_url}}</h1>

<div class="row">
	<div class="span20 key-value-display mb-large">
		<div class="key-value-row">
			<label class="key">Date</label>
			<span class="value">
				<time {{bindAttr datetime="model.created_at"}} {{bindAttr title="model.created_at"}}>{{humanReadableDateLong model.created_at}}</time>
			</span>
		</div>
		<div class="key-value-row">
			<label class="key">Method</label>
			<span class="value">{{model.message.request.method}}</span>
		</div>
		<div class="key-value-row">
			<label class="key">URI</label>
			<span class="value">{{model.short_url}}</span>
		</div>
		<div class="key-value-row">
			<label class="key">Status</label>
			<span class="value">{{colorizeStatus model.message.response.status}}</span>
		</div>
		<div class="key-value-row">
			<label class="key">Request ID</label>
			<span id="log-request-id" class="value">{{model.guru_id}}</span>
		</div>
		<div class="key-value-row">
			<label class="key">IP address</label>
			<span class="value">{{model.message.request.headers.X-Real-Ip}} {{model.geo_ip}}</span>
		</div>
		<div class="key-value-row">
			<label class="key">User-agent</label>
			<span class="value">{{model.message.request.headers.User-Agent}}</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="span22">
		<section class="request-info">
			<header>
				<h3>Request body</h3>
			</header>

			{{view Balanced.PrettyPrintView contentBinding=model.message.request.payload}}
		</section>
	</div>
</div>

<div class="row">
	<div class="span22">
		<section class="mb-none response-info">
			<header>
				<h3>Response body</h3>
			</header>

			{{view Balanced.PrettyPrintView contentBinding=model.message.response.body}}
		</section>
	</div>
</div>
