<form id="forgot-form" method="POST" {{bind-attr class="hasError:error"}} {{action "forgotPass" on="submit"}}>
	{{view "form-fields/base-form-field" model=model inputType="email" inputClassNames="full" labelText="Email address" field="email_address"}}

	<div class="pull-right">
		<button {{bind-attr class=":btn model.isSaving:disabled"}} type="submit" {{bind-attr disabled="model.isSaving"}}>Reset</button>
	</div>
</form>
