<form id="forgot-form" method="POST" {{bind-attr class="hasError:error"}} {{action "forgotPass" on="submit"}}>
	{{view Balanced.BaseFormFieldView model=model inputType="email" inputClassNames="full" labelText="Email address" field="email_address"}}

	<div class="pull-right">
		{{#if model.isSaving}}
			<span class="btn btn-loader">
				<span class="loader loading"></span>
			</span>
		{{/if}}
		<button {{bind-attr class=":btn model.isSaving:btn-disabled"}} type="submit" {{bind-attr disabled="model.isSaving"}}>Reset</button>
	</div>
</form>
