{{#view "form-fields/form-section" model=view.model accountTypes=view.accountTypes sectionTitle="Bank account information"}}
	{{view "form-fields/text-form-field"
		model=view.model
		inputClassNames="full"
		labelText="Name on account"
		field="name"
	}}

	{{view "form-fields/text-form-field"
		model=view.model
		labelText="Routing number"
		field="routing_number"
	}}

	{{view "form-fields/text-form-field"
		model=view.model
		labelText="Account number"
		field="account_number"
	}}

	{{view "form-fields/select-form-field"
		model=view.model
		content=view.accountTypes
		labelText="Bank account type"
		field="account_type"
	}}
{{/view}}

{{#view "form-fields/form-section" sectionTitle="Bank account verification required"}}
	<div class="form-group">
		<p>To verify your bank account, we'll make 2 small deposits, each less than $1.00. Check your bank account in 1-2 business days and enter the amounts by clicking on the verify link in the dashboard.</p>
	</div>
{{/view}}

{{#view "form-fields/form-section" sectionTitle="Add funds now" model=view.initialDepositModel}}
	<div class="form-group">
		<p>While you're waiting to verify your bank account, you may fund your balance with your credit/debit card to send payouts immediately.</p>
	</div>
	<div class="form-group">
		<label class="control-label">
			{{input type="checkbox" checked=view.parentView.isInitialDepositCreate}}
			Add funds with my credit/debit card
		</label>
	</div>

	{{#if view.parentView.isInitialDepositCreate}}
		{{view "form-fields/text-form-field" model=view.model inputClassNames="full"
			labelText="Card number"
			field="number"
		}}

		<div {{bind-attr class=":form-group view.model.validationErrors.expiration_date.length:has-error"}}>
			<label {{bind-attr for=view.expirationMonth.elementId}}>Expiration date</label>
			<div>
				{{view Ember.Select
					content=view.parentView.expirationMonths
					value=view.model.expiration_month
					viewName="expirationMonth"
					class="col-md-2"
				}}
				{{view Ember.Select
					content=view.parentView.expirationYears
					value=view.model.expiration_year
					class="col-md-2"
				}}
			</div>
			{{#each message in view.model.validationErrors.expiration_date.fullMessages}}
				<div class="alert alert-error">{{message}}</div>
			{{/each}}
		</div>
		{{view "form-fields/text-form-field" model=view.model
			labelText="Security code"
			field="cvv"
		}}
		{{view "form-fields/text-form-field" model=view.model
			labelText="Postal code"
			field="postal_code"
		}}
		{{view "form-fields/text-form-field" model=view.model inputClassNames="full"
			labelText="Amount"
			field="dollar_amount"
		}}
	{{/if}}
{{/view}}
