{{#link-to view.routeName view.item}}
<div>
	<span class="sl-note">{{view.dateLabel}}: {{human-readable-date-time view.date}}</span>
	<h2 {{bind-attr class="view.isBlank:sl-none :title"}}>{{view.title}}</h2>
	<div class="amount">
		<div class="sl-note">{{view.amountLabel}}</div>
		<div>{{view.amount}}</div>
	</div>
</div>
{{/link-to}}
