<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAAStJREFUWIXtlT1SwzAQRp+YHMAeGsrcIGlc4yukpDHODaBLF6dzB5yAkIYyOYJSu/INUtIw9g1MgZhhZJlITogbfZ12Pu2+0c+uaJqGIXU1aHUP4AGAkR4QQlDF0Rh4BWKgBl5CWWQuiRebyROQAgEggXmelAf913WdwFYVRyVYVnGUOhRPgQe1F5Vra/K2AKo4CoCpwXtvC9DhnS42k/FRgD9Un+rNk/JwFCCURc33nel6cwAweXcmY9cJzICVApHALJSFMYFJeVLuVI6f/c/A3OQV+qsUQtjW6SXbX3AxeQAP4AFa09BWH+/XGXCrlvubu8+sT55ejUgVX2rhlQ3EuRqRadq5TMuTAQLL2L8BmAaT9bA6B8AjsP61XquYs1qP8NIavA94AA/wBRJiTbdsTuB4AAAAAElFTkSuQmCC" type="image/x-icon">
    <title>Balanced</title>
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ cssFile }}">
    <link rel="stylesheet" href="{{ printCssFile }}" media="print">
</head>
<body>

<section id="balanced-app"></section>

<script type="text/javascript">
    var ENV = {{{ env }}};
</script>

<script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>
<script src="//js.balancedpayments.com/1.1/balanced.js"></script>
<script src="{{ jsLibFile }}"></script>
<script src="{{ jsDashboardFile }}"></script>

<script type="text/javascript">

window.setupBalanced();

$(document).ready(window.Balanced.onLoad);

</script>

{{#if includeLiveReload }}
<script src="http://localhost:35729/livereload.js"></script>
{{/if}}

</body>
</html>
