<div class="modal hide" {{bind-attr id=view.idElement}}>
	<form {{action "save" target="view" on="submit"}}>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>{{view.name}}</h2>
		</div>

		<div class="modal-body">
			{{view.description}}
		</div>

		<div class="modal-footer">
			{{view Balanced.ModalActionButtonsView submitTitle=view.submitTitle submittingTitle=view.submittingTitle}}
		</div>
	</form>
</div>
