<div class="modal hide" id="add-card">
    <form {{action "save" on="submit" target="view"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Add a credit card</h2>
    </div>
    <div class="modal-body">
        {{ partial "modals/modalErrors" }}

        <div {{bindAttr class=":control-group view.model.validationErrors.name:error"}}>
            <label>Card holder's name</label>
            {{view Ember.TextField valueBinding="view.model.name" name="name" class="full"}}
        </div>

        <div {{bindAttr class=":control-group view.model.validationErrors.number:error"}}>
            <label>Card Number</label>
            {{view Ember.TextField valueBinding="view.model.number" name="number" class="full"}}
        </div>

        <div {{bindAttr class=":control-group view.model.validationErrors.security_code:error"}}>
            <label>Security Code</label>
            {{view Ember.TextField valueBinding="view.model.security_code" name="security_code" class="full"}}
        </div>

        <div {{bindAttr class=":control-group view.expiration_error:error"}}>
            <label>Expiration Date</label>
            {{view Ember.Select
                contentBinding="view.validMonths"
                valueBinding="view.model.expiration_month"
                prompt="Month"
                name="expiration_month"
            }}
            {{view Ember.Select
                contentBinding="view.validYears"
                valueBinding="view.model.expiration_year"
                prompt="Year"
                name="expiration_year"
            }}
        </div>

        <div {{bindAttr class=":control-group view.model.validationErrors.postal_code:error"}}>
            <label>Billing Zip Code</label>
            <span>Strongly recommended for American Express cards</span>
            {{view Ember.TextField valueBinding="view.model.postal_code" name="postal_code" class="full"}}
        </div>
    </div>
    <div class="modal-informational">
        <img src="images/credit-card-instructions.png" alt="Credit Card Instructions" class="modal-informational-content"/>
    </div>
    <div class="modal-footer">
        {{view Balanced.ModalActionButtonsView submitTitle="Add"}}
    </div>
    </form>
</div>
