{{#view "form-fields/form-section" appearsOnStatementAsLabelText=view.appearsOnStatementAsLabelText bankAccountTypes=view.bankAccountTypes model=view.model sectionTitle="Payment information"}}
	{{view "form-fields/text-form-field" model=view.model field="name" labelText="Name on account" inputClassNames="full"}}
	{{view "form-fields/text-form-field" model=view.model field="routing_number" labelText="Routing number" inputClassNames="full" tooltipTitle="Where is the routing number?" tooltipContent='<img src="images/bank-account-instructions.png" alt="Bank Account Instructions"/>'}}
	{{view "form-fields/text-form-field" model=view.model field="account_number" labelText="Account number" inputClassNames="full" tooltipTitle="Where is the account number?" tooltipContent='<img src="images/bank-account-instructions.png" alt="Bank Account Instructions"/>'}}

	{{view "form-fields/select-form-field"
		model=view.model
		content=view.bankAccountTypes
		value=view.model.account_type
		labelText="Account type"
		optionValuePath="content.value"
		optionLabelPath="content.label"
		name="account_type"
		field="source"
	}}

	{{view "form-fields/amount-form-field" model=view.model field="dollar_amount" labelText="Amount"}}

	{{view "form-fields/text-form-field" model=view.model field="appears_on_statement_as" labelText=view.appearsOnStatementAsLabelText maxlength=view.appearsOnStatementAsMaxLength inputClassNames="full"}}

	{{view "form-fields/text-form-field" model=view.model field="description" labelText="Internal description" inputClassNames="full"}}
{{/view}}

{{#view "form-fields/form-section" sectionTitle="Note"}}
	<div class="form-group">
		<p>Funds will appear in the bank account by the next business day. First time credits to new accounts may take 3-5 business days.</p>
	</div>
{{/view}}
