<div class="modal hide change-password-modal wide-modal">
    <form {{action save on="submit" target="view"}} class="form-horizontal split-labels">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h2>Change password</h2>
        </div>
        <div class="modal-body modal-with-headers">
            <div class="modal-content-error">
                {{partial "modals/modalErrors"}}
            </div>

            <div class="modal-informational modal-informational-light">
              <p class="modal-informational-content fields-header"><strong>Change Password</strong></p>
            </div>

            <div class="modal-content">
                <div {{bindAttr class=":control-group view.model.validationErrors.existing_password:error"}}>
                    <label class="control-label">Old Password</label>
                    <div class="controls">
                        {{view Ember.TextField type="password" name="existing_password" valueBinding="view.model.existing_password" class="full"}}
                    </div>
                </div>

                <div {{bindAttr class=":control-group view.model.validationErrors.password:error"}}>
                    <label class="control-label">New Password</label>
                    <div class="controls">
                        {{view Ember.TextField type="password" name="password" valueBinding="view.model.password" class="full"}}
                    </div>
                </div>

                <div {{bindAttr class=":control-group view.model.validationErrors.confirm_password:error"}}>
                    <label class="control-label">Confirm New Password</label>
                    <div class="controls">
                        {{view Ember.TextField type="password" name="confirm_password" valueBinding="view.model.confirm_password" class="full"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{view Balanced.ModalActionButtonsView submitTitle="Change" submitingTitle="Changing"}}
        </div>
    </form>
</div>
