<div class="modal hide change-email-modal wide-modal">
	<form {{action "save" on="submit" target="view"}} class="form-horizontal split-labels">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Change email address</h2>
		</div>

		<div class="modal-body modal-with-headers">
			{{partial "modals/modalErrors"}}

			<div class="modal-content">
				<div class="control-group">
					<label class="control-label">Current email address</label>
					<div class="controls text-label">{{view.model.email_address}}</div>
				</div>

				<div {{bind-attr class=":control-group view.model.validationErrors.email:error"}}>
					<label class="control-label">New email address</label>

					<div class="controls">
						{{view Ember.TextField valueBinding="view.model.email" name="email" class="full"}}
					</div>
				</div>

				<div {{bind-attr class=":control-group view.model.validationErrors.existing_password:error"}}>
					<label class="control-label">Current password</label>

					<div class="controls">
						{{view Ember.TextField type="password" name="existing_password" valueBinding="view.model.existing_password" class="full"}}
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			{{view Balanced.ModalActionButtonsView submitTitle="Change" submitingTitle="Changing"}}
		</div>
	</form>
</div>
