<form {{action "submit" view.model on="submit" target="view"}} class="form-horizontal split-labels">
	<div class="modal-body modal-with-headers">
		<div class="modal-content">
			<div {{bind-attr class=":control-group view.model.validationErrors.existing_password:error"}}>
				<label class="control-label">Old Password</label>

				<div class="controls">
					{{view Ember.TextField type="password" name="existing_password" valueBinding="view.model.existing_password" class="full"}}
					<div class="alert alert-error label4b">{{format-error view.model.validationErrors.existing_password}}</div>
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.password:error"}}>
				<label class="control-label">New Password</label>

				<div class="controls">
					{{view Ember.TextField type="password" name="password" valueBinding="view.model.password" class="full"}}
					<div class="alert alert-error label4b">{{format-error view.model.validationErrors.password}}</div>
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.confirm_password:error"}}>
				<label class="control-label">Confirm New Password</label>

				<div class="controls">
					{{view Ember.TextField type="password" name="confirm_password" valueBinding="view.model.confirm_password" class="full"}}
					<div class="alert alert-error label4b">{{format-error view.model.validationErrors.confirm_password}}</div>
				</div>
			</div>
		</div>
	</div>
	{{view "modals/modal-base-footer" isSaving=view.isSaving submitButtonText="Change"}}
</form>
