<div class="modal wide-modal hide" id="confirm-verification">
    <form {{action "save" on="submit" target="view"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Confirm your bank account</h2>
    </div>
    <div class="modal-body">
        {{#unless view.model.no_attempts_remaining}}
            {{#unless view.failedConfirmation}}
                <div class="row-pad">
                    <p class="label1a">Check the two deposits Balanced made into this bank account and enter the amounts below.</p>
                </div>
                {{ partial "modals/modalErrors" }}
            {{else}}
                <div class="alert alert-error row-full">
                    <p class="label1a">Unable to verify.</p>
                    <p>Please check the deposit amounts and enter them again.</p>
                </div>
            {{/unless}}
        {{else}}
            <div class="alert alert-error row-full">
                <p class="label1a">Unable to verify.</p>
                <p>You have reached the maximum number of tries allowed. Please restart the verification process.</p>
            </div>
        {{/unless}}

        <div id="verification-attempts" class="row-pad row-full row-borders">
            <p class="label3a">Verification attempts remaining: {{view.model.attempts_remaining}}</p>
        </div>

        <div class="control-group edit-inline">
            <label class="inline-label">Bank account number</label>
            {{view.funding_instrument.account_number}}
        </div>

        <div class="control-group edit-inline">
            <label class="inline-label">Bank</label>
            {{view.funding_instrument.bank_name}}
        </div>

        <div {{bindAttr class=":control-group view.amount_1_highlight:error"}}>
            <label>First Amount</label>
            <div class="input-prepend">
                <span class="add-on">$0.</span>
                {{view Ember.TextField name="amount_1" valueBinding="view.model.amount_1" class="span2"}}
            </div>
        </div>

        <div {{bindAttr class=":control-group view.amount_2_highlight:error"}}>
            <label>Second Amount</label>
            <div class="input-prepend">
                <span class="add-on">$0.</span>
                {{view Ember.TextField name="amount_2" valueBinding="view.model.amount_2" class="span2"}}
            </div>
        </div>
    </div>
    <div class="modal-informational">
        <p class="modal-informational-content">If the deposits are not received after five business days, the transactions may have failed because of incorrect bank account information. Remove the erroneous bank account and add a new bank account.</p>
    </div>
    <div class="modal-footer">
        {{#unless view.model.no_attempts_remaining}}
            {{view Balanced.ModalActionButtonsView submitTitle="Confirm"}}
        {{else}}
            <button class="btn danger" name="modal-submit" data-dismiss="modal" aria-hidden="true">Close</button>
        {{/unless}}
    </div>
    </form>
</div>
