<div class="modal hide" id="create-bank-account">
    <form {{action "save" on="submit" target="view"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Create bank account</h2>
    </div>
    <div class="modal-body">
        <div {{bindAttr class=":control-group view.nameError:error"}}>
            <label>Name</label>
            {{view Balanced.OneWayTextField sourceBinding="name" viewName="name" class="full"}}
        </div>
        
        <div {{bindAttr class=":control-group view.accountNumberError:error"}}>
            <label>Account number</label>
            {{view Balanced.OneWayTextField sourceBinding="account_number" viewName="account_number" class="full"}}
        </div>

        <div {{bindAttr class=":control-group view.routingNumberError:error"}}>
            <label>Routing Number</label>
            {{view Balanced.OneWayTextField sourceBinding="routing_number" viewName="routing_number" class="full"}}
        </div>

        <div {{bindAttr class=":control-group view.typeError:error"}}>
            <label>Type</label>
            {{view Balanced.OneWayTextField sourceBinding="type" viewName="type" class="full"}}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn">Create</button>
    </div>
    </form>
</div>
