<form class="form-horizontal split-labels" {{action "save" target="view" on="submit"}}>
	<div class="modal-body">
		{{view Balanced.FormFields.StaticTextModalFormFieldView
			label="Customer"
			displayText=view.customer.display_me_with_email
		}}

		{{#if view.fundingInstruments}}
			<div {{bind-attr class=":control-group view.model.validationErrors.source_uri:error"}}>
				<label class="control-label" {{bind-attr for=view.destination.elementId}}>Payment method</label>
				<div class="controls">
					{{view Ember.Select
						contentBinding="view.fundingInstruments"
						valueBinding="view.model.source"
						optionValuePath="content"
						optionLabelPath="content.description_with_type"
						viewName="source"
						class="span8"
						name="source"
					}}
					{{modalFieldErrors view.model.validationErrors.destination_uri}}
				</div>
			</div>
		{{else}}
			<div class="alert alert-error">
				The customer must have at least one funding instrument to credit.
			</div>
		{{/if}}

		{{view Balanced.FormFields.StaticTextModalFormFieldView
			label="Name on account"
			displayText=view.model.source.name
		}}
		{{view Balanced.FormFields.StaticTextModalFormFieldView
			label="Bank"
			displayText=view.model.source.formatted_bank_name
		}}

		{{#view Balanced.FormFields.ModalFormFieldView model=view.model fieldName="dollar_amount" label="Amount"}}
			<div class="input-prepend">
				<span class="add-on">$</span>
				{{view Ember.TextField value=view.value class="span3" name="dollar_amount" viewName="inputElement"}}
			</div>
		{{/view}}


		{{#view Balanced.FormFields.ModalFormFieldView model=view.model fieldName="appears_on_statement_as" label=view.appearsOnStatementAsLabel maxLength=view.appearsOnStatementAsMaxLength}}
			{{view Ember.TextField value=view.value name="appears_on_statement_as"  viewName="inputElement" class="full" maxlength=view.maxLength}}
		{{/view}}

		{{#view Balanced.FormFields.ModalFormFieldView model=view.model fieldName="description" label="Internal description"}}
			{{view Ember.TextField value=view.value class="full" maxlength=Balanced.MAXLENGTH.DESCRIPTION viewName="inputElement" name="description"}}
		{{/view}}
	</div>

	{{view "modals/modal-base-footer" isSaving=view.isSaving submitButtonText="Debit"}}
</form>
