<form class="form-horizontal split-labels" {{action "save" on="submit" target=view}}>
	<div class="modal-body modal-with-headers">
		{{partial "modals/modal-errors"}}
		<div class="modal-content">
			<div {{bind-attr class=":control-group view.model.validationErrors.name:error"}}>
				<label class="control-label">Name on account</label>

				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.name" name="name" class="full"}}
					<div class="alert alert-error label4b">{{formatError view.model.validationErrors.name}}</div>
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.number:error"}}>
				<label class="control-label">Card Number</label>

				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.number" name="number" class="full"}}
					<div class="alert alert-error label4b">{{formatError view.model.validationErrors.number}}</div>
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.cvv:error"}}>
				<label class="control-label">Security Code</label>

				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.cvv" name="cvv" class="full"}}
					<div class="alert alert-error label4b">{{formatError view.model.validationErrors.cvv}}</div>
				</div>
			</div>

			<div {{bind-attr class=":control-group view.expiration_error:error"}}>
				<label class="control-label">Expiration Date</label>

				<div class="controls inline-control">
					{{view Ember.Select
						contentBinding="view.validMonths"
						valueBinding="view.model.expiration_month"
						prompt="Month"
						name="expiration_month"
					}}
					{{view Ember.Select
						contentBinding="view.validYears"
						valueBinding="view.model.expiration_year"
						prompt="Year"
						name="expiration_year"
					}}

					{{#each message in view.model.validationErrors.expiration_month.fullMessages}}
							<div class="alert alert-error label4b">{{formatError message}}</div>
					{{/each}}
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.address.postal_code:error"}}>
				<label class="control-label">Billing Zip Code</label>
				<div class="controls">
					<span>Required for American Express cards</span>

					{{view Ember.TextField valueBinding="view.model.address.postal_code" name="postal_code" class="full"}}
				</div>
			</div>
		</div>

		<div class="modal-informational modal-informational-light special-rollover"><a href="#" class="more-info" {{action "toggleOptionalFields" target="view"}}>
			<div {{bind-attr class=":disclosure-button view.optionalFieldsOpen:icon-carat-down:icon-carat-right :icon"}}></div>
			<p class="modal-informational-content fields-header"><strong>Address info</strong> (all fields are optional)</p></a>
		</div>

		<div {{bind-attr class=":modal-content :optional-modal-fields view.optionalFieldsOpen:open"}}>
			<div {{bind-attr class=":control-group view.model.validationErrors.address.line1:error"}}>
				<label class="control-label">Street address (line 1)</label>

				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.address.line1" name="line1" class="full"}}
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.address.line2:error"}}>
				<label class="control-label">Street address (line 2)</label>

				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.address.line2" name="line2" class="full"}}
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.address.city:error"}}>
				<label class="control-label">City</label>

				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.address.city" name="city" class="full"}}
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.address.state:error"}}>
				<label class="control-label">State or Province</label>

				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.address.state" name="state" class="full"}}
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.address.country_code:error"}}>
				<label class="control-label">Country</label>

				<div class="controls">
					{{view "form-fields/country-select" valueBinding="view.model.address.country_code" name="country_code" class="full"}}
				</div>
			</div>
		</div>
	</div>

	<div class="modal-informational">
		<img src="images/credit-card-instructions.png" alt="Credit Card Instructions" class="modal-informational-content"/>
	</div>

	{{view "modals/modal-base-footer" isSaving=view.isSaving submitButtonText="Add"}}
</form>
