<form {{action "save" on="submit" target=view}} class="form-horizontal split-labels">
	<div class="modal-body modal-with-headers">
		{{partial "modals/modalErrors"}}
		<div class="modal-content">
			<div {{bind-attr class=":control-group view.model.validationErrors.name:error"}}>
				<label class="control-label">Name on account</label>
				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.name" name="name" class="full"}}
					<div class="alert alert-error row-full label4b">{{formatError view.model.validationErrors.name}}</div>
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.routing_number:error"}}>
				<label class="control-label">Routing Number</label>
				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.routing_number" name="routing_number" class="full"}}
					<div class="alert alert-error row-full label4b">{{formatError view.model.validationErrors.routing_number}}</div>
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.account_number:error"}}>
				<label class="control-label">Account number</label>
				<div class="controls">
					{{view Ember.TextField valueBinding="view.model.account_number" name="account_number" class="full"}}
					<div class="alert alert-error row-full label4b">{{formatError view.model.validationErrors.account_number}}</div>
				</div>
			</div>

			<div {{bind-attr class=":control-group view.model.validationErrors.type:error"}}>
				<label class="control-label" {{bind-attr for=view.accountType.elementId}}>Account type</label>

				<div class="controls">
					{{view Ember.Select
						content=view.bankAccountTypes
						optionValuePath="content.value"
						optionLabelPath="content.label"
						value=view.model.account_type
						name="account_type"
						viewName="accountType"
					}}
				</div>

				{{#each message in view.model.validationErrors.type.fullMessages}}
					<div class="alert alert-error label4b">
						{{formatError message}}
					</div>
				{{/each}}
			</div>
		</div>
		<div class="modal-informational">
			<img src="images/bank-account-instructions.png" alt="Bank Account Instructions" class="modal-informational-content"/>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn secondary" type="button" name="modal-cancel" data-dismiss="modal" aria-hidden="true" {{bind-attr disabled="view.isSaving"}}>Cancel</button>
		<button class="btn" type="submit" name="modal-submit" {{bind-attr disabled="view.isSaving"}}>Add</button>
	</div>
</form>
