<form class="form-horizontal split-labels" {{action "submit" target="view" on="submit"}}>
	<div class="modal-body">
		<div {{bind-attr class=":control-group view.model.validationErrors.name:error"}}>
			<label class="control-label" {{bind-attr for=view.name.elementId}}>Card holder's name</label>
			<div class="controls">
				{{input valueBinding="view.model.name" class="full" name="name" viewName="name"}}
				<div class="alert alert-error label4b">{{formatError view.model.validationErrors.name}}</div>
			</div>
		</div>

		<div {{bind-attr class=":control-group view.model.validationErrors.number:error"}}>
			<label class="control-label" {{bind-attr for=view.number.elementId}}>Card Number</label>
			<div class="controls">
				{{input valueBinding="view.model.number" class="full" name="number" viewName="number"}}
				<div class="alert alert-error label4b">{{formatError view.model.validationErrors.number}}</div>
			</div>
		</div>

		<div {{bind-attr class=":control-group view.model.validationErrors.cvv:error"}}>
			<label class="control-label" {{bind-attr for=view.cvv.elementId}}>Security Code</label>
			<div class="controls">
				{{view Ember.TextField valueBinding="view.model.cvv" name="cvv" class="full"}}
				<div class="alert alert-error label4b">{{formatError view.model.validationErrors.cvv}}</div>
			</div>
		</div>

		<div {{bind-attr class=":control-group view.model.validationErrors.expiration_date:error"}}>
			<label class="control-label" {{bind-attr for=view.expirationMonth.elementId}}>Expiration Date</label>

			<div class="controls inline-control">
				{{view Ember.Select
					content=view.validMonths
					value=view.model.expiration_month
					prompt="Month"
					name="expiration_month"
					viewName="expirationMonth"
				}}
				{{view Ember.Select
					content=view.validYears
					value=view.model.expiration_year
					prompt="Year"
					name="expiration_year"
				}}
				<div class="alert alert-error label4b">{{formatError view.model.validationErrors.expiration_date}}</div>
			</div>
		</div>

		<div {{bind-attr class=":control-group view.model.validationErrors.address.postal_code:error"}}>
			<label class="control-label" {{bind-attr for=view.address.postal_code.elementId}}>Billing Zip Code</label>
			<div class="controls">
				<span>Required for American Express cards</span>
				{{view Ember.TextField valueBinding="view.model.address.postal_code" name="postal_code" class="full" viewName="postal_code"}}
				<div class="alert alert-error label4b">{{formatError view.model.validationErrors.address.postal_code}}</div>
			</div>
		</div>

		<div {{bind-attr class=":control-group view.model.validationErrors.dollar_amount:error"}}>
			<label class="control-label">Amount</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">$</span>
					{{view Ember.TextField valueBinding="view.model.dollar_amount" class="span3" name="dollar_amount" viewName="dollar_amount"}}
				</div>
				<div class="alert alert-error label4b">{{formatError view.model.validationErrors.dollar_amount}}</div>
			</div>
		</div>

		<div {{bind-attr class=":control-group view.model.validationErrors.appears_on_statement_as:error"}}>
			<label class="control-label">Appears on statement as ({{view.appearsOnStatementAsMaxLength}} characters max)</label>

			<div class="controls">
				{{view Ember.TextField valueBinding="view.model.appears_on_statement_as" name="appears_on_statement_as" class="full" maxlengthBinding="view.appearsOnStatementAsMaxLength"}}
				<div class="alert alert-error label4b">
					{{formatError view.model.validationErrors.appears_on_statement_as}}
				</div>
			</div>
		</div>

		<div {{bind-attr class=":control-group view.model.validationErrors.description:error"}}>
			<label class="control-label" {{bind-attr for=view.description.elementId}}>Internal Description</label>

			<div class="controls">
				{{view Ember.TextField valueBinding="view.model.description" name="description" class="full"
					maxlengthBinding="Balanced.MAXLENGTH.DESCRIPTION" viewName="description"}}
			</div>
		</div>
	</div>

	<div class="modal-informational">
		<img src="images/credit-card-instructions.png" alt="Credit Card Instructions" class="modal-informational-content"/>
	</div>
	<div class="modal-footer">
		<button class="btn secondary" type="button" name="modal-cancel" data-dismiss="modal" aria-hidden="true" {{bind-attr disabled="view.isSaving"}}>Cancel</button>
		<button class="btn" type="submit" name="modal-submit" {{bind-attr disabled="view.isSaving"}}>Debit</button>
	</div>
</form>
