<div class="modal wide-modal hide" id="edit-marketplace-info">
    <form class="form-horizontal split-labels" {{action "save" on="submit" target="view"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Edit marketplace info</h2>
    </div>
    <div class="modal-body modal-with-headers">
        {{partial "modals/modalErrors"}}

        <div class="modal-content">
          <div {{bindAttr class=":control-group view.model.validationErrors.name:error"}}>
              <label class="control-label">Name</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="view.model.name" name="name" class="full"}}
              </div>
          </div>

          <div {{bindAttr class=":control-group view.model.validationErrors.support_email_address:error"}}>
              <label class="control-label">Support email</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="view.model.support_email_address" name="support_email_address" class="full"}}
              </div>
          </div>

          <div {{bindAttr class=":control-group view.model.validationErrors.domain_url:error"}}>
              <label class="control-label">Domain URL</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="view.model.domain_url" name="domain_url" class="full"}}
              </div>
          </div>

          <div {{bindAttr class=":control-group view.model.validationErrors.support_phone_number:error"}}>
              <label class="control-label">Support phone number</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="view.model.support_phone_number" name="support_phone_number" class="full"}}
              </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        {{view Balanced.ModalActionButtonsView submitTitle="Save" submittingTitle="Saving..."}}
    </div>
    </form>
</div>
