{{#view "form-fields/form-section" sectionTitle="Requirements"}}
	<p>To apply for production access you must meet these requirements.</p>
	<ul>
		<li>Have a us bank account</li>
		<li>U.S. registered company with Employee Identification Number</li>
		<li>Company representative who is a permanent U.S. resident</li>
	</ul>
{{/view}}

{{#view "form-fields/form-section" marketplaceCategories=view.marketplaceCategories model=view.model sectionTitle="Business type"}}
	<p>Prohibited businesses include:</p>
	<ul>
		<li>Equity &amp; real estate crowdfunding</li>
		<li>Tenant/Landlord payments</li>
		<li>Money transmission (sending money to your friends)</li>
		<li>Loan payments</li>
	</ul>
	<a href="#">Review the full list</a>

	{{view "form-fields/select-form-field"
		model=view.model
		content=view.marketplaceCategories
		labelText="Business type"
		field="marketplaceCategory"
	}}
{{/view}}
{{#view "form-fields/form-section" companyTypes=view.companyTypes model=view.model sectionTitle="Company type"}}
	{{view "form-fields/select-form-field"
		model=view.model
		content=view.companyTypes
		labelText="Business type"
		field="businessType"
	}}
{{/view}}
{{#if view.isBusiness}}
	{{#view "form-fields/form-section" model=view.model sectionTitle="Business information"}}
		{{view "form-fields/text-form-field" model=view.model inputClassNames="full"
			labelText="Legal business name"
			field="business.name"
		}}
		{{view "form-fields/text-form-field" model=view.model
			labelText="Employee identification number"
			field="business.tax_id"
		}}

		{{view "form-fields/text-form-field" model=view.model inputClassNames="full"
			labelText="Business address"
			field="business.address"
		}}
		{{view "form-fields/text-form-field" model=view.model
			labelText="Postal code"
			field="business.postal_code"
		}}

		{{view "form-fields/text-form-field" model=view.model
			labelText="Incorporation date"
			field="incorporationDate"
			inputPlaceholder="MM / YYYY"
			explanationText="MM / YYYY"
		}}
		{{view "form-fields/text-form-field" model=view.model
			labelText="Phone number"
			field="phone_number"
		}}
	{{/view}}
{{/if}}

{{#view "form-fields/form-section" model=view.model sectionTitle="Personal information"}}
		{{view "form-fields/text-form-field" model=view.model
			inputClassNames="full"
			labelText="Full legal name"
			field="person.name"
		}}
		{{view "form-fields/text-form-field" model=view.model
			labelText="Date of birth"
			field="person.dob"
			placeholder="MM / DD / YYYY"
		}}
		{{view "form-fields/text-form-field" model=view.model
			labelText="Postal code"
			field="person.postal_code"
		}}
		{{view "form-fields/text-form-field" model=view.model
			labelText="Social security number (last 4)"
			field="person.ssn_last_4"
			explanationText="A verifiable social security number is needed to underwrite your application. No credit checks will be performed."
		}}

		{{#unless view.model.isBusiness}}
			{{view "form-fields/text-form-field" model=view.model inputClassNames="full"
				labelText="Phone number"
				field="phone_number"
				explanationText="(555) 555-5555"
			}}
		{{/unless}}
{{/view}}
