<div class="modal wide-modal hide" id="pay-seller">
    <form class="form-horizontal split-labels" {{action "save" target="view" on="submit"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Pay a seller</h2>
    </div>
    <div class="modal-body">
        {{ partial "modals/modalErrors" }}

        <div {{bindAttr class=":control-group view.model.validationErrors.name:error"}}>
            <label class="control-label">Account holder's name</label>
            <div class="controls">
                {{view Ember.TextField valueBinding="view.model.bank_account.name" class="full"}}
            </div>
        </div>

        <div {{bindAttr class=":control-group view.model.validationErrors.routing_number:error"}}>
            <label class="control-label">Routing Number</label>
            <div class="controls">
                {{view Ember.TextField valueBinding="view.model.bank_account.routing_number" class="full"}}
            </div>
        </div>

        <div {{bindAttr class=":control-group view.model.validationErrors.account_number:error"}}>
            <label class="control-label">Account number</label>
            <div class="controls">
                {{view Ember.TextField valueBinding="view.model.bank_account.account_number" class="full"}}
            </div>
        </div>

        <div {{bindAttr class=":control-group view.model.validationErrors.type:error"}}>
            <label class="control-label">Account type</label>
            <div class="controls">
                {{view Ember.Select
                       contentBinding="Balanced.BANK_ACCOUNT_TYPES"
                       optionValuePath="content.value"
                       optionLabelPath="content.label"
                       valueBinding="view.model.bank_account.type"
                }}
            </div>
        </div>

        <div {{bindAttr class=":control-group view.model.validationErrors.amount:error"}}>
            <label class="control-label">Amount</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">$</span>
                    {{view Ember.TextField valueBinding="view.amount_dollars" class="span3"}}
                </div>
            </div>
        </div>

        <div {{bindAttr class=":control-group view.model.validationErrors.appears_on_statement_as:error"}}>
            <label class="control-label">Appears on statement as</label>
            <div class="controls">
                {{view Ember.TextField valueBinding="view.model.appears_on_statement_as" name="appears_on_statement_as" class="full"}}
            </div>
        </div>

        <div {{bindAttr class=":control-group view.model.validationErrors.description:error"}}>
            <label class="control-label">Internal Description</label>
            <div class="controls">
                {{view Ember.TextField valueBinding="view.model.description" class="full" maxlengthBinding="Balanced.MAXLENGTH.DESCRIPTION"}}
            </div>
        </div>
    </div>
    <div class="modal-informational modal-informational-light">
        <div class="modal-informational-content modal-informational-split-content">
            <p class="informational-label">Funds will appear in the bank account by the next business day. First time credits to new accounts may take 3-5 business days.</p>
            <div class="informational-content">
                <img src="images/bank-account-instructions.png" alt="Bank Account Instructions"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{view Balanced.ModalActionButtonsView submitTitle="Credit"}}
    </div>
    </form>
</div>
