<div class="page-navigation">
	<div class="page-actions">
		<a class="btn" href="#" {{action "openChargeCardModal"}}>
			Charge
		</a>
		<a class="btn" href="#" {{action "openPaySellerModal"}}>
			Pay out
		</a>
	</div>

	<h1 class="page-title">
		{{pageTitle}}
		{{#if isLoading}}
			<div class="loader-container"><span class="loader loading"></span></div>
		{{/if}}
	</h1>
</div>
{{view Balanced.PaySellerModalView}}
{{view Balanced.ChargeCardModalView}}
