<form {{action "save" target=view on="submit"}}>
	<div class="modal-body">
		{{#each message in view.errorMessages}}
			<div class="alert alert-error">
				<p>{{message}}</p>
			</div>
		{{else}}
			<p>{{view.message}}</p>
		{{/each}}
	</div>

	{{view Balanced.Modals.ModalBaseFooter isSaving=view.isSaving submitButtonText="Link"}}
</form>
