<div class="container">
	<header id="header" {{bind-attr class=":apply headerClass"}}>
		<div id="logo" {{action "goToHome"}}>
			<a href="https://dashboard.balancedpayments.com" class="img">Balanced Dashboard</a>
		</div>
	</header>
</div>

<section id="main" class="container">
	<div id="main-overlay"></div>
	<div id="marketplace-apply">
		<h1 class="page-title">Apply for a production marketplace</h1>
		<form class="full-page-form" method="POST" {{action "save" on="submit"}}>
			{{#if isGuest}}
				<fieldset>
					<legend>Login info</legend>
					{{view Balanced.ControlGroupFieldView placeholder="Email address" field="claimEmailAddress" help="Enter your email address"}}
					{{view Balanced.ControlGroupFieldView placeholder="Password" field="claimPassword" help="Enter a secure password" type="password"}}
				</fieldset>
			{{/if}}

			<fieldset class="application-type">
				<legend>Who are you?</legend>
				<div class="control-group">
					<a {{action "selectType" "PERSON"}} {{bind-attr class=":person model.isPerson:selected"}}>
						<span class="icon"></span>Person
					</a>
					<div class="or"><hr><span>OR</span><hr></div>
					<a {{action "selectType" "BUSINESS"}} {{bind-attr class=":business model.isBusiness:selected"}}>
						<span class="icon"></span>Business
					</a>
				</div>
			</fieldset>

			{{#if model.isType}}
				{{#if model.isBusiness}}
					<fieldset>
						<legend>Business info</legend>
						{{view Balanced.ControlGroupFieldView placeholder="Legal business name" field="businessName" help="Enter your legal business name"}}

						{{view Balanced.ControlGroupFieldView placeholder="Principal owner name" field="principalOwnerName" help="Enter principal business owner name"}}

						{{view Balanced.ControlGroupFieldView placeholder="EIN" field="employerIdentificationNumber" help="Enter your 9-digit employer identification number"}}

						{{view Balanced.ControlGroupFieldView placeholder="Street address" field="streetAddress" helpBinding="streetAddressHint"}}

						{{view Balanced.ControlGroupFieldView placeholder="Postal code" field="postalCode" help="Enter your zip code"}}

						{{view Balanced.ControlGroupFieldView placeholder="Phone number" field="phoneNumber" help="Enter your phone number"}}

						{{view Balanced.DateSelectView
								yearContentBinding="incorporationYears"
								yearValueBinding="incorporationYear"
								monthContentBinding="incorporationMonths"
								monthValueBinding="incorporationMonth"
								dayContentBinding="incorporationDays"
								dayValueBinding="incorporationDay"
								model=model
								help="Enter your incorporation date"}}

						<div class="control-group">
							<div class="controls">
								{{view Ember.Select contentBinding="companyTypes" valueBinding="model.companyType" name="companyType"}}
							</div>
							<label>Specify your company type</label>
						</div>
					</fieldset>
				{{/if}}

				<fieldset>
					<legend>Your personal info</legend>
					<div {{bind-attr class=":control-group model.validationErrors.personFirstName:error"}}>
						<div class="controls">
							{{view Ember.TextField placeholder="First name" class="cssError:error" name="personFirstName" class="span3"}}
							{{view Ember.TextField placeholder="Middle name" class="cssError:error" name="personMiddleName" class="span3"}}
							{{view Ember.TextField placeholder="Last name" class="cssError:error" name="personLastName" class="span3"}}
						</div>
						<label>Enter your full legal name</label>
					</div>

					{{view Balanced.DateSelectView
							yearContentBinding="dobYears"
							yearValueBinding="model.model.dobYear"
							monthContentBinding="dobMonths"
							monthValueBinding="model.model.dobMonth"
							dayContentBinding="dobDays"
							dayValueBinding="model.dobDay"
							model=model
							help="Enter your date of birth"}}

					{{view Balanced.ControlGroupFieldView placeholder="Last 4 of SSN" field="socialSecurityNumber" help="A verifiable social security number is needed to underwrite your application. No credit checks will be performed"}}

					{{#unless model.isBusiness}}
						{{view Balanced.ControlGroupFieldView placeholder="Street address" field="streetAddress" helpBinding="streetAddressHint"}}
						{{view Balanced.ControlGroupFieldView placeholder="Postal code" field="postalCode" help="Enter your zip code"}}
						{{view Balanced.ControlGroupFieldView placeholder="Phone number" field="phoneNumber" help="Enter your phone number"}}
					{{/unless}}
				</fieldset>

				<fieldset>
					<legend>Banking info</legend>
					{{view Balanced.ControlGroupFieldView placeholder="Name on account" field="bankAccountName" help="Enter the name on your bank account"}}
					{{view Balanced.ControlGroupFieldView placeholder="Account number" field="bankAccountNumber" help="Enter your bank account number"}}
					{{view Balanced.PopoverView class="icon-tooltip tooltip_account_number" data-html="true" data-placement="top" data-title="Account &amp; Routing Number" data-content="<img class='check_image_tool_tip' src='/images/check_image_tool_tip.png'/>"}}
					{{view Balanced.ControlGroupFieldView placeholder="Routing number" field="bankRoutingNumber" help="Enter your 9 digit routing number"}}
					{{view Balanced.PopoverView class="icon-tooltip tooltip_routing_number" data-html="true" data-placement="top" data-title="Account &amp; Routing Number" data-content="<img class='check_image_tool_tip' src='/images/check_image_tool_tip.png'/>"}}
					<div class="control-group">
						<div class="controls">
							{{view Ember.Select contentBinding="accountTypes" valueBinding="model.bankAccountType" name="bankAccountType"}}
						</div>
						<label>Specify your account type</label>
					</div>
				</fieldset>

				<fieldset>
					<legend>Marketplace info</legend>
					{{view Balanced.ControlGroupFieldView placeholder="Marketplace name" field="marketplaceName" help="Enter your marketplace name"}}
					{{view Balanced.ControlGroupFieldView placeholder="Support email address" field="supportEmailAddress" help="Support requests and automated email messages are sent to this email address"}}
					{{view Balanced.ControlGroupFieldView placeholder="Support phone no." field="supportPhoneNumber" help="The support phone number will appear on credit card statements associated with your marketplace"}}
					{{view Balanced.ControlGroupFieldView placeholder="Domain name" field="marketplaceDomainUrl" help="The URL of your marketplace's website"}}
				</fieldset>

				<fieldset>
					<legend>Terms &amp; Conditions and Privacy Policy</legend>
					<div {{bind-attr class=":control-group model.validationErrors.termsAndConditions:error"}}>
						<label for="terms-and-conditions">
							{{view Ember.Checkbox checkedBinding="model.termsAndConditions" id="terms-and-conditions"}}
							<strong>I accept the
								<a href="https://www.balancedpayments.com/terms/" target="_blank">Terms &amp; Conditions</a>,
								<a href="https://www.balancedpayments.com/terms/marketplaceagreement" target="_blank">Marketplace Agreement</a>, and
								<a href="https://www.balancedpayments.com/privacy" target="_blank">Privacy Policy</a>.
							</strong></label>
							<p class="nested">
								We respect your privacy. Your information is
								stored securely and used only for transaction
								processing, customer support, and fraud
								prevention.
							</p>
						</label>
					</div>
				</fieldset>
				<fieldset>
					<legend>Next steps</legend>
					<div class="control-group">
						<strong>Your bank account will take 1-2 business days to confirm.<br>
							We'll make 2 small deposits (each less than $1.00) to your account. You'll need to:
						</strong>
						<ol>
							<li>Check your bank account in 1-2 business days for the exact amounts</li>
							<li>Sign in to the Balanced dashboard</li>
							<li>Click verify from the settings page and enter the deposit amounts</li>
						</ol>
					</div>
				</fieldset>

				{{#view Balanced.View classBinding=":actions hasError:error"}}
					{{#each model.requestErrors}}
						<div class="error-message">
							<span class="icon warning"></span>
							<span class="message">{{message}}</span>
						</div>
					{{/each}}
					{{#if isSaving}}
						<span class="loader loading"></span> <span class="message">Verifying...</span>
					{{else}}
						<button class="btn submit" type="submit">Submit</button>
					{{/if}}
				{{/view}}
			{{/if}}
		</form>
	</div>
</section>
