<section id="main" class="container marketplaces">
    <div class="row">

        <nav id="marketplace-nav" class="span2">
        </nav>

        <div id="content" class="span24">
            <div class="row">
                <div class="offset2 span22">
                    <h1>Add/Remove Marketplaces</h1>

                    <div class="marketplace-list production">
                        <div class="subhead1a">Production marketplace</div>
                            <ul>
                                {{#each marketplace in Balanced.Auth.user.marketplaces }}
                                    {{#if marketplace.production }}
                                        <li>
                                            <div class="icon"></div>
                                            <div class="info">
                                                <h3 class="label1d name">{{#linkTo marketplace.activity marketplace }}{{ marketplace.name }}{{/linkTo}}</h3>
                                            </div>
                                        </li>
                                    {{/if}}
                                {{/each}}
                                <li class="new">
                                    <div class="icon"></div>
                                    <div class="info">
                                        {{view Balanced.AddExistingMarketplaceView}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="marketplace-list test">
                            <div class="subhead1a">Test marketplaces</div>
                            <ul>
                                {{#each marketplace in Balanced.Auth.user.marketplaces }}
                                    {{#unless marketplace.production }}
                                        <li>
                                            <a href="#" class="icon-delete" {{action promptToDeleteMarketplace marketplace }}>&times;</a>
                                            <div class="icon"></div>
                                                <div class="info">
                                                <h3 class="label1d name">{{#linkTo marketplace.activity marketplace }}{{ marketplace.name }}{{/linkTo}}</h3>
                                            </div>
                                        </li>
                                    {{/unless}}
                                {{/each}}
                                <li class="new">
                                    <div class="icon"></div>
                                    <div class="info">
                                        {{view Balanced.AddTestMarketplaceView}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="marketplace-list register">
                            <div class="subhead1a">Register</div>
                            <ul>
                                <li>
                                    <div class="icon"></div>
                                    <div class="info">
                                        <h2 class="label3d name">Not transacting yet? Register for production access.</h2>
                                        {{#linkTo marketplaces.apply classNames="btn"}}Register{{/linkTo}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{{view Balanced.DeleteMarketplaceModalView marketplaceBinding="model" viewName="deleteMarketplaceModal"}}
