<fieldset>
	<h1>Create a production marketplace</h1>
	{{#if loaderState.isError}}
		{{#each error in loaderState.errorMessages}}
			<p>error: {{error}}</p>
		{{/each}}
		<button {{action "retry" loaderState.callback}}>Retry</button>
	{{/if}}
	{{#if loaderState.isLoading}}
		{{loaderState.message}}
	{{/if}}

	{{#if isCreateApiKeyForm}}
		{{view Balanced.CreateApiKeyFormView}}
	{{/if}}
	{{#if isCreateMarketplaceForm}}
		{{#unless marketplaceFactory.isComplete}}
			{{view Balanced.CreateMarketplaceFormView}}
		{{/unless}}
	{{/if}}
</fieldset>
