<thead>
	<tr>
		<th class="col-md-6 transaction">
			<span>Transaction</span>
		</th>
		<th class="col-md-3 payment-method">
			<span>Payment method</span>
		</th>
		<th class="col-md-3 amount num">
			<span>Amount</span>
		</th>
	</tr>
</thead>

<tbody>
	{{#if view.transaction}}
		<tr>
			<td class="grouped-transactions-container" colspan="3">
				{{#view "results/grouped-transactions-table"}}
					{{#if view.parentView.transaction.dispute}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.dispute}}
					{{/if}}

					{{#if view.parentView.transaction.refunds}}
						{{#each refund in view.parentView.transaction.refunds}}
							{{view "results/grouped-transaction-row" item=refund}}
						{{/each}}
					{{/if}}

					{{#if view.parentView.transaction.reversals}}
						{{#each reversal in view.parentView.transaction.reversals}}
							{{view "results/grouped-transaction-row" item=reversal}}
						{{/each}}
					{{/if}}

					{{#if view.parentView.transaction.debit}}
						{{#if view.parentView.transaction.debit.dispute}}
							{{view "results/grouped-transaction-row" item=view.parentView.transaction.debit.dispute}}
						{{/if}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.debit}}
					{{/if}}

					{{#if view.parentView.transaction.credit}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.credit}}
					{{/if}}

					{{view "results/grouped-transaction-row" item=view.parentView.transaction class="current"}}

					{{#if view.parentView.transaction.transaction}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.transaction}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.transaction.hold}}
					{{/if}}

					{{#if view.parentView.transaction.hold}}
						{{view "results/grouped-transaction-row" item=view.parentView.transaction.hold}}
					{{/if}}
				{{/view}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="3" class="no-results">
				{{#if view.transaction.isLoaded}}
					No transactions
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/if}}
</tbody>
