<thead>
    <tr>
        {{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a sortable unsorted" field="created_at"}}Created{{/view}}
        <th class="span4 label6a name">Name</th>
        <th class="span8 label6a email">Email</th>
    </tr>
</thead>
{{#if view.customers.hasNextPage}}
<tfoot>
    <tr>
        <td colspan="6" class="load-more-results">
            {{#if view.customers.loadingNextPage }}
                <div class="loader-container">
                    <span class="loader loading"></span>
                </div>
            {{else}}
                <a {{ action loadMore view.customers }}>Load more</a>
            {{/if}}
        </td>
    </tr>
</tfoot>
{{/if}}
<tbody>
    {{#each account in view.customers}}
        <tr>
            <td class="span3 date">
                {{#linkToEntity account}}<span>
                    <time {{bindAttr datetime="account.created_at"}} {{bindAttr title="account.created_at"}}>{{humanReadableDateShort account.created_at }}</time>
                </span>{{/linkToEntity}}
            </td>
            <td class="span4 name" {{bindAttr title="account.display_me"}}>
                {{#linkToEntity account}}<span>
                    {{ account.display_me }}
                </span>{{/linkToEntity}}
            </td>
            <td class="span8 email" {{bindAttr title="account.email"}}>
                {{#linkToEntity account}}<span>
                    {{ account.email }}
                </span>{{/linkToEntity}}
            </td>
        </tr>
    {{else}}
        <tr>
            <td colspan="3" class="no-results">
                {{# if view.customers.isLoaded }}
                    No results
                {{else}}
                    Loading...
                {{/if}}
            </td>
        </tr>
    {{/each}}
</tbody>
