<thead>
	<tr>
		<th class="span3 label6a has-filter">
			{{#view Balanced.ResultsLoaderSortColumnHeaderView resultsLoader=view.loader field="created_at" actionName="changeSortOrder"}}
				<span>Date</span>
			{{/view}}
		</th>
		<th class="span4 label6a name"><span>Customer</span></th>
		<th class="span4 label6a name"><span>Business</span></th>
	</tr>
</thead>

{{#if view.loader.results.hasNextPage}}
	{{view Balanced.ResultsLoadMoreView results=view.loader.results columns=3}}
{{/if}}

<tbody>
	{{#each customer in view.loader.results}}
		<tr>
			{{view Balanced.LinkedDateCellView routeName=customer.route_name date=customer.created_at item=customer classNames="span3"}}
			{{view Balanced.LinkedTwoLinesCellView
				item=customer
				routeName=customer.route_name
				classNames="span4 name"
				primaryLabelText=customer.display_me
				secondaryLabelText=customer.email
				title=customer.display_me_with_email
			}}
			{{view Balanced.TitledLinkedCellView routeName=customer.route_name item=customer labelText=customer.business_name classNames="span4 business_name"}}
		</tr>
	{{else}}
		<tr>
			<td colspan="3" class="no-results">
				{{#if view.loader.results.isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
