<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a sortable" field="created_at"}}<span>Date</span>{{/view}}
		<th class="span3 label6a name"><span>Customer</span></th>
		<th class="span3 label6a name"><span>Business</span></th>
		<th class="span6 label6a email"><span>Recent payment method</span></th>
	</tr>
</thead>

{{#if view.customers.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="4" class="load-more-results">
				{{#if view.customers.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" view.customers}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each customer in view.customers}}
		<tr>
			{{view Balanced.LinkedDateCellView routeName="customers" date=customer.created_at item=customer classNames="span3"}}
			{{view Balanced.TitledLinkedCellView routeName="customers" item=customer labelText=customer.display_me classNames="span3 name"}}
			{{view Balanced.TitledLinkedCellView routeName="customers" item=customer labelText=customer.business_name classNames="span3 business_name"}}
			{{view Balanced.TitledLinkedCellView routeName="customers" item=customer labelText=customer.email classNames="span3 email"}}
		</tr>
	{{else}}
		<tr>
			<td colspan="4" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
