<thead>
	<tr>
		<th class="span3 label6a initiated date has-filter">{{#view Balanced.ResultsSortableColumnHeaderView classBinding="view.hideDateSort::sortable" field="initiated_at"}}<span>Date initiated</span>{{/view}}</th>
		<th class="span3 label6a respond-by date has-filter">{{#view Balanced.ResultsSortableColumnHeaderView classBinding="view.hideDateSort::sortable" field="respond_by"}}<span>Respond by</span>{{/view}}</th>
		<th class="span3 label6a status has-filter">
			{{view Balanced.DisputesStatusResultsDropdownFilterView}}
		</th>
		<th class="span4 label6a account"><span>Customer</span></th>
		<th class="span4 label6a funding-instrument"><span>Payment method</span></th>
		<th class="span2 label6a amount num has-filter">{{#view Balanced.ResultsSortableColumnHeaderView class="sortable" field="amount"}}<span>Amount</span>{{/view}}</th>
	</tr>
</thead>

{{#if view.disputes.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="6" class="load-more-results">
				{{#if view.disputes.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn sm secondary" {{action "loadMore" view.disputes}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each dispute in view.disputes}}
		<tr>
			<td class="span3 date initiated">
				{{#link-to dispute.route_name dispute}}<span>
					<time {{bind-attr datetime="dispute.initiated_at"}} {{bind-attr title="dispute.initiated_at"}}>
						<span class="primary">{{humanReadableDate dispute.initiated_at}}</span>
						<span class="secondary">{{humanReadableTime dispute.initiated_at}}</span>
					</time>
				</span>{{/link-to}}
			</td>
			<td class="span3 date respond-by">
				{{#link-to dispute.route_name dispute}}<span>
					<time {{bind-attr datetime="dispute.respond_by"}} {{bind-attr title="dispute.respond_by"}}>
						<span class="primary">{{humanReadableDate dispute.respond_by}}</span>
						<span class="secondary">{{humanReadableTime dispute.respond_by}}</span>
					</time>
				</span>{{/link-to}}
			</td>
			<td {{bind-attr class=":span3 :label4a :status"}}>
				{{#link-to dispute.route_name dispute}}<span {{bind-attr class="dispute.status_name"}}>
					{{dispute.status_name}}
				</span>{{/link-to}}
			</td>
			<td {{bind-attr class=":span4 :account dispute.transaction.customer::null-field"}} {{bind-attr title="dispute.customer_name_summary"}}>
				{{#link-to dispute.route_name dispute}}
					{{#if dispute.customer_display_me}}
						<span class="primary">{{dispute.customer_display_me}}</span>
						{{#if dispute.customer_email}}
							<span class="secondary">{{dispute.customer_email}}</span>
						{{/if}}
					{{else}}
						<span class="sl-none">none</span>
					{{/if}}
				{{/link-to}}
			</td>
			<td class="span3 funding-instrument">
				{{#link-to dispute.route_name dispute}}
				<span {{bind-attr class="dispute.transaction.dasherized_funding_instrument_type"}}>
					<span class="primary">{{dispute.last_four}} {{dispute.funding_instrument_name}}</span>
					<span class="secondary">{{dispute.funding_instrument_type}}</span>
				</span>{{/link-to}}
			</td>
			<td class="span2 amount num">
				{{#link-to dispute.route_name dispute}}<span>
					{{formatCurrency dispute.amount}}
				</span>{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="6" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
