<thead>
	<tr>
		<th class="span4 label6a funding-instruments has-filter">
			{{view Balanced.PaymentMethodsResultsDropdownFilterView model=model}}
		</th>
		<th class="span4 label6a"><span>Bank</span></th>
		<th class="span3 label6a"><span>Status</span></th>
		<th class="span3 label6a"><span>Name on account</span></th>
		<th class="span1 label6a"><span></span></th>
	</tr>
</thead>

{{#if view.fundingInstruments.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="5" class="load-more-results">
				{{#if view.fundingInstruments.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" view.fundingInstruments}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each funding_instrument in view.fundingInstruments}}
		<tr>
			<td>
				{{#link-to funding_instrument.route_name funding_instrument}}<span {{bind-attr title="funding_instrument.description"}}>
					<span class="primary">{{funding_instrument.last_four}} {{#if funding_instrument.brand}}{{funding_instrument.brand}}{{/if}}</span>
					<span class="secondary">{{funding_instrument.funding_instrument_type}}</span>
				</span>{{/link-to}}
			</td>
			<td>
				{{#link-to funding_instrument.route_name funding_instrument}}
					{{#if funding_instrument.formatted_bank_name}}
						<span>{{funding_instrument.formatted_bank_name}}</span>
					{{else}}
						<span class="sl-none">unknown</span>
					{{/if}}
				{{/link-to}}
			</td>
			<td class="status">
				{{#link-to funding_instrument.route_name funding_instrument}}
					<span {{bind-attr class="funding_instrument.status"}}>
						{{capitalize funding_instrument.status}}
					</span>
				{{/link-to}}
			</td>
			<td>
				{{#link-to funding_instrument.route_name funding_instrument}}
					{{#if funding_instrument.name}}
						<span>{{funding_instrument.name}}</span>
					{{else}}
						<span class="sl-none">none</span>
					{{/if}}
				{{/link-to}}
			</td>
			<td>
				<a {{action "openDeleteModal" funding_instrument}}>
					<i class="icon-table-x"></i>
				</a>
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="5" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
