<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a date sortable" field="created_at"}}<span>Date</span>{{/view}}
		<th class="span5 label6a funding-instruments">
			<div class="dropdown filter">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Payment method</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu funding-instruments-filter filter-choices">
					<li><a href="#" {{action "changeTypeFilter" "funding_instrument"}}> Both </a></li>

					<li><a href="#" {{action "changeTypeFilter" "card"}}> Cards </a></li>

					<li><a href="#" {{action "changeTypeFilter" "bank_account"}}> Bank Accounts </a></li>
				</ul>
			</div>
		</th>
		<th class="span5 label6a"><span>Bank</span></th>
		<th class="span4 label6a"><span>Account holder</span></th>
		<th class="span4 label6a"><span>Customer</span></th>
	</tr>
</thead>

{{#if view.fundingInstruments.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="5" class="load-more-results">
				{{#if view.fundingInstruments.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" view.fundingInstruments}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each funding_instrument in view.fundingInstruments}}
		<tr>
			<td>
				{{#link-to funding_instrument.route_name funding_instrument}}<span>
					<time {{bind-attr datetime="funding_instrument.created_at"}} {{bind-attr title="funding_instrument.created_at"}}>
						<span class="primary">{{humanReadableDate funding_instrument.created_at}}</span>
						<span class="secondary">{{humanReadableTime funding_instrument.created_at}}</span>
					</time>
				</span>{{/link-to}}
			</td>
			<td {{bind-attr title="funding_instrument.description"}}>
				{{#link-to funding_instrument.route_name funding_instrument}}<span>
					<span class="primary">{{funding_instrument.last_four}}</span>
					<span class="secondary">{{funding_instrument.funding_instrument_name}}</span>
				</span>{{/link-to}}
			</td>
			<td>
				{{#link-to funding_instrument.route_name funding_instrument}}<span>
						{{funding_instrument.bank}}
				</span>{{/link-to}}
			</td>
			<td>
				{{#link-to funding_instrument.route_name funding_instrument}}<span>
						{{funding_instrument.customer.name}}
						{{funding_instrument.customer.email}}
				</span>{{/link-to}}
			</td>
			<td>
				{{#link-to funding_instrument.route_name funding_instrument}}<span>
						{{funding_instrument.customer.name}}
						{{funding_instrument.customer.email}}
				</span>{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="5" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
