<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a sortable" field="created_at"}}Created{{/view}}
		<th class="span4 label6a">
			Type
			<div class="selector dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
				<ul class="dropdown-menu funding-instruments-filter filter-choices">
					<li><a href="#" {{action "changeTypeFilter" "funding_instrument"}}> Both </a></li>

					<li><a href="#" {{action "changeTypeFilter" "card"}}> Cards </a></li>

					<li><a href="#" {{action "changeTypeFilter" "bank_account"}}> Bank Accounts </a></li>
				</ul>
			</div>
		</th>
		<th class="span5 label6a">Card or bank account</th>
		<th class="span8 label6a">Account holder's name</th>
	</tr>
</thead>

{{#if view.fundingInstruments.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="4" class="load-more-results">
				{{#if view.fundingInstruments.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" view.fundingInstruments}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each funding_instrument in view.fundingInstruments}}
		<tr>
			<td class="date">
				{{#link-to funding_instrument.route_name funding_instrument}}<span>
					<time {{bind-attr datetime="funding_instrument.created_at"}} {{bind-attr title="funding_instrument.created_at"}}>
						<span class="primary">{{humanReadableDate funding_instrument.created_at}}</span>
						<span class="secondary">{{humanReadableTime funding_instrument.created_at}}</span>
					</time>
				</span>{{/link-to}}
			</td>
			<td>
				{{#link-to funding_instrument.route_name funding_instrument}}<span>
					{{funding_instrument.type_name}}
					{{#if funding_instrument.is_bank_account}}
						({{funding_instrument.account_type}})
					{{/if}}
				</span>{{/link-to}}
			</td>
			<td {{bind-attr title="funding_instrument.description"}}>
				{{#link-to funding_instrument.route_name funding_instrument}}<span>
					{{funding_instrument.description}}
				</span>{{/link-to}}
			</td>
			<td>
				{{#link-to funding_instrument.route_name funding_instrument}}<span>
						{{funding_instrument.customer.name}}
						{{funding_instrument.customer.email}}
				</span>{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="4" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
