<thead>
    <tr>
        {{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a sortable unsorted" field="created_at"}}Created{{/view}}
        <th class="span4 label6a">Type</th>
        <th class="span5 label6a">Card or bank account</th>
        <th class="span8 label6a">Account holder's name</th>
    </tr>
</thead>
{{#if view.fundingInstruments.hasNextPage}}
<tfoot>
    <tr>
        <td colspan="6" class="load-more-results">
            {{#if view.fundingInstruments.loadingNextPage }}
                <div class="loader-container">
                    <span class="loader loading"></span>
                </div>
            {{else}}
                <a {{ action loadMore view.fundingInstruments }}>Load more</a>
            {{/if}}
        </td>
    </tr>
</tfoot>
{{/if}}
<tbody>
    {{#each funding_instrument in view.fundingInstruments}}
        <tr>
            <td>
                {{#linkTo funding_instrument.route_name funding_instrument}}<span>
                    <time {{bindAttr datetime="funding_instrument.created_at"}} {{bindAttr title="funding_instrument.created_at"}}>{{humanReadableDateShort funding_instrument.created_at }}</time>
                </span>{{/linkTo}}
            </td>
            <td>
                {{#linkTo funding_instrument.route_name funding_instrument}}<span>
                    {{ funding_instrument.type_name }}
                    {{#if funding_instrument.is_bank_account }}
                        ({{ funding_instrument.account_type }})
                    {{/if}}
                </span>{{/linkTo}}
            </td>
            <td {{bindAttr title="funding_instrument.description"}}>
                {{#linkTo funding_instrument.route_name funding_instrument}}<span>
                    {{ funding_instrument.description }}
                </span>{{/linkTo}}
            </td>
            <td>
                {{#linkTo funding_instrument.route_name funding_instrument}}<span>
                    {{ funding_instrument.customer.name }}
                    {{ funding_instrument.customer.email }}
                </span>{{/linkTo}}
            </td>
        </tr>
    {{else}}
        <tr>
            <td colspan="4" class="no-results">
                {{# if view.fundingInstruments.isLoaded }}
                    No results
                {{else}}
                    Loading...
                {{/if}}
            </td>
        </tr>
    {{/each}}
</tbody>
