<thead>
	<tr>
		<th class="span3 label6a date has-filter">{{#view Balanced.ResultsSortableColumnHeaderView class="sortable" field="created_at"}}<span>Date</span>{{/view}}</th>
		<th class="span3 label6a"><span>Type</span></th>
		<th class="span3 label6a"><span>Status</span></th>
		<th class="span2 label6a"><span>Statement #</span></th>
		<th class="span3 label6a"><span>From</span></th>
		<th class="span3 label6a"><span>To</span></th>
		<th class="span3 num"><span>Amount</span></th>
	</tr>
</thead>
{{#if results.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="7" class="load-more-results">
				{{#if results.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn sm secondary" {{action "loadMore" results}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each invoice in results}}
		<tr>
			<td class="span3">
				{{#link-to invoice.route_name invoice}}
					<span class="primary">{{humanReadableDate invoice.created_at}}</span>
					<span class="secondary">{{humanReadableTime invoice.created_at}}</span>
				{{/link-to}}
			</td>
			<td class="span3 type">
				{{#link-to invoice.route_name invoice}}
					<span>{{invoice.type}}</span>
				{{/link-to}}
			</td>
			<td class="span3 status">
				{{#link-to invoice.route_name invoice}}
					<span {{bind-attr class="invoice.status"}}>{{invoice.status}}</span>
				{{/link-to}}
			</td>
			<td class="span2">
				{{#link-to invoice.route_name invoice}}
					{{invoice.sequence_number}}
				{{/link-to}}
			</td>
			<td class="span3">
				{{#link-to invoice.route_name invoice}}
					<span class="primary">{{humanReadableDate invoice.from_date}}</span>
					<span class="secondary">5:00 PM</span>
				{{/link-to}}
			</td>
			<td class="span3">
				{{#link-to invoice.route_name invoice}}
					<span class="primary">{{humanReadableDate invoice.to_date}}</span>
					<span class="secondary">5:00 PM</span>
				{{/link-to}}
			</td>
			<td class="span3 amount num">
				{{#link-to invoice.route_name invoice}}
					{{formatCurrency invoice.total_fee}}
				{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="7" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
