<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a date sortable" field="created_at"}}<span>Date</span>{{/view}}
		<th class="span3 label6a"><span>Status</span></th>
		<th class="span2 label6a"><span>Invoice #</span></th>
		<th class="span8 label6a"><span>Statement period</span></th>
		<th class="span3 label6a amount"><span>Amount</span></th>
	</tr>
</thead>
{{#if results.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="5" class="load-more-results">
				{{#if results.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" results}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each invoice in results}}
		<tr>
			<td class="span3">
				{{#link-to invoice.route_name invoice}}
					<span class="primary">{{humanReadableDate invoice.created_at}}</span>
					<span class="secondary">{{humanReadableTime invoice.created_at}}</span>
				{{/link-to}}
			</td>
			<td class="span3 black status">
				{{#link-to invoice.route_name invoice}}
					{{invoice.state}}
				{{/link-to}}
			</td>
			<td class="span2 black">
				{{#link-to invoice.route_name invoice}}
					{{invoice.sequence_number}}
				{{/link-to}}
			</td>
			<td class="span8 black">
				{{#link-to invoice.route_name invoice}}
					<div>
						<span class="primary">{{humanReadableDate invoice.from_date}}</span>
						<span class="secondary">{{humanReadableTime invoice.to_date}}</span>
					</div>
					<div class="em-dash">—</div>
					<div>
						<span class="primary">{{humanReadableDate invoice.to_date}}</span>
						<span class="secondary">{{humanReadableTime invoice.to_date}}</span>
					</div>
				{{/link-to}}
			</td>
			<td class="span3 black amount">
				{{#link-to invoice.route_name invoice}}
					{{formatCurrency invoice.total_fee}}
				{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="5" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
