<thead>
	<tr>
		<th class="col-md-2 has-filter">
			{{#view "results/results-loader-sort-column-header" resultsLoader=view.loader field="created_at" actionName="changeSortOrder"}}
				<span>Date</span>
			{{/view}}
		</th>
		<th class="col-md-2"><span>Type</span></th>
		<th class="col-md-2"><span>Status</span></th>
		<th class="col-md-2"><span>Statement #</span></th>
		<th class="col-md-2"><span>From</span></th>
		<th class="col-md-2"><span>To</span></th>
		<th class="col-md-2 num"><span>Amount</span></th>
	</tr>
</thead>
{{#if view.loader.results.hasNextPage}}
	{{view "results/results-load-more" results=view.loader.results columns=7}}
{{/if}}
<tbody>
	{{#each invoice in view.loader.results}}
		<tr>
			<td class="two-lines">
				{{#link-to invoice.route_name invoice}}
					<span>
						<span class="primary">{{human-readable-date invoice.created_at}}</span>
						<span class="secondary">{{human-readable-time invoice.created_at}}</span>
					</span>
				{{/link-to}}
			</td>
			<td class="type">
				{{#link-to invoice.route_name invoice}}
					<span>{{invoice.invoice_type}}</span>
				{{/link-to}}
			</td>
			<td class="status">
				{{#link-to invoice.route_name invoice}}
					<span {{bind-attr class="invoice.status"}}>{{sentence-case invoice.status}}</span>
				{{/link-to}}
			</td>
			<td>
				{{#link-to invoice.route_name invoice}}
					{{invoice.sequence_number}}
				{{/link-to}}
			</td>
			<td class="two-lines">
				{{#link-to invoice.route_name invoice}}
					<span>
						<span class="primary">{{human-readable-date invoice.from_date}}</span>
						<span class="secondary">5:00 PM</span>
					</span>
				{{/link-to}}
			</td>
			<td class="two-lines">
				{{#link-to invoice.route_name invoice}}
					<span>
						<span class="primary">{{human-readable-date invoice.to_date}}</span>
						<span class="secondary">5:00 PM</span>
					</span>
				{{/link-to}}
			</td>
			<td class="amount num">
				{{#link-to invoice.route_name invoice}}
					{{format-currency invoice.total_fee}}
				{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="7" class="no-results">
				{{#if view.loader.results.isLoaded}}
					No statements
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
