<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a sortable unsorted" field="created_at"}}<span>Date</span>{{/view}}
		<th class="span3 label6a"><span>Status</span></th>
		<th class="span11 label6a"><span>Method &amp; URI</span></th>
	</tr>
</thead>

{{#if results.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="3" class="load-more-results">
				{{#if results.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" results}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each log in results}}
		<tr>
			<td class="span3 date">
				{{#link-to "logs.log" log}}<span>
				<time {{bind-attr datetime="log.created_at"}} {{bind-attr title="log.created_at"}}>
					<span class="primary">{{humanReadableDate log.created_at}}</span>
					<span class="secondary">{{humanReadableTime log.created_at}}</span>
				</span>{{/link-to}}
			</td>
			<td class="span3 black"><span>
				{{#link-to "logs.log" log}}
				{{colorizeStatus log.message.response.status}}
				</span>{{/link-to}}
			</td>
			<td class="span11">
				{{#link-to "logs.log" log}}<span>
				{{log.message.request.method}} {{log.condensed_request_url}}
				</span>{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="3" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
