<tbody>
    {{#each log in results}}
        <tr>
            <td class="span3 black">
                {{#link-to "logs.log" log}}
                {{colorizeStatus log.message.response.status}}
                {{/link-to}}
            </td>
            <td class="span11">
                {{#link-to "logs.log" log}}
                {{log.message.request.method}} {{log.condensed_request_url}}
                {{/link-to}}
            </td>
            <td class="span3 align-right date">
                {{#link-to "logs.log" log}}
                <time {{bind-attr datetime="log.created_at"}} {{bind-attr title="log.created_at"}}>{{humanReadableDateShort log.created_at}}</time>
                {{/link-to}}
            </td>
        </tr>
    {{else}}
        <tr>
            <td colspan="3" class="no-results">
                {{#if isLoaded}}
                    No results
                {{else}}
                    Loading...
                {{/if}}
            </td>
        </tr>
    {{/each}}
</tbody>
