<thead>
	<tr>
		<th class="span3 label6a has-filter">{{#view Balanced.ResultsSortableColumnHeaderView class="sortable unsorted" field="created_at"}}<span>Date</span>{{/view}}</th>
		<th class="span3 label6a has-filter endpoint-filter">
			{{view Balanced.LogsEndpointResultsDropdownFilterView model=view.loader}}
		</th>
		<th class="span3 label6a has-filter status-filter">
			{{view Balanced.LogsStatusResultsDropdownFilterView model=view.loader}}
		</th>
		<th class="span11 label6a"><span>Method &amp; URI</span></th>
	</tr>
</thead>

{{#if view.loader.results.hasNextPage}}
	{{view Balanced.ResultsLoadMoreView results=view.loader.results columns=4}}
{{/if}}

<tbody>
	{{#each log in view.loader.results}}
		<tr>
			{{view "tables/cells/linked-date-cell" routeName=log.route_name date=log.created_at item=log classNames="span3"}}
			{{view "tables/cells/titled-linked-cell" routeName=log.route_name item=log labelText=log.endpoint classNames="span3 endpoint"}}
			{{view Balanced.LogStatusCellView item=log classNames="span3 status two-line"}}
			{{view Balanced.LogDescriptionCellView item=log}}
		</tr>
	{{else}}
		<tr>
			<td colspan="4" class="no-results">
				{{#if view.loader.results.isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
