<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a sortable unsorted" field="created_at"}}<span>Date</span>{{/view}}
		<th class="span3 label6a has-filter">
			<div class="dropdown filter">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Endpoint</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu status-filter filter-choices">
					<li><a {{action "setEndPointFilter" "" target="controller"}} href="#" class="all">All endpoints</a></li>
					<li><a {{action "setEndPointFilter" "debits" target="controller"}} href="#" class="debits">Debits</a></li>
					<li><a {{action "setEndPointFilter" "credits" target="controller"}} href="#" class="credits">Credits</a></li>
					<li><a {{action "setEndPointFilter" "refunds" target="controller"}} href="#" class="refunds">Refunds</a></li>
					<li><a {{action "setEndPointFilter" "holds" target="controller"}} href="#" class="holds">Holds</a></li>
					<li><a {{action "setEndPointFilter" "customers" target="controller"}} href="#" class="customers">Customers</a></li>
					<li><a {{action "setEndPointFilter" "accounts" target="controller"}} href="#" class="accounts">Accounts</a></li>
					<li><a {{action "setEndPointFilter" "bank_accounts" target="controller"}} href="#" class="bank_accounts">Bank Accounts</a></li>
					<li><a {{action "setEndPointFilter" "cards" target="controller"}} href="#" class="cards">Cards</a></li>
				</ul>
			</div>
		</th>
		<th class="span3 label6a has-filter">
			<div class="dropdown filter">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Status</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu status-filter filter-choices">
					<li><a href="#" {{action "changeLogStatusFilter" "all"}}>All</a></li>
					<li><a href="#" {{action "changeLogStatusFilter" "succeeded"}}> Succeeded </a></li>
					<li><a href="#" {{action "changeLogStatusFilter" "failed"}}> Failed </a></li>
				</ul>
			</div>
		</th>
		<th class="span11 label6a"><span>Method &amp; URI</span></th>
	</tr>
</thead>

{{#if results.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="4" class="load-more-results">
				{{#if results.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" results}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each log in results}}
		<tr>
			{{view Balanced.LinkedDateCellView routeName="logs.log" date=log.created_at item=log classNames="span3"}}
			{{view Balanced.LogStatusCellView item=log classNames="span3"}}
			{{view Balanced.LogDescriptionCellView item=log}}
		</tr>
	{{else}}
		<tr>
			<td colspan="4" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
