<nav>
	<div class="timing dropdown action filter-endpoints label6a pull-left">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<span>{{#if currentEndpointFilter}} {{currentEndpointFilter}} {{else}} All endpoints {{/if}}</span>
			<b class="caret"></b>
		</a>

		<ul class="dropdown-menu">
			<li>
				<a {{action "setEndPointFilter" "" target="controller"}} href="#" class="all">All endpoints</a>
				<a {{action "setEndPointFilter" "debits" target="controller"}} href="#" class="debits">Debits</a>
				<a {{action "setEndPointFilter" "credits" target="controller"}} href="#" class="credits">Credits</a>
				<a {{action "setEndPointFilter" "refunds" target="controller"}} href="#" class="refunds">Refunds</a>
				<a {{action "setEndPointFilter" "holds" target="controller"}} href="#" class="holds">Holds</a>
				<a {{action "setEndPointFilter" "customers" target="controller"}} href="#" class="customers">Customers</a>
				<a {{action "setEndPointFilter" "accounts" target="controller"}} href="#" class="accounts">Accounts</a>
				<a {{action "setEndPointFilter" "bank_accounts" target="controller"}} href="#" class="bank_accounts">Bank Accounts</a>
				<a {{action "setEndPointFilter" "cards" target="controller"}} href="#" class="cards">Cards</a>
			</li>
		</ul>
	</li>
	<div class="timing dropdown action label6a">
	{{view Balanced.DatePickerView viewName="dateTimePicker"}}
	</div>

	<div class="pull-right filter-status-rollup">
		<label class="checkbox inline succeeded">
			{{view Ember.Checkbox checkedBinding="statusRollupFilterSucceeded" target="controller"}} Request succeeded
		</label>

		<label class="checkbox inline failed">
			{{view Ember.Checkbox checkedBinding="statusRollupFilterFailed" target="controller"}} Request failed
		</label>
	</div>
</nav>
