<thead>
    <tr>
        <th class="span3 label6a">Status</th>
        <th class="span11 label6a">Method &amp; URI</th>
        {{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a align-right sortable unsorted" field="created_at"}}Date{{/view}}
    </tr>
</thead>
{{#if results.hasNextPage}}
<tfoot>
    <tr>
        <td colspan="3" class="load-more-results">
            {{#if results.loadingNextPage }}
                <div class="loader-container">
                    <span class="loader loading"></span>
                </div>
            {{else}}
                <a {{ action loadMore results }}>Load more</a>
            {{/if}}
        </td>
    </tr>
</tfoot>
{{/if}}
<tbody>
    {{#each log in results}}
        <tr>
            <td class="span3 black">
                {{#linkTo "logs.log" log}}
                    {{ colorizeStatus log.message.response.status }}
                {{/linkTo}}
            </td>
            <td class="span11">
                {{#linkTo "logs.log" log}}
                    {{ log.message.request.method }} {{ log.condensed_request_url }}
                {{/linkTo}}
            </td>
            <td class="span3 align-right date">
                {{#linkTo "logs.log" log}}
                    <time {{bindAttr datetime="log.created_at"}} {{bindAttr title="log.created_at"}}>{{humanReadableDateShort log.created_at }}</time>
                {{/linkTo}}
            </td>
        </tr>
    {{else}}
        <tr>
            <td colspan="3" class="no-results">
                {{# if results.isLoaded }}
                    No results
                {{else}}
                    Loading...
                {{/if}}
            </td>
        </tr>
    {{/each}}
</tbody>
