<thead>
	<tr>
		<th class="span3 label6a has-filter">{{#view Balanced.ResultsSortableColumnHeaderView class="sortable unsorted" field="created_at"}}<span>Date</span>{{/view}}</th>
		<th class="span3 label6a has-filter">
			{{view Balanced.LogsEndpointResultsDropdownFilterView model=resultsLoader}}
		</th>
		<th class="span3 label6a has-filter">
			{{view Balanced.LogsStatusResultsDropdownFilterView model=resultsLoader}}
		</th>
		<th class="span11 label6a"><span>Method &amp; URI</span></th>
	</tr>
</thead>

{{view Balanced.ResultsLoadMoreView results=results columns=4}}

<tbody>
	{{#each log in results}}
		<tr>
			{{view Balanced.LinkedDateCellView routeName=log.route_name date=log.created_at item=log classNames="span3"}}
			{{view Balanced.TitledLinkedCellView routeName=log.route_name item=log labelText=log.endpoint classNames="span3 endpoint"}}
			{{view Balanced.LogStatusCellView item=log classNames="span3 status two-line"}}
			{{view Balanced.LogDescriptionCellView item=log}}
		</tr>
	{{else}}
		<tr>
			<td colspan="4" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
