<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a sortable unsorted" field="created_at"}}<span>Date</span>{{/view}}
		<th class="span3 label6a"><span>Status</span></th>
		<th class="span11 label6a"><span>Method &amp; URI</span></th>
	</tr>
</thead>

{{#if results.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="3" class="load-more-results">
				{{#if results.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" results}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each log in results}}
		<tr>
			{{view Balanced.LinkedDateCellView routeName="logs.log" date=log.created_at item=log classNames="span3"}}
			{{view Balanced.LogStatusCellView item=log classNames="span3"}}
			{{view Balanced.LogDescriptionCellView item=log}}
		</tr>
	{{else}}
		<tr>
			<td colspan="3" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
