<thead>
	<tr>
		<th class="col-md-2 date has-filter">
			{{#view "results/results-loader-sort-column-header" resultsLoader=view.loader field="created_at" actionName="changeOrdersSort"}}
				<span>Date</span>
			{{/view}}
		</th>
		<th class="col-md-2 label6a description"><span>Description</span></th>
		<th class="col-md-2 label6a buyer"><span>Customer (buyer)</span></th>
		<th class="col-md-2 label6a seller"><span>Customer (seller)</span></th>
		<th class="col-md-2 label6a debits"><span>Debits</span></th>
		<th class="col-md-2 label6a credits"><span>Credits</span></th>
		<th class="col-md-2 label6a escrow"><span>Escrow</span></th>
	</tr>
</thead>

{{#if view.loader.results.hasNextPage}}
	{{view "results/results-load-more" results=view.loader.results columns=7}}
{{/if}}

<tbody>
	{{#each order in view.loader.results}}
		<tr>
			{{view "tables/cells/linked-date-cell" routeName=order.route_name date=order.created_at item=order}}
			{{view "tables/cells/titled-linked-cell" routeName=order.route_name item=order labelText=order.page_title}}
			{{view "tables/cells/titled-linked-cell" routeName=order.route_name item=order labelText=order.buyers.firstObject.display_me}}
			{{view "tables/cells/titled-linked-cell" routeName=order.route_name item=order labelText=order.seller.display_me}}
			{{view "tables/cells/titled-linked-cell" routeName=order.route_name item=order labelText=order.debits_amount}}
			{{view "tables/cells/titled-linked-cell" routeName=order.route_name item=order labelText=order.credits_amount}}
			{{view "tables/cells/titled-linked-cell" routeName=order.route_name item=order labelText=order.escrow_balance}}
		</tr>
	{{else}}
		<tr>
			<td colspan="7" class="no-results">
				{{#if view.loader.results.isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
