<div class="clearfix cards">
	{{#each order in view.loader.results}}
		{{view "tables/cells/linked-card"
			routeName=order.route_name
			dateLabel="Created at"
			date=order.created_at
			title=order.page_title
			amountLabel="Balance"
			amount=order.escrow_balance
			item=order
			}}
	{{else}}
		<div>
			{{#if view.loader.results.isLoaded}}
				No orders
			{{else}}
				Loading...
			{{/if}}
		</div>
	{{/each}}
</div>

{{#if view.loader.results.loadingNextPage}}
	<div class="loader-container">
		<span class="loader loading"></span>
	</div>
{{else}} {{#if view.loader.results.hasNextPage}}
	<div class="text-center">
		<a class="btn secondary" {{action "loadMore" view.results target=view}}>Load more</a>
	</div>
{{/if}} {{/if}}
