<thead>
	<tr>
		<th class="col-md-3 customer"><span>Customer</span></th>
		<th class="col-md-7 transaction"><span>Transaction</span></th>
		<th class="col-md-2 amount num">
			<span>Amount</span>
		</th>
	</tr>
</thead>
{{#if view.loader.results.hasNextPage}}
	{{view "results/results-load-more" results=view.loader.results columns=5}}
{{/if}}

<tbody>
	{{#each credit in view.loader.results}}
		<tr>
			{{view "tables/cells/linked-two-lines-cell"
				item=credit.customer
				routeName=credit.customer.route_name
				primaryLabelText=credit.customer.display_me
				secondaryLabelText=credit.customer.email
				title=credit.customer.display_me_with_email
				class="customer-group"
			}}
			<td class="grouped-transactions-container" colspan="2">
				{{#view "tables/grouped-transactions-table"}}
					{{view "tables/grouped-transaction-row" item=credit}}
				{{/view}}
			</td>
	{{else}}
		<tr>
			<td colspan="3" class="no-results">
				{{#if view.loader.results.isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
