<div class="clearfix cards">
	{{#each order in view.loader.results}}
		{{view "tables/cells/linked-card"
			routeName=order.route_name
			dateLabel="Created at"
			date=order.created_at
			title=order.page_title
			amountLabel="Balance"
			amount=order.escrow_balance
			item=order
			}}
	{{else}}
		{{#if view.loader.results.isLoaded}}
			<div class="text-center no-results">
				<i class="icon-payments non-interactive"></i>
				No orders
			</div>
		{{else}}
			<div class="text-center sl-note">
				Loading...
			</div>
		{{/if}}
	{{/each}}
</div>

{{#if view.loader.results.loadingNextPage}}
	<div class="loader-container">
		<span class="loader loading"></span>
	</div>
{{else}} {{#if view.loader.results.hasNextPage}}
	<table class="items non-interactive">
		{{view "results/results-load-more" results=view.loader.results}}
	</table>
{{/if}} {{/if}}
