<thead>
	<tr>
		<th class="col-md-3 customer"><span>Customer</span></th>
		<th class="col-md-4 transaction"><span>Transaction</span></th>
		<th class="col-md-2 payment-method">
			<span>Payment method</span>
		</th>
		<th class="col-md-2 amount num">
			<span>Amount</span>
		</th>
	</tr>
</thead>
{{#if view.loader.results.hasNextPage}}
	{{view "results/results-load-more" results=view.loader.results columns=4}}
{{/if}}

<tbody>
	{{#each customer_group in view.groupedResults}}
		<tr>
			{{view "tables/cells/linked-two-lines-cell"
				item=customer_group.customer
				routeName=customer_group.customer.route_name
				primaryLabelText=customer_group.customer.display_me
				secondaryLabelText=customer_group.customer.email
				title=customer_group.customer.display_me_with_email
				class="customer-group two-lines"
			}}
			<td class="grouped-transactions-container" colspan="3">
				{{#each transaction in customer_group.transactions}}
					{{#view "results/grouped-transactions-table"}}
						{{#if transaction.dispute}}
							{{view "results/grouped-transaction-row" item=transaction.dispute}}
						{{/if}}

						{{view "results/grouped-transaction-row" item=transaction}}

						{{#if transaction.hold}}
							{{view "results/grouped-transaction-row" item=transaction.hold}}
						{{/if}}

						{{#if transaction.refunds}}
							{{#each refund in transaction.refunds}}
								{{view "results/grouped-transaction-row" item=refund}}
							{{/each}}
						{{/if}}

						{{#if transaction.reversals}}
							{{#each reversal in transaction.reversals}}
								{{view "results/grouped-transaction-row" item=reversal}}
							{{/each}}
						{{/if}}
					{{/view}}
				{{/each}}
			</td>
	{{else}}
		<tr>
			<td colspan="4" class="no-results">
				{{#if view.loader.results.isLoaded}}
					No transactions
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
