<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 label6a sortable" field="created_at"}}<span>Date</span>{{/view}}
		<th class="span4 label6a description"><span>Description</span></th>
		<th class="span4 label6a buyer"><span>Customer (buyer)</span></th>
		<th class="span4 label6a seller"><span>Customer (seller)</span></th>
		<th class="span2 label6a debits"><span>Debits</span></th>
		<th class="span2 label6a credits"><span>Credits</span></th>
		<th class="span2 label6a escrow"><span>Escrow</span></th>
	</tr>
</thead>

{{#if view.orders.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="7" class="load-more-results">
				{{#if view.orders.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" view.orders}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each order in view.orders}}
		<tr>
			<td class="span3 date">
				{{#link-to "orders" order}}<span>
					<time {{bind-attr datetime="order.created_at"}} {{bind-attr title="order.created_at"}}>
						<span class="primary">{{humanReadableDate order.created_at}}</span>
						<span class="secondary">{{humanReadableTime order.created_at}}</span>
					</time>
				</span>{{/link-to}}
			</td>
			<td class="span4 description">
				<span>{{order.page_title}}</span>
			</td>
			<td class="span4 buyer" {{bind-attr title="order.buyer.firstObject.display_me"}}>
				{{#link-to "orders" order}}<span>
					{{order.buyers.firstObject.display_me}}
				</span>{{/link-to}}
			</td>
			<td class="span4 seller" {{bind-attr title="order.seller.display_me"}}>
				{{#link-to "orders" order}}<span>
					{{order.seller.display_me}}
				</span>{{/link-to}}
			</td>
			<td class="span2 debits">
				{{#link-to "orders" order}}<span>{{order.debits_amount}}</span>{{/link-to}}
			</td>
			<td class="span2 credits">
				{{#link-to "orders" order}}<span>{{order.credits_amount}}</span>{{/link-to}}
			</td>
			<td class="span2 escrow">
				{{#link-to "orders" order}}<span>{{order.escrow_balance}}</span>{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="7" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
