<thead>
	<tr>
		<th class="span3 date has-filter">
			{{#view Balanced.ResultsLoaderSortColumnHeaderView resultsLoader=view.loader field="created_at" actionName="changeOrdersSort"}}
				<span>Date</span>
			{{/view}}
		</th>
		<th class="span4 label6a description"><span>Description</span></th>
		<th class="span4 label6a buyer"><span>Customer (buyer)</span></th>
		<th class="span4 label6a seller"><span>Customer (seller)</span></th>
		<th class="span2 label6a debits"><span>Debits</span></th>
		<th class="span2 label6a credits"><span>Credits</span></th>
		<th class="span2 label6a escrow"><span>Escrow</span></th>
	</tr>
</thead>

{{#if view.loader.results.hasNextPage}}
	{{view Balanced.ResultsLoadMoreView results=view.loader.results columns=7}}
{{/if}}

<tbody>
	{{#each order in view.loader.results}}
		<tr>
			{{view Balanced.LinkedDateCellView routeName=order.route_name date=order.created_at item=order classNames="span3"}}
			{{view Balanced.TitledLinkedCellView routeName=order.route_name item=order labelText=order.page_title classNames="span4"}}
			{{view Balanced.TitledLinkedCellView routeName=order.route_name item=order labelText=order.buyers.firstObject.display_me classNames="span4"}}
			{{view Balanced.TitledLinkedCellView routeName=order.route_name item=order labelText=order.seller.display_me classNames="span4"}}
			{{view Balanced.TitledLinkedCellView routeName=order.route_name item=order labelText=order.debits_amount classNames="span4"}}
			{{view Balanced.TitledLinkedCellView routeName=order.route_name item=order labelText=order.credits_amount classNames="span4"}}
			{{view Balanced.TitledLinkedCellView routeName=order.route_name item=order labelText=order.escrow_balance classNames="span4"}}
		</tr>
	{{else}}
		<tr>
			<td colspan="7" class="no-results">
				{{#if view.loader.results.isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
