<nav>
    <li {{bindAttr class=":transactions :filter total_transactions::disabled view.transactionsTabSelected:selected"}} >
        {{#if total_transactions}}
            <a href="#" {{action changeTypeFilter "transaction"}}>{{ transaction_type_label }} ({{ transaction_type_total }}) </a>
        {{else}}
            <span>Transactions (0)</span>
        {{/if}}
        <div class="selector dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu transaction-filter filter-choices">
                <li><a href="#" {{action changeTypeFilter "transaction"}} {{bindAttr label="totalTransactionsHeader"}}>All ({{ total_transactions }})</a></li>
                {{#if total_holds }}
                    <li><a href="#" {{action changeTypeFilter "hold"}}> Holds ({{ total_holds }}) </a></li>
                {{else}}
                    <li class="disabled"><span>Holds ({{ total_holds }})</span></li>
                {{/if}}

                {{#if total_debits }}
                    <li><a href="#" {{action changeTypeFilter "debit"}}> Debits ({{ total_debits }}) </a></li>
                {{else}}
                    <li class="disabled"><span>Debits ({{ total_debits }})</span></li>
                {{/if}}

                {{#if total_credits }}
                    <li><a href="#" {{action changeTypeFilter "credit"}}> Credits ({{ total_credits }}) </a></li>
                {{else}}
                    <li class="disabled"><span>Credits ({{ total_credits }})</span></li>
                {{/if}}

                {{#if total_refunds }}
                    <li><a href="#" {{action changeTypeFilter "refund"}}> Refunds ({{ total_refunds }}) </a></li>
                {{else}}
                    <li class="disabled"><span>Refunds ({{ total_refunds }})</span></li>
                {{/if}}
            </ul>
        </div>
    </li>

    <li {{bindAttr class=":accounts total_accounts::disabled view.customersTabSelected:selected"}} >
        {{#if total_accounts}}
            <a href="#" {{action changeTypeFilter "account"}}> Customers ({{ total_accounts }}) </a>
        {{else}}
            <span>Customers (0)</span>
        {{/if}}
    </li>

    <li {{bindAttr class=":funding-instruments :filter total_funding_instruments::disabled view.fundingInstrumentsTabSelected:selected"}} >
        {{#if total_funding_instruments}}
            <a href="#" {{action changeTypeFilter "funding_instrument"}}> {{ funding_instrument_type_label }} ({{ total_funding_instruments }}) </a>
        {{else}}
            <span>Cards &amp; Bank Accounts (0)</span>
        {{/if}}

        <div class="selector dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu funding-instruments-filter filter-choices">
                <li><a href="#" {{action changeTypeFilter "funding_instrument"}} {{bindAttr label="totalFundingInstrumentsHeader"}}> Both ({{ total_funding_instruments }}) </a></li>

                {{#if total_cards }}
                    <li><a href="#" {{action changeTypeFilter "card"}}> Cards ({{ total_cards }}) </a></li>
                {{else}}
                    <li class="disabled"><span>Cards ({{ total_cards }})</span></li>
                {{/if}}

                {{#if total_bank_accounts }}
                    <li><a href="#" {{action changeTypeFilter "bank_account"}}> Bank Accounts ({{ total_bank_accounts }}) </a></li>
                {{else}}
                    <li class="disabled"><span>Bank Accounts ({{ total_bank_accounts }})</span></li>
                {{/if}}
            </ul>
        </div>
    </li>
    <li class="timing dropdown label4a">
        {{view Balanced.DatePickerView viewName="dateTimePicker" }}
    </li>
    <li class="download">
        <a href="#" {{action openDownload}} class="icon-download right">Download</a>
    </li>
</nav>