<nav class="search-filters-header">
	{{view Balanced.DatePickerView viewName="dateTimePicker"}}
	<ul>
		<li {{bind-attr class=":orders :filter view.searchResult.total_orders::disabled view.ordersTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "order"}}> Orders ({{formatNumber view.searchResult.total_orders}}) </a>
		</li>

		<li {{bind-attr class=":transactions :filter view.searchResult.total_transactions::disabled view.transactionsTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "search"}}>Transactions ({{formatNumber view.searchResult.total_transactions}}) </a>
		</li>

		<li {{bind-attr class=":customers :filter view.searchResult.total_customers::disabled view.customersTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "customer"}}> Customers ({{formatNumber view.searchResult.total_customers}}) </a>
		</li>

		<li {{bind-attr class=":funding-instruments :filter view.searchResult.total_funding_instruments::disabled view.fundingInstrumentsTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "funding_instrument"}}> Cards &amp; Bank Accounts ({{formatNumber view.searchResult.total_funding_instruments}}) </a>
		</li>

		{{#if view.show_download_button}}
			<li class="download">
				{{view Balanced.DownloadModalView}}
			</li>
		{{/if}}
	</ul>
</nav>
