<nav>
	<li {{bind-attr class=":orders :filter view.ordersTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "order"}}> Orders </a>
	</li>

	<li {{bind-attr class=":transactions :filter view.transactionsTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "transaction"}}> Transactions </a>
	</li>

	<li {{bind-attr class=":funding-instruments :filter view.fundingInstrumentsTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "funding_instrument"}}> Cards &amp; Bank Accounts </a>
	</li>
	{{#if view.isActivity}}
		<li {{bind-attr class=":funding-instruments :filter view.disputesTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "dispute"}}> {{view.dispute_type_label}} </a>
		</li>
	{{/if}}

	<li class="timing dropdown action right">
		{{view Balanced.DatePickerView viewName="dateTimePicker"}}
	</li>

	{{#if view.show_download_button}}
		<li class="download">
			{{view Balanced.DownloadModalView noURIBinding="controller.noDownloadsUri"}}
		</li>
	{{/if}}

	{{#if view.show_disputes_download_button}}
		<li class="download">
			{{view Balanced.DisputeDownloadModalView}}
		</li>
	{{/if}}
</nav>
