<nav>
	<li {{bindAttr class=":orders view.searchResult.total_orders::disabled view.ordersTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "order"}}> Orders ({{formatNumber view.searchResult.total_orders}}) </a>
	</li>

	<li {{bind-attr class=":transactions :filter view.searchResult.total_transactions::disabled view.transactionsTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "search"}}>{{view.transaction_type_label}} ({{formatNumber view.transaction_type_total}}) </a>

		<div class="selector dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>

			<ul class="dropdown-menu transaction-filter filter-choices">
				<li {{bind-attr class="view.searchResult.total_transactions::disabled"}}><a href="#" {{action "changeTypeFilter" "transaction"}} {{bind-attr label="view.totalTransactionsHeader"}}>All ({{formatNumber view.searchResult.total_transactions}})</a></li>
				<li {{bind-attr class="view.searchResult.total_card_holds::disabled"}}><a href="#" {{action "changeTypeFilter" "card_hold"}}> Holds ({{formatNumber view.searchResult.total_card_holds}}) </a></li>
				<li {{bind-attr class="view.searchResult.total_debits::disabled"}}><a href="#" {{action "changeTypeFilter" "debit"}}> Debits ({{formatNumber view.searchResult.total_debits}}) </a></li>
				<li {{bind-attr class="view.searchResult.total_credits::disabled"}}><a href="#" {{action "changeTypeFilter" "credit"}}> Credits ({{formatNumber view.searchResult.total_credits}}) </a></li>
				<li {{bind-attr class="view.searchResult.total_refunds::disabled"}}><a href="#" {{action "changeTypeFilter" "refund"}}> Refunds ({{formatNumber view.searchResult.total_refunds}}) </a></li>
			</ul>
		</div>
	</li>

	<li {{bind-attr class=":customers view.searchResult.total_customers::disabled view.customersTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "customer"}}> Customers ({{formatNumber view.searchResult.total_customers}}) </a>
	</li>

	<li {{bind-attr class=":funding-instruments :filter view.searchResult.total_funding_instruments::disabled view.fundingInstrumentsTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "funding_instrument"}}> {{view.funding_instrument_type_label}} ({{formatNumber view.funding_instrument_type_total}}) </a>

		<div class="selector dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
			<ul class="dropdown-menu funding-instruments-filter filter-choices">
				<li {{bind-attr class="view.searchResult.total_funding_instruments::disabled"}}><a href="#" {{action "changeTypeFilter" "funding_instrument"}} {{bind-attr label="view.totalFundingInstrumentsHeader"}}> Both ({{formatNumber view.searchResult.total_funding_instruments}}) </a></li>
				<li {{bind-attr class="view.searchResult.total_cards::disabled"}}><a href="#" {{action "changeTypeFilter" "card"}}> Cards ({{formatNumber view.searchResult.total_cards}}) </a></li>
				<li {{bind-attr class="view.searchResult.total_bank_accounts::disabled"}}><a href="#" {{action "changeTypeFilter" "bank_account"}}> Bank Accounts ({{formatNumber view.searchResult.total_bank_accounts}}) </a></li>
			</ul>
		</div>
	</li>

	<li class="timing dropdown label4a">
		{{view Balanced.DatePickerView viewName="dateTimePicker"}}
	</li>

	{{#if view.show_download_button}}
		<li class="download">
			{{view Balanced.DownloadModalView}}
		</li>
	{{/if}}
</nav>
