<nav>
	<li {{bind-attr class=":orders view.ordersTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "order"}}> Orders </a>
	</li>

	<li {{bind-attr class=":transactions :filter view.transactionsTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "transaction"}}>{{view.transaction_type_label}} </a>
	</li>

	<li {{bind-attr class=":accounts view.customersTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "customer"}}> Customers </a>
	</li>

	<li {{bind-attr class=":funding-instruments :filter view.fundingInstrumentsTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "funding_instrument"}}> {{view.funding_instrument_type_label}} </a>

		<div class="selector dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
			<ul class="dropdown-menu funding-instruments-filter filter-choices">
				<li><a href="#" {{action "changeTypeFilter" "funding_instrument"}} {{bind-attr label="view.totalFundingInstrumentsHeader"}}> Both </a></li>

				<li><a href="#" {{action "changeTypeFilter" "card"}}> Cards </a></li>

				<li><a href="#" {{action "changeTypeFilter" "bank_account"}}> Bank Accounts </a></li>
			</ul>
		</div>
	</li>
	{{#if view.isActivity}}
		<li {{bind-attr class=":funding-instruments :filter view.disputesTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "dispute"}}> {{view.dispute_type_label}} </a>
		</li>
	{{/if}}

	<li class="timing dropdown action label4a">
		{{view Balanced.DatePickerView viewName="dateTimePicker"}}
	</li>

	{{#if view.show_download_button}}
		<li class="download">
			{{view Balanced.DownloadModalView noURIBinding="controller.noDownloadsUri"}}
		</li>
	{{/if}}

	{{#if view.show_disputes_download_button}}
		<li class="download">
			{{view Balanced.DisputeDownloadModalView}}
		</li>
	{{/if}}
</nav>
