<nav>
    <li {{bindAttr class=":transactions :filter view.transactionsTabSelected:selected"}} >
        <a href="#" {{action changeTypeFilter "transaction"}}>{{ view.transaction_type_label }} </a>
        <div class="selector dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu transaction-filter filter-choices">
                <li><a href="#" {{action changeTypeFilter "transaction"}} {{bindAttr label="view.totalTransactionsHeader"}}>All</a></li>
                <li><a href="#" {{action changeTypeFilter "hold"}}> Holds </a></li>

                <li><a href="#" {{action changeTypeFilter "debit"}}> Debits </a></li>

                <li><a href="#" {{action changeTypeFilter "credit"}}> Credits </a></li>

                <li><a href="#" {{action changeTypeFilter "refund"}}> Refunds </a></li>
            </ul>
        </div>
    </li>

    <li {{bindAttr class=":accounts view.customersTabSelected:selected"}} >
        <a href="#" {{action changeTypeFilter "customer"}}> Customers </a>
    </li>

    <li {{bindAttr class=":funding-instruments :filter view.fundingInstrumentsTabSelected:selected"}} >
        <a href="#" {{action changeTypeFilter "funding_instrument"}}> {{ view.funding_instrument_type_label }} </a>

        <div class="selector dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu funding-instruments-filter filter-choices">
                <li><a href="#" {{action changeTypeFilter "funding_instrument"}} {{bindAttr label="view.totalFundingInstrumentsHeader"}}> Both </a></li>

                <li><a href="#" {{action changeTypeFilter "card"}}> Cards </a></li>

                <li><a href="#" {{action changeTypeFilter "bank_account"}}> Bank Accounts </a></li>
            </ul>
        </div>
    </li>
    <li class="timing dropdown label4a">
        {{view Balanced.DatePickerView viewName="dateTimePicker" }}
    </li>
    {{#if view.show_download_button}}
    <li class="download">
        {{view Balanced.DownloadModalView}}
    </li>
    {{/if}}
</nav>
