<nav>
    <li {{bindAttr class=":filter view.allTabSelected:selected"}} >
        <a href="#" {{action changeTransactionTypeFilter "transaction" "all"}}>All</a>
    </li>

    <li {{bindAttr class=":filter view.holdsTabSelected:selected"}} >
        <a href="#" {{action changeTransactionTypeFilter "hold" "all"}}>Holds</a>
    </li>

    <li {{bindAttr class=":filter view.debitsTabSelected:selected"}} >
        <a href="#" {{action changeTransactionTypeFilter "debit" "all"}}>{{ view.debits_label }}</a>

        <div class="selector dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu funding-instruments-filter filter-choices">
                <li><a href="#" {{action changeTransactionTypeFilter "debit" "all"}}> All </a></li>
                <li><a href="#" {{action changeTransactionTypeFilter "debit" "pending"}}> Pending </a></li>
                <li><a href="#" {{action changeTransactionTypeFilter "debit" "failed"}}> Failed </a></li>
            </ul>
        </div>
    </li>

    <li {{bindAttr class=":filter view.creditsTabSelected:selected"}} >
        <a href="#" {{action changeTransactionTypeFilter "credit" "all"}}>{{ view.credits_label }}</a>

        <div class="selector dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu funding-instruments-filter filter-choices">
                <li><a href="#" {{action changeTransactionTypeFilter "credit" "all"}}> All </a></li>
                <li><a href="#" {{action changeTransactionTypeFilter "credit" "pending"}}> Pending </a></li>
                <li><a href="#" {{action changeTransactionTypeFilter "credit" "failed"}}> Failed </a></li>
            </ul>
        </div>
    </li>

    <li {{bindAttr class=":filter view.refundsTabSelected:selected"}} >
        <a href="#" {{action changeTransactionTypeFilter "refund" "all"}}>Refunds</a>
    </li>

    <li class="timing dropdown label4a">
        {{view Balanced.DatePickerView viewName="dateTimePicker" }}
    </li>

    <li class="download">
        <a href="#" {{action openDownload}} class="icon-download right">Download</a>
    </li>
</nav>