<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView classBinding=":span3 :date view.hideDateSort::sortable" field="created_at"}}<span>Date</span>{{/view}}
		<th class="span2 type has-filter">
			<div class="dropdown filter">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Type</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu type-filter filter-choices">
					<li><a href="#" {{action "changeTypeFilter" "transaction"}}>All</a></li>
					<li><a href="#" {{action "changeTypeFilter" "card_hold"}}> Holds </a></li>
					<li><a href="#" {{action "changeTypeFilter" "debit"}}> Debits </a></li>
					<li><a href="#" {{action "changeTypeFilter" "credit"}}> Credits </a></li>
					<li><a href="#" {{action "changeTypeFilter" "refund"}}> Refunds </a></li>
				</ul>
			</div>
		</th>
		<th class="span3 status has-filter">
			<div class="dropdown filter">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Status</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu status-filter filter-choices">
					<li><a href="#" {{action "changeTransactionStatusFilter" "all"}}>All</a></li>
					<li><a href="#" {{action "changeTransactionStatusFilter" "pending"}}> Pending </a></li>
					<li><a href="#" {{action "changeTransactionStatusFilter" "succeeded"}}> Succeeded </a></li>
					<li><a href="#" {{action "changeTransactionStatusFilter" "failed"}}> Failed </a></li>
				</ul>
			</div>
		</th>
		<th class="span4 description"><span>Description</span></th>
		<th class="span3 account"><span>Customer</span></th>
		<th class="span3 funding-instrument"><span>Payment method</span></th>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 amount unsorted num" field="amount"}}<span>Amount</span>{{/view}}
	</tr>
</thead>

{{#if view.transactions.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="7" class="load-more-results">
				{{#if view.transactions.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn sm secondary" {{action "loadMore" view.transactions}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each transaction in view.transactions}}
		<tr>
			<td class="span3 date">
				{{#link-to transaction.route_name transaction}}
					<span>
						<time {{bind-attr datetime="transaction.created_at"}} {{bind-attr title="transaction.created_at"}}>
						<span class="primary">{{humanReadableDate transaction.created_at}}</span>
						<span class="secondary">{{humanReadableTime transaction.created_at}}</span>
						</time>
					</span>
				{{/link-to}}
			</td>
			<td {{bind-attr class=":span2 :label4a :type transaction.type"}}>
				{{#link-to transaction.route_name transaction}}
					<span>
						{{transaction.type_name}}
					</span>
				{{/link-to}}
			</td>
			<td {{bind-attr class=":span3 :label4a :status"}}>
				{{#link-to transaction.route_name transaction}}
					<span {{bind-attr class="transaction.status"}}>
						{{#if transaction.status}}
							{{capitalize transaction.status}}
						{{/if}}
					</span>
				{{/link-to}}
			</td>
			<td {{bind-attr title="transaction.description"}} {{bind-attr class=":span4 :description transaction.description::null-field"}}>
				{{#link-to transaction.route_name transaction}}
						{{#if transaction.description}}
							<span>{{transaction.description}}</span>
						{{else}}
							<span class="sl-none">none</span>
						{{/if}}
				{{/link-to}}
			</td>
			<td {{bind-attr class=":span4 :account transaction.customer::null-field"}} {{bind-attr title="transaction.customer_name_summary"}}>
				{{#link-to transaction.route_name transaction}}
					{{#if transaction.customer_display_me}}
						<span class="primary">{{transaction.customer_display_me}}</span>
						{{#if transaction.customer_email}}
							<span class="secondary">{{transaction.customer_email}}</span>
						{{/if}}
					{{else}}
						<span class="sl-none">none</span>
					{{/if}}
				{{/link-to}}
			</td>
			<td class="span3 funding-instrument">
				{{#link-to transaction.route_name transaction}}
					<span {{bind-attr class="transaction.dasherized_funding_instrument_type"}}>
						<span class="primary">{{transaction.last_four}} {{transaction.brand}}</span>
						<span class="secondary">{{transaction.funding_instrument_type}}</span>
					</span>
				{{/link-to}}
			</td>
			<td class="span3 amount num">
				{{#link-to transaction.route_name transaction}}
					<span>
						{{formatCurrency transaction.amount}}
					</span>
				{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="7" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
