<thead>
	<tr>
		{{#view Balanced.ResultsSortableColumnHeaderView classBinding=":span3 :date view.hideDateSort::sortable" field="created_at"}}<span>Date</span>{{/view}}
		<th class="span2 type">
			<div class="dropdown filter">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Type</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu type-filter filter-choices">
					<li><a href="#" {{action "changeTypeFilter" "transaction"}}>All</a></li>
					<li><a href="#" {{action "changeTypeFilter" "card_hold"}}> Holds </a></li>
					<li><a href="#" {{action "changeTypeFilter" "debit"}}> Debits </a></li>
					<li><a href="#" {{action "changeTypeFilter" "credit"}}> Credits </a></li>
					<li><a href="#" {{action "changeTypeFilter" "refund"}}> Refunds </a></li>
				</ul>
			</div>
		</th>
		<th class="span3 status">
			<div class="dropdown filter">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Status</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu status-filter filter-choices">
					<li><a href="#" {{action "changeTransactionStatusFilter" "all"}}>All</a></li>
					<li><a href="#" {{action "changeTransactionStatusFilter" "pending"}}> Pending </a></li>
					<li><a href="#" {{action "changeTransactionStatusFilter" "succeeded"}}> Succeeded </a></li>
					<li><a href="#" {{action "changeTransactionStatusFilter" "failed"}}> Failed </a></li>
				</ul>
			</div>
		</th>
		<th class="span4 description"><span>Description</span></th>
		<th class="span3 account"><span>Customer</span></th>
		<th class="span4 funding-instrument"><span>Card or Bank Account</span></th>
		{{#view Balanced.ResultsSortableColumnHeaderView class="span3 amount unsorted num" field="amount"}}<span>Amount</span>{{/view}}
	</tr>
</thead>

{{#if view.transactions.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="7" class="load-more-results">
				{{#if view.transactions.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn secondary" {{action "loadMore" view.transactions}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each transaction in view.transactions}}
		<tr>
			{{view Balanced.LinkedDateCellView
				itemBinding=transaction
				classNames="span3"
				routeNameBinding=transaction.route_name
				dateBinding=transaction.created_at
			}}
			<td {{bind-attr class=":span2 :label4a :type transaction.type"}}>
				{{#link-to transaction.route_name transaction}}
					<span>
						{{transaction.type_name}}
					</span>
				{{/link-to}}
			</td>
			<td {{bind-attr class=":span3 :label4a :status transaction.status"}}>
				{{#link-to transaction.route_name transaction}}
					<span>
						{{#if transaction.status}}
							{{transaction.status}}
						{{/if}}
					</span>
				{{/link-to}}
			</td>
			<td {{bind-attr title="transaction.description"}} {{bind-attr class=":span4 :description transaction.description::null-field"}}>
				{{#link-to transaction.route_name transaction}}
					<span>
						{{#if transaction.description}}
							{{transaction.description}}
						{{else}}
							None
						{{/if}}
					</span>
				{{/link-to}}
			</td>
			<td {{bind-attr class=":span4 :account transaction.customer::null-field"}} {{bind-attr title="transaction.customer_name_summary"}}>
				{{#link-to transaction.route_name transaction}}
					<span>
						{{transaction.customer_name_summary}}
					</span>
				{{/link-to}}
			</td>
			<td class="span3 funding-instrument">
				{{#link-to transaction.route_name transaction}}
					<span>
						<span class="primary">{{transaction.last_four}}</span>
						<span class="secondary">{{transaction.funding_instrument_name}}</span>
					</span>
				{{/link-to}}
			</td>
			<td class="span3 amount num">
				{{#link-to transaction.route_name transaction}}
					<span>
						{{formatCurrency transaction.amount}}
					</span>
				{{/link-to}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="7" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
