<thead>
	<tr>
		<th class="col-md-2 date view.hasNoFilter::has-filter">
			{{#if view.hasNoFilter}}
				<span>Date</span>
			{{else}}
				{{#view "results/results-loader-sort-column-header" resultsLoader=view.loader field="created_at" actionName="changeTransactionsSort"}}
					<span>Date</span>
				{{/view}}
			{{/if}}
		</th>
		<th class="col-icon unlinked-status">
		</th>
		{{#if view.hasNoFilter}}
			<th class="col-md-2 type">
				<span>Type</span>
			</th>
		{{else}}
			<th class="col-md-2 type has-filter">
				{{view "results/transactions-type-results-dropdown-filter"}}
			</th>
		{{/if}}
		{{#if view.hasNoFilter}}
			<th class="col-md-2 status">
				<span>Status</span>
			</th>
		{{else}}
			<th class="col-md-2 status has-filter">
				{{view "results/transactions-status-results-dropdown-filter"}}
			</th>
		{{/if}}
		<th class="col-md-3 description"><span>Description</span></th>
		{{#unless view.isSmallTable}}
			<th class="col-md-2 account"><span>Customer</span></th>
			<th class="col-md-2 funding-instrument"><span>Payment method</span></th>
		{{/unless}}
		<th class="col-md-2 amount num">
			<span>Amount</span>
		</th>
	</tr>
</thead>
{{#if view.loader.results.hasNextPage}}
	{{#if view.isSmallTable}}
		{{view "results/results-load-more" results=view.loader.results columns=5}}
	{{else}}
		{{view "results/results-load-more" results=view.loader.results columns=7}}
	{{/if}}
{{/if}}

<tbody>
	{{#each transaction in view.loader.results}}
		<tr>
			{{view "tables/cells/linked-date-cell"
				item=transaction
				routeName=transaction.route_name
				date=transaction.created_at
			}}
			{{view "tables/cells/transaction/unlinked-status-cell"
				item=transaction
				isUnlinked=transaction.isUnlinked
				classNames="unlinked-status"
				routeName=transaction.route_name
			}}
			{{view "tables/cells/linked-text-cell"
				item=transaction
				labelText=transaction.type_name
				routeName=transaction.route_name
				classNames="type"
				title=transaction.type_name
			}}
			{{view "tables/cells/linked-text-cell"
				item=transaction
				labelText=transaction.status
				routeName=transaction.route_name
				spanClassNamesBinding="transaction.status"
				classNames="status"
				titleBinding="transaction.status"
			}}
			{{view "tables/cells/linked-text-cell"
				item=transaction
				labelText=transaction.description
				routeName=transaction.route_name
				titleBinding="transaction.description"
			}}

			{{#unless view.isSmallTable}}
				{{view "tables/cells/transaction/customer-cell" item=transaction}}

				{{view "tables/cells/linked-two-lines-cell"
					item=transaction
					routeName=transaction.route_name
					classNames="funding-instrument"
					primaryLabelText=transaction.last_four
					secondaryLabelText=transaction.funding_instrument_type
					title=transaction.funding_instrument_type
				}}
			{{/unless}}

			{{view "tables/cells/transaction/amount-cell" item=transaction}}
		</tr>
	{{else}}
		<tr>
			<td {{bind-attr colspan=view.colspan}} class="no-results">
				{{#if view.loader.results.isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
