<thead>
	<tr>
		<th class="span3 date has-filter">{{#view Balanced.ResultsSortableColumnHeaderView classBinding="view.hideDateSort::sortable" field="created_at"}}<span>Date</span>{{/view}}</th>
		<th class="span2 type has-filter">
			<div class="dropdown filter">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Type</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu type-filter filter-choices">
					<li><a href="#" {{action "changeTypeFilter" "transaction"}}>All</a></li>
					<li><a href="#" {{action "changeTypeFilter" "card_hold"}}> Holds </a></li>
					<li><a href="#" {{action "changeTypeFilter" "debit"}}> Debits </a></li>
					<li><a href="#" {{action "changeTypeFilter" "credit"}}> Credits </a></li>
					<li><a href="#" {{action "changeTypeFilter" "refund"}}> Refunds </a></li>
					<li><a href="#" {{action "changeTypeFilter" "reversal"}}> Reversals </a></li>
				</ul>
			</div>
		</th>
		<th class="span3 status has-filter">
			<div class="dropdown filter">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Status</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu status-filter filter-choices">
					<li><a href="#" {{action "changeTransactionStatusFilter" "all"}}>All</a></li>
					<li><a href="#" {{action "changeTransactionStatusFilter" "pending"}}> Pending </a></li>
					<li><a href="#" {{action "changeTransactionStatusFilter" "succeeded"}}> Succeeded </a></li>
					<li><a href="#" {{action "changeTransactionStatusFilter" "failed"}}> Failed </a></li>
				</ul>
			</div>
		</th>
		<th class="span4 description"><span>Description</span></th>
		<th class="span3 account"><span>Customer</span></th>
		<th class="span3 funding-instrument"><span>Payment method</span></th>
		<th class="span3 amount num has-filter">{{#view Balanced.ResultsSortableColumnHeaderView class="sortable unsorted" field="amount"}}<span>Amount</span>{{/view}}</th>
	</tr>
</thead>

{{#if view.transactions.hasNextPage}}
	<tfoot>
		<tr>
			<td colspan="7" class="load-more-results">
				{{#if view.transactions.loadingNextPage}}
					<div class="loader-container">
						<span class="loader loading"></span>
					</div>
				{{else}}
					<a class="btn sm secondary" {{action "loadMore" view.transactions}}>Load more</a>
				{{/if}}
			</td>
		</tr>
	</tfoot>
{{/if}}

<tbody>
	{{#each transaction in view.transactions}}
		<tr>
			{{view Balanced.LinkedDateCellView
				item=transaction
				classNames="span3"
				routeName=transaction.route_name
				date=transaction.created_at
			}}
			{{view Balanced.LinkedTextCellView
				item=transaction
				labelText=transaction.type_name
				routeName=transaction.route_name
				classNames="span2 type"
				title=transaction.type_name
			}}
			{{view Balanced.LinkedTextCellView
				item=transaction
				labelText=transaction.status
				routeName=transaction.route_name
				spanClassNamesBinding="transaction.status"
				classNames="span3 status"
				titleBinding="transaction.status"
			}}
			{{view Balanced.LinkedTextCellView
				item=transaction
				labelText=transaction.description
				routeName=transaction.route_name
				classNames="span4"
				titleBinding="transaction.description"
			}}
			{{view Balanced.TransactionCustomerCellView item=transaction classNames="span4"}}

			{{view Balanced.LinkedTwoLinesCellView
				item=transaction
				routeName=transaction.route_name
				classNames="span3 funding-instrument"
				primaryLabelText=transaction.last_four
				secondaryLabelText=transaction.funding_instrument_type
				title=transaction.funding_instrument_type
			}}
			{{view Balanced.TransactionAmountCellView item=transaction classNames="span3"}}
		</tr>
	{{else}}
		<tr>
			<td colspan="7" class="no-results">
				{{#if isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
</tbody>
