<thead>
    <tr>
        {{#view Balanced.ResultsSortableColumnHeaderView classBinding=":span3 :label6a :date view.hideDateSort::sortable" field="created_at"}}Date{{/view}}
        <th class="span4 label6a type">Transaction</th>
        <th class="span4 label6a description">Description</th>
        <th class="span3 label6a account">Customer</th>
        <th class="span4 label6a funding-instrument">Card or Bank Account</th>
        {{#view Balanced.ResultsSortableColumnHeaderView class="span2 label6a amount unsorted num" field="amount"}}Amount{{/view}}
    </tr>
</thead>
{{#if view.transactions.hasNextPage}}
<tfoot>
    <tr>
        <td colspan="6" class="load-more-results">
            {{#if view.transactions.loadingNextPage }}
                <div class="loader-container">
                    <span class="loader loading"></span>
                </div>
            {{else}}
                <a {{ action loadMore view.transactions }}>Load more</a>
            {{/if}}
        </td>
    </tr>
</tfoot>
{{/if}}
<tbody>
    {{#each transaction in view.transactions }}
        <tr>
            <td class="span3 date">
                {{#linkTo transaction.route_name transaction}}<span>
                    <time {{bindAttr datetime="transaction.created_at"}} {{bindAttr title="transaction.created_at"}}>{{humanReadableDateShort transaction.created_at}}</time>
                </span>{{/linkTo}}
            </td>
            <td {{bindAttr class=":span4 :label4a :type transaction.status"}}>
                {{#linkTo transaction.route_name transaction}}<span>
                    {{ transaction.type_name }}{{#if transaction.status }}: {{transaction.status}}{{/if}}
                </span>{{/linkTo}}
            </td>
            <td class="span4 description" {{bindAttr title="transaction.description"}}>
                {{#linkTo transaction.route_name transaction}}<span>
                    {{ transaction.description }}
                </span>{{/linkTo}}
            </td>
            <td {{bindAttr class=":span4 :account transaction.customer::null-field"}} {{bindAttr title="transaction.customer_name_summary"}}>
                {{#linkTo transaction.route_name transaction}}<span>
                    {{transaction.customer_name_summary}}
                </span>{{/linkTo}}
            </td>
            <td class="span3 funding-instrument">
                {{#linkTo transaction.route_name transaction}}<span>
                    {{transaction.funding_instrument_description}}
                </span>{{/linkTo}}
            </td>
            <td class="span2 amount num">
                {{#linkTo transaction.route_name transaction}}<span>
                    ${{ transaction.amount_dollars }}
                </span>{{/linkTo}}
            </td>
        </tr>
    {{else}}
        <tr>
            <td colspan="6" class="no-results">
                {{# if view.transactions.isLoaded }}
                    No results
                {{else}}
                    Loading...
                {{/if}}
            </td>
        </tr>
    {{/each}}
</tbody>
