<nav>
	{{#unless view.showExtraTransactionTypes}}
		<li {{bind-attr class=":filter :all view.allTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "transaction"}}>All</a>
		</li>
	{{/unless}}

	<li {{bind-attr class=":filter :holds view.holdsTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "hold"}}>Holds</a>
	</li>

	{{#if view.showExtraTransactionTypes}}
		<li {{bind-attr class=":filter :debit-cards view.debitCardsTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "card_debit"}}>Debit: cards</a>
		</li>

		<li {{bind-attr class=":filter :debit-bank-accounts view.debitBankAccountsTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "bank_account_debit"}}>Debit: bank accounts</a>
		</li>
	{{else}}
		<li {{bind-attr class=":filter :debits view.debitsTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "debit"}}>Debits</a>
		</li>
	{{/if}}

	{{#if view.showExtraTransactionTypes}}
		<li {{bind-attr class=":filter :credits view.creditsTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "credit"}}>Credits: succeeded</a>
		</li>

		<li {{bind-attr class=":filter :failed-credits view.failedCreditsTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "failed_credit"}}>Credits: failed</a>
		</li>
	{{else}}
		<li {{bind-attr class=":filter :credits view.creditsTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "credit"}}>Credits</a>
		</li>
	{{/if}}

	<li {{bind-attr class=":filter :refunds view.refundsTabSelected:selected"}} >
		<a href="#" {{action "changeTypeFilter" "refund"}}>Refunds</a>
	</li>

	{{#if view.showExtraTransactionTypes}}
		<li {{bind-attr class=":filter :reversals view.reversalsTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "reversal"}}>Reversals</a>
		</li>

		<li {{bind-attr class=":filter :disputes view.disputesTabSelected:selected"}} >
			<a href="#" {{action "changeTypeFilter" "dispute"}}>Disputes</a>
		</li>
	{{/if}}

	{{#unless view.showExtraTransactionTypes}}
		<li class="timing dropdown label4a">
			{{view Balanced.DatePickerView viewName="dateTimePicker"}}
		</li>

		<li class="download">
			{{view Balanced.DownloadModalView}}
		</li>
	{{/unless}}
</nav>
