<div {{bind-attr class=":results view.isError:results-error"}}>
	<header class="table-header">
		<span class="title">
			{{#if view.isError}}
				<i class="icon icon-alert"></i>
			{{else}}
				<i class="icon icon-checkmark"></i>
			{{/if}}
			{{view.title}}
		</span>
		<div class="pull-right">
			{{#if view.isError}}
				<a {{bind-attr href="view.errorReportUri"}} download="payments_error_report.csv" class="link-action">
					<i class="icon icon-csvexport"></i>
					Download error report
				</a>
				<a {{action "openModal" "import-payouts/confirm-clear-all-modal"}} class="link-action">Clear all</a>
			{{/if}}
		</div>
	</header>

{{#if view.items.length}}
  <table class="table table-fixed table-border">
    <thead>
      <tr>
		{{#if view.isExisting}}
			<th title="existing_customer_name_or_email">existing_customer_name_or_email</th>
		{{else}}
			<th title="new_customer_name">new_customer_name</th>
			<th title="new_customer_email">new_customer_email</th>
			<th title="new_bank_routing_number">new_bank_routing_number</th>
			<th title="new_bank_account_number">new_bank_account_number</th>
			<th title="new_bank_account_holders_name">new_bank_account_holders_name</th>
			<th title="new_bank_account_type">new_bank_account_type</th>
		{{/if}}
		<th title="appears_on_statement_as">appears_on_statement_as</th>
		<th class="table-column-20percent" title="description">description</th>
		<th class="table-column-amount" title="amount">amount</th>
		<th class="table-column table-column-icons"></th>
      </tr>
    </thead>
    <tbody>
      {{#each item in view.items}}
        <tr class="table-row">
			{{#if view.isExisting}}
				{{#view "import-payouts/existing-customer-identity-csv-upload-cell" item=item}}
					<span {{bind-attr class="view.customerLabelClasses"}}>
						<span class="customer-name-tooltip" data-tooltip>
							{{view.customerDisplayValue}}
						</span>
					</span>
					<br/>
					<span {{bind-attr class="view.bankAccountLabelClasses"}}>
						<span class="bank-description-tooltip" data-tooltip>
							{{view.bankAccountDisplayValue}}
						</span>
					</span>
				{{/view}}
			{{else}}
				{{view "import-payouts/default-csv-upload-cell" item=item fieldName="new_customer_name"}}
				{{view "import-payouts/default-csv-upload-cell" item=item fieldName="new_customer_email"}}

				{{view "import-payouts/default-csv-upload-cell" item=item fieldName="new_bank_routing_number"}}
				{{view "import-payouts/default-csv-upload-cell" item=item fieldName="new_bank_account_number"}}
				{{view "import-payouts/default-csv-upload-cell" item=item fieldName="new_bank_account_holders_name"}}
				{{view "import-payouts/default-csv-upload-cell" item=item fieldName="new_bank_account_type"}}
			{{/if}}

			{{view "import-payouts/default-csv-upload-cell" item=item fieldName="appears_on_statement_as"}}
			{{view "import-payouts/default-csv-upload-cell" item=item fieldName="description"}}
			{{view "import-payouts/currency-csv-upload-cell" item=item fieldName="amount" class="table-column-amount"}}

			<td class="table-column table-column-icons">
				{{#if item.isInvalid}}
					<a {{action "openModal" "import-payouts/confirm-remove-row-modal" item}} class="remove-icon">&times;</a>
				{{else}} {{#if item.isProcessing}}
					<i class="icon icon-loading"></i>
				{{else}} {{#if item.isSaving}}
					<i class="icon icon-checkmark"></i>
				{{/if}} {{/if}} {{/if}}
			</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
	<div class="no-results">No results</div>
{{/if}}
</div>
