<div {{bind-attr class=":results :results-framed view.isError:results-error"}}>
  <header class="header">
    <span class="count">{{view.items.length}}</span>
    <span class="title nav3d">{{view.title}}</span>
  </header>
  <table class="table table-fixed table-border">
    <thead>
      <tr>
        <th class="label6a">bank_account_id</th>
        <th class="label6a">new_bank_account_routing_number</th>
        <th class="label6a">new_bank_account_number</th>
        <th class="label6a">new_bank_account_holders_name</th>
        <th class="label6a">new_bank_account_type</th>
        <th class="label6a">new_customer_name</th>
        <th class="label6a">new_customer_email</th>
        <th class="label6a">appears_on_statement_as</th>
        <th class="label6a table-column-20percent">description</th>
        <th class="label6a table-column-amount">amount</th>
        <th class="table-column table-column-icons"></th>
      </tr>
    </thead>
    <tbody>
      {{#each view.items}}
        <tr class="table-row">
          {{view Balanced.DefaultCsvUploadCellView fieldName=bank_account_id}}

          {{view Balanced.DefaultCsvUploadCellView fieldName=new_bank_account_routing_number}}
          {{view Balanced.DefaultCsvUploadCellView fieldName=new_bank_account_number}}
          {{view Balanced.DefaultCsvUploadCellView fieldName=new_bank_account_holders_name}}
          {{view Balanced.DefaultCsvUploadCellView fieldName=new_bank_account_type}}
          {{view Balanced.DefaultCsvUploadCellView fieldName=new_customer_name}}
          {{view Balanced.DefaultCsvUploadCellView fieldName=new_customer_email}}
          {{view Balanced.DefaultCsvUploadCellView fieldName=appears_on_statement_as}}

          {{view Balanced.DefaultCsvUploadCellView fieldName=description}}

          {{#view Balanced.CsvUploadCellView fieldName=amount class="table-column-amount"}}
            <span {{bind-attr class="view.cssClasses"}} {{bind-attr title="view.value"}}>
              {{#if view.isError}}
                {{{view.value}}}
              {{else}}
                {{formatCurrency credit.amount}}
              {{/if}}
            </span>
          {{/view}}

          <td class="table-column table-column-icons">
            {{#if isInvalid}}
              <a {{action "confirmRemoveCreditCreator" this target="view.parentView"}} class="remove-icon">&times;</a>
            {{else}} {{#if isProcessing}}
              <i class="icon icon-loading"></i>
            {{else}} {{#if isSaved}}
              <i class="icon icon-checkmark"></i>
            {{/if}} {{/if}} {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
