<fieldset {{bind-attr class=":results :results-framed view.isError:results-error"}}>
  <header class="header">
    <span class="count number2a">{{view.items.length}}</span>
    <span class="title nav3d">{{view.title}}</span>
  </header>
  <table class="table table-fixed table-border">
    <thead>
      <tr>
        <th class="label6a">bank_account_id</th>
        <th class="label6a">new_customer_name</th>
        <th class="label6a">new_customer_email</th>
        <th class="label6a">new_bank_account_routing_number</th>
        <th class="label6a">new_bank_account_number</th>
        <th class="label6a">new_bank_account_holders_name</th>
        <th class="label6a">new_bank_account_type</th>
        <th class="label6a">appears_on_statement_as</th>
        <th class="label6a table-column-20percent">description</th>
        <th class="label6a">amount</th>
        <th class=""></th>
      </tr>
    </thead>
    <tbody>
      {{#each view.items}}
        <tr>
          <td>{{csvFields.bank_account_id}}</td>
          <td>{{csvFields.new_customer_name}}</td>
          <td>{{csvFields.new_customer_email}}</td>
          <td>{{csvFields.new_bank_account_routing_number}}</td>
          <td>{{csvFields.new_bank_account_number}}</td>
          <td>{{csvFields.new_bank_account_holders_name}}</td>
          <td>{{csvFields.new_bank_account_type}}</td>
          <td>{{csvFields.appears_on_statement_as}}</td>
          <td>{{csvFields.description}}</td>

          <td>{{formatCurrency csvFields.amount_in_cents}}</td>

          <td {{bind-attr class=":table-column isInvalid:table-column-error isComplete:table-column-success"}}>
            {{#if isInvalid}}
              <i class="icon icon-alert"></i>
            {{else}} {{#if isProcessing}}
              <i class="icon icon-loading"></i>
            {{else}} {{#if isComplete}}
              <i class="icon icon-checkmark"></i>
            {{/if}} {{/if}} {{/if}}

            {{#if view.isError}}
              <a {{action "removeRow" this}}>&times;</a>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</fieldset>
