{{#link-to view.routeName active=view.isSelected classBinding="view.childViewItems.length:expanded"}}
	{{#if view.linkIcon}}
		<i {{bind-attr class="view.linkIcon"}}></i>
	{{/if}}
	<span>{{view.linkText}}</span>

	{{#if view.alertCount}}
		<div class="alert-count">{{view.alertCount}}</div>
	{{/if}}
{{/link-to}}

{{#if view.childViewItems.length}}
	<ul {{bind-attr class=":submenu view.isSelected:expanded"}}>
		{{#each childView in view.childViewItems}}
			{{view childView}}
		{{/each}}
	</ul>
{{/if}}
