{{#view Balanced.ImportPayoutsView id="upload-payments"}}

{{view Balanced.ParseCreditsCsvProgressBarModalView viewName="parseProgressBarModal"}}
{{view Balanced.SaveCreditsCsvProgressBarModalView viewName="saveProgressBarModal"}}
{{view Balanced.AddFundsModalView marketplaceBinding="controllers.marketplace.model"}}

{{confirm-modal viewName="confirmRemoveModal" title="Remove Entry" mainText="Remove this entry?"}}
{{confirm-modal viewName="confirmClearAllModal" title="Clear all entries" mainText="Clear all error entries?"}}

<h1 class="page-title">Import Payouts</h1>
{{#if controllers.marketplace.production}}
	Payouts Import is only available on test marketplaces.
{{else}}
	<form {{action "submit" on="submit" target="view"}} class="full-page-form">
		{{title-bar icon="icon-document-upload" titleBinding="view.title"}}
		{{#if view.isDisplayInstructions}}
			{{partial 'import_payouts/instructions'}}
		{{else}}
			{{partial 'import_payouts/account_summary'}}
			{{#if view.displayCsvRows}}
				<div class="csv-preview">
					<h3>Preview Data</h3>
					{{#if creditCreators.isInvalid}}
						{{view Balanced.MarketplaceInvalidCsvPaymentsTableView creditCreatorsBinding="creditCreators"}}
					{{/if}}

					{{view Balanced.MarketplaceValidCsvPaymentsTableView creditCreatorsBinding="creditCreators"}}
					{{partial 'import_payouts/account_summary'}}
					{{partial "import_payouts/submit_area"}}
				</div>
			{{/if}}
		{{/if}}

	</form>
{{/if}}
{{/view}}
