{{#view Balanced.MarketplaceUploadPaymentsCsvView id="upload-payments"}}

{{view Balanced.ParseCreditsCsvProgressBarModalView viewName="parseProgressBarModal"}}
{{view Balanced.SaveCreditsCsvProgressBarModalView viewName="saveProgressBarModal"}}

{{confirm-modal viewName="confirmRemoveModal" title="Remove Entry" mainText="Remove this entry?"}}

<h1 class="page-title">Import Payouts</h1>
{{#if controllers.marketplace.production}}
	Payouts Import is only available on test marketplaces.
{{else}}
<form {{action "submit" on="submit" target="view"}} class="full-page-form">
	{{title-bar icon="icon-document-upload"}}
	<div class="main-header pay-multiple-sellers-header">
	<span class="label">
	  <i class="icon icon-document-upload"></i>
	</span>
	<span class="title nav3d">
	  {{#if creditCreators.isEmpty}}
		Upload your file
	  {{else}}
		Payout Summary
	  {{/if}}
	</span>
	</div>
	<fieldset class="pay-multiple-sellers-summary">
	  {{#if creditCreators.isEmpty}}
		{{partial 'marketplace/upload_payments_csv/instructions'}}
	  {{else}}
		{{partial 'marketplace/upload_payments_csv/account_summary'}}
	  {{/if}}
	</fieldset>

	{{#if view.displayCsvRows}}
	  <div class="pay-multiple-sellers-tables">
		{{#if creditCreators.isInvalid}}
		  {{view Balanced.MarketplaceInvalidCsvPaymentsTableView creditCreatorsBinding="creditCreators"}}
		{{/if}}
		{{view Balanced.MarketplaceValidCsvPaymentsTableView creditCreatorsBinding="creditCreators"}}
		{{partial "marketplace/upload_payments_csv/submit_area"}}
	  </div>
	{{/if}}

</form>
{{/if}}
{{/view}}
