<div id="marketplace-initial-deposit">
	<h1 class="page-title">Make an initial deposit</h1>
	<form class="full-page-form" method="POST" {{action "submit" on="submit"}}>
		<fieldset>
			<legend>Login info</legend>

			<div {{bind-attr class=":control-group transactionModel.validationErrors.dollar_amount:error"}}>
				<div class="controls">
					{{view Ember.Select
						contentBinding="initialAmounts"
						valueBinding="transactionModel.dollar_amount"
						optionValuePath="content.amount"
						optionLabelPath="content.formatted"
						viewName="dollarAmount"
					}}
					<div class="control-label label4b">{{formatError transactionModel.validationErrors.dollar_amount}}</div>
				</div>
				<label {{bind-attr for=dollarAmount.elementId}}>How much do you want to add to your balance</label>
			</div>


			<div {{bind-attr class=":control-group transactionModel.validationErrors.number:error"}}>
				<div class="controls">
					{{input valueBinding="transactionModel.number" class="full" name="number" viewName="number"}}
					<div class="control-label label4b">{{formatError transactionModel.validationErrors.number}}</div>
				</div>
				<label class="control-label" {{bind-attr for=number.elementId}}>Credit card number</label>
			</div>

			<div {{bind-attr class=":control-group transactionModel.validationErrors.cvv:error"}}>
				<div class="controls">
					{{view Ember.TextField valueBinding="transactionModel.cvv" name="cvv" class="full" viewName="cvv"}}
					<div class="control-label label4b">{{formatError transactionModel.validationErrors.cvv}}</div>
				</div>
				<label class="control-label" {{bind-attr for=cvv.elementId}}>Security Code</label>
			</div>

			<div {{bind-attr class=":control-group transactionModel.validationErrors.postal_code:error"}}>
				<div class="controls">
					{{view Ember.TextField valueBinding="transactionModel.address.postal_code" name="postal_code" class="full" viewName="postal_code"}}
					<div class="control-label label4b">{{formatError transactionModel.validationErrors.postal_code}}</div>
				</div>
				<label class="control-label" {{bind-attr for=postal_code.elementId}}>U.S. postal code</label>
			</div>

			<div {{bind-attr class=":control-group transactionModel.validationErrors.expiration_date:error"}}>
				<div class="controls">
					{{view Ember.Select
						contentBinding="expirationMonths"
						valueBinding="transactionModel.expiration_month"
						name="expiration_month"
						viewName="expirationMonth"
						class="span2"
					}}
					{{view Ember.Select contentBinding="expirationYears" valueBinding="transactionModel.expiration_year" name="expiration_year" class="span2"}}
					<div class="control-label label4b">{{formatError transactionModel.validationErrors.expiration_date}}</div>
				</div>
				<label class="control-label" {{bind-attr for=expirationMonth.elementId}}>Specify your card's expiration month and year</label>
			</div>
		</fieldset>

		<div class="actions">
			{{#if isSaving}}
				<span class="loader loading"></span> <span class="message">{{loadingMessage}}</span>
			{{else}}
				{{#link-to "marketplace" class="btn secondary" type="button"}}Skip{{/link-to}}
				<button class="btn" type="submit" name="modal-submit" {{bind-attr disabled="isSaving"}}>Submit</button>
			{{/if}}
		</div>
	</form>
</div>
