{{#view Balanced.SearchBarView value=resultsLoader.query isLoading=resultsLoader.isLoading isOpen=isResultsOpen}}
	<nav class="results-actions-bar">
		<div class="span">
			{{view "form-fields/date-picker-view" viewName="dateTimePicker"}}
		</div>
	</nav>
	<nav class="search-filters-header">
		<ul>
			<li {{bind-attr class=":orders :filter totalOrders::disabled isOrdersTabSelected:selected"}} >
				<a href="#" {{action "changeTypeFilter" "order"}}> Orders ({{formatNumber totalOrders}}) </a>
			</li>

			<li {{bind-attr class=":transactions :filter totalTransactions::disabled isTransactionsTabSelected:selected"}} >
				<a href="#" {{action "changeTypeFilter" "transaction"}}>Transactions ({{formatNumber totalTransactions}}) </a>
			</li>

			<li {{bind-attr class=":customers :filter totalCustomers::disabled isCustomersTabSelected:selected"}} >
				<a href="#" {{action "changeTypeFilter" "customer"}}> Customers ({{formatNumber totalCustomers}}) </a>
			</li>

			<li {{bind-attr class=":funding-instruments :filter totalFundingInstruments::disabled isFundingInstrumentsTabSelected:selected"}} >
				<a href="#" {{action "changeTypeFilter" "funding_instrument"}}> Cards &amp; Bank Accounts ({{formatNumber totalFundingInstruments}}) </a>
			</li>
		</ul>
	</nav>

	<div class="items-wrapper">
		{{#if isOrdersTabSelected}}
			{{view "results/orders-table" loader=resultsLoader}}
		{{/if}}

		{{#if isTransactionsTabSelected}}
			{{view "results/transactions-table" loader=resultsLoader}}
		{{/if}}

		{{#if isCustomersTabSelected}}
			{{view "results/customers-table" loader=resultsLoader}}
		{{/if}}

		{{#if isFundingInstrumentsTabSelected}}
			{{view "results/funding-instruments-table" loader=resultsLoader}}
		{{/if}}
	</div>
{{/view}}
