<h1 class="page-title">Settings</h1>

<div class="row">
    <div class="span11">
        <section class="marketplace-info">
            <form class="form-horizontal edit-inline">
                <header>
                    <h3>Marketplace info
                        {{#if can_edit}}
                        <a href="#" class="edit" {{action openEditMarketplaceInfoModal target="view"}}>Edit</a>
                        {{/if}}
                    </h3>
                </header>
                <div>
                    <div class="control-group">
                        <label class="control-label">ID</label>
                        <div class="controls">
                            <span class="inline-label">{{ id }}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Name</label>
                        <div class="controls">
                            <span {{bindAttr class="production::test-marketplace-label :inline-label"}}>
                            {{#if production}}
                                {{ name }}
                            {{else}}
                                Test
                            {{/if}}
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Support email</label>
                        <div class="controls">
                            <span {{bindAttr class="production::test-marketplace-label :inline-label"}}>
                            {{#if production}}
                                {{ support_email_address }}
                            {{else}}
                                Test
                            {{/if}}
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Domain URL</label>
                        <div class="controls">
                            <span {{bindAttr class="production::test-marketplace-label :inline-label"}}>
                            {{#if production}}
                                {{ domain_url }}
                            {{else}}
                                Test
                            {{/if}}
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Support phone #</label>
                        <div class="controls">
                            <span {{bindAttr class="production::test-marketplace-label :inline-label"}}>
                            {{#if production}}
                                {{ support_phone_number }}
                            {{else}}
                                Test
                            {{/if}}
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">API key secret</label>
                        <div class="controls">
                            <span class="inline-label api-key-secret">
                                {{#if view.keySecret}}
                                    {{ marketplaceSecret }}
                                {{else}}
                                    <a href="#" {{action showKeySecret target="view"}}>click to show</a>
                                {{/if}}
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section class="owner-info">
            <div class="key-value-display">
                <header>
                    <h3>Owner info
                        {{#if can_edit}}
                        {{view Balanced.EditCustomerInfoModalView customerBinding="model.owner_customer" marketplaceOwner="true"}}
                        {{/if}}
                    </h3>
                </header>
                <div>
                    <div class="key-value-row">
                      <label class="key">Type</label>
                      <span class="value">
                        {{ owner_customer.type }}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Name</label>
                      <span {{bindAttr class="production::test-marketplace-label :value"}}>
                        {{#if production}}
                            {{ owner_customer.display_me }}
                        {{else}}
                            Test
                        {{/if}}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Email</label>
                      <span {{bindAttr class="production::test-marketplace-label :value"}}>
                        {{#if production}}
                            {{ owner_customer.email }}
                        {{else}}
                            Test
                        {{/if}}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Street Address</label>
                      <span {{bindAttr class="production::test-marketplace-label :value"}}>
                        {{#if production}}
                          {{ owner_customer.address.line1 }} {{ owner_customer.address.line2 }}
                        {{else}}
                            Test
                        {{/if}}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">City</label>
                      <span {{bindAttr class="production::test-marketplace-label :value"}}>
                        {{#if production}}
                            {{ owner_customer.address.city }}
                        {{else}}
                            Test
                        {{/if}}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Region</label>
                      <span {{bindAttr class="production::test-marketplace-label :value"}}>
                        {{#if production}}
                            {{ owner_customer.address.state }}
                        {{else}}
                            Test
                        {{/if}}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Postal Code</label>
                      <span {{bindAttr class="production::test-marketplace-label :value"}}>
                        {{#if production}}
                            {{ owner_customer.address.postal_code }}
                        {{else}}
                            Test
                        {{/if}}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Country</label>
                      <span {{bindAttr class="production::test-marketplace-label :value"}}>
                        {{#if production}}
                            {{ owner_customer.address.country_code }}
                        {{else}}
                            Test
                        {{/if}}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Phone #</label>
                      <span {{bindAttr class="production::test-marketplace-label :value"}}>
                        {{#if production}}
                            {{ owner_customer.phone }}
                        {{else}}
                            Test
                        {{/if}}
                      </span>
                    </div>
                </div>
            </form>
        </section>

    </div>

    <div class="offset1 span8">

            <section class="bank-account-info">
                <header>
                    <h3>Bank accounts
                        <a href="#" class="add" {{action openAddBankAccountModal target="view"}}>Add a bank account</a>
                    </h3>
                </header>
                <ul class="sidebar-items">
                    {{#each bank_account in owner_customer.bank_accounts }}
                        <li class="bank-account">
                            {{#linkTo 'bank_accounts' bank_account}}
                                <div {{bindAttr class=":icon bank_account.can_debit:icon-verified"}}>Bank account</div>
                            {{/linkTo}}
                                <a href="#" class="icon-delete" {{action promptToDeleteBankAccount bank_account}}>delete</a>
                            {{#linkTo 'bank_accounts' bank_account}}
                                <div class="details">
                                    <span class="name"><span class="label2a">{{ bank_account.name }}</span></span>
                                    <span class="summary">{{ bank_account.description }}</span>
                                </div>

                                {{#unless bank_account.can_debit }}
                                    <div class="actions">
                                        {{#if bank_account.can_confirm_verification}}
                                            Confirm verification
                                        {{else}}
                                            Verify to debit
                                        {{/if}}
                                    </div>
                                {{/unless}}
                            {{/linkTo}}
                        </li>
                    {{/each}}
                </ul>
            </section>

            <section class="card-info">
                <header>
                    <h3>Credit cards
                        <a href="#" class="add" {{action openAddCardModal target="view"}}>Add a card</a>
                    </h3>
                </header>
                <ul class="sidebar-items">
                    {{#each card in owner_customer.cards }}
                    <li>
                        {{#linkTo 'cards' card}}
                            <div class="icon">Credit card</div>
                        {{/linkTo}}
                            <a href="#" class="icon-delete" {{action promptToDeleteCard card}}>delete</a>
                        {{#linkTo 'cards' card}}
                            <div class="details">
                                <span class="name"><span class="label2a">{{ card.name }}</span></span>
                                <span class="summary">{{ card.description }}</span>
                            </div>
                        {{/linkTo}}
                    </li>
                    {{/each}}
                </ul>
            </section>

        </div>
</div>

<div class="row">
    <div class="span20">
        <section class="webhook-info">
            <header>
                <h3>Webhooks
                    <a href="#" class="add" {{action openAddCallbackModal target="view"}}>Add a webhook</a>
                </h3>
            </header>
            <ul class="webhooks">
            	{{#each callback in callbacks }}
            		<li class="pending">

            		<!--
            		<li class="failed">
            		<li class="succeeded expanded">
            		-->

	                    <div class="summary">
	                        <a href="#" class="icon-delete" {{action promptToDeleteCallback callback}}>delete</a>
                            <div class="expand"><!--<span class="caret"></span>--></div>
	                        <div class="state">pending</div>
                            <!--
	                        <div class="action"><button class="btn">Test</button></div>
                            -->
	                        <div class="url"><span class="callback-method">{{ callback.method }}</span> {{ callback.url }}</div>
	                    </div>
	                    <div class="detail">
	                    <!--
	                    	<header>
	                            <dl>
	                                <dd>Status</dd>
	                                <dt>201</dt>
	                                <dd>User-agent</dd>
	                                <dt>balanced/hookingbot/1.0</dt>
	                                <dd>Request</dd>
	                                <dt></dt>
	                            </dl>

	                        </header>
	                        <div class="payload">

	<pre>{
	    "id": "EV5THlcVTfjDtfPQKmY3VNJN",
	    "type": "credit.updated",
	    "occurred_at": "2012-09-18T14:58:44.179243Z",
	    "entity": {
	        "status": "paid",
	        "fee": null,
	        "description": "Light Yellow Guitar Pickup Cover and Knobs Switch Tip Set ABS Great Parts NEW",
	        "updated_at": "2013-01-14T23:54:38.852847Z",
	        "created_at": "2013-01-14T23:54:38.852846Z",
	        "transaction_number": "CR221-198-2779",
	        "amount": 7809,
	        "uri": "/v1/marketplaces/TEST-MP5PKrAjJDsHimUs46XEN5Wb/accounts/AC5TmlvYZ95vYXQdh1KQty9R/credits/CR5TGKk7nkr2IrDaqCDW65BF",
	        "bank_account_uri": "/v1/bank_accounts/BA5TiQAXbrXrEFWGLWzFGfh9",
	        "state": "cleared",
	        "meta": {},
	        "account_uri": "/v1/marketplaces/TEST-MP5PKrAjJDsHimUs46XEN5Wb/accounts/AC5TmlvYZ95vYXQdh1KQty9R",
	        "destination_uri": "/v1/marketplaces/TEST-MP5PKrAjJDsHimUs46XEN5Wb/accounts/AC5TmlvYZ95vYXQdh1KQty9R/bank_accounts/BA5TiQAXbrXrEFWGLWzFGfh9",
	        "id": "CR5TGKk7nkr2IrDaqCDW65BF",
	        "available_at": "2013-01-14T23:54:38.817488Z"
	    }
	}</pre>

	                                  </div>

	                                  <header>

	                                      <dl>
	                                          <dd>Response</dd>
	                                          <dt></dt>
	                                      </dl>

	                                  </header>
	                                  <div class="payload">
	<pre>&lt;!doctype html&gt;
	&lt;html&gt;
	&lt;head&gt;
	  &lt;title&gt;Example Domain&lt;/title&gt;

	  &lt;meta charset="utf-8" /&gt;
	  &lt;meta http-equiv="Content-type" content="text/html; charset=utf-8" /&gt;
	  &lt;meta name="viewport" content="width=device-width, initial-scale=1" /&gt;
	  &lt;style type="text/css"&gt;
	  body {
	    background-color: #f0f0f2;
	    margin: 0;
	    padding: 0;
	    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

	  }
	  div {
	    width: 600px;
	    margin: 5em auto;
	    padding: 3em;
	    background-color: #fff;
	    border-radius: 1em;
	  }
	  a:link, a:visited {
	    color: #38488f;
	    text-decoration: none;
	  }
	  @media (max-width: 600px) {
	    body {
	      background-color: #fff;
	    }
	    div {
	      width: auto;
	      margin: 0 auto;
	      border-radius: 0;
	      padding: 1em;
	    }
	  }
	  &lt;/style&gt;
	&lt;/head&gt;

	&lt;body&gt;
	&lt;div&gt;
	  &lt;h1&gt;Example Domain&lt;/h1&gt;
	  &lt;p&gt;This domain is established to be used for illustrative examples in documents. You do not need to
	    coordinate or ask for permission to use this domain in examples, and it is not available for
	    registration.&lt;/p&gt;
	  &lt;p&gt;&lt;a href="http://www.iana.org/domains/special"&gt;More information...&lt;/a&gt;&lt;/p&gt;
	&lt;/div&gt;
	&lt;/body&gt;
	&lt;/html&gt;
	</pre>
	                        </div>
	                        -->
	                    </div>
	                </li>
            	{{/each}}
            </ul>
        </section>
    </div>
</div>

{{view Balanced.EditMarketplaceInfoModalView contentBinding="model" viewName="editMarketplaceInfoModal"}}
{{view Balanced.AddBankAccountModalView customerBinding="model.owner_customer" viewName="addBankAccountModal"}}
{{view Balanced.DeleteBankAccountModalView}}
{{view Balanced.AddCardModalView customerBinding="model.owner_customer" viewName="addCardModal"}}
{{view Balanced.DeleteCardModalView}}
{{view Balanced.AddCallbackModalView marketplaceBinding="model" viewName="addCallbackModal"}}
{{view Balanced.DeleteCallbackModalView}}
