{{view "page-navigations/page-navigation" title="Settings" hideDateFilter=true}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{view detail-views/description-lists/settings-marketplace-titled-key-values-section model=model}}
		{{view "detail-views/description-lists/settings-owner-titled-key-values-section" model=model.owner_customer}}
	{{/view}}

	{{#view "detail-views/main-panel"}}
		<section class="payment-method-info">
			<h3>Payment methods</h3>
			<div class="pull-right">
				<a class="btn-link sm" {{action "openModal" "modals/customer-bank-account-create-modal" model.owner_customer}}><i class="icon icon-add non-interactive"></i>Add a bank account</a>
				<a class="btn-link sm" {{action "openModal" "modals/customer-card-create-modal" model.owner_customer}}><i class="icon icon-add non-interactive"></i>Add a card</a>
			</div>
			<div class="results">
				{{view "results/embedded-funding-instruments-table" loader=fundingInstrumentsResultsLoader}}
			</div>
		</section>

		<section class="api-key-info">
			<h3>API keys</h3>

			<div class="pull-right">
				<a href="#" {{action "openModal" "modals/api-key-create-modal"}} class="btn-link sm create-api-key-btn"><i class="icon icon-add non-interactive"></i>Add a key</a>
			</div>
			<span class="sl-note">(All keys have admin access to the dashboard)</span>
			<div class="results">
				{{api-keys-table keys=userMarketplace.fullKeys marketplaceSecret=marketplaceSecret userMarketplace=userMarketplace}}
			</div>
		</section>

		{{#unless auth.isGuest}}
			<section class="users-info">
				<h3>Users</h3>
				<div class="pull-right">
					<a href="#" {{action "openModal" "modals/marketplace-user-create-modal" marketplace.users_uri}} class="btn-link sm create-user-btn"><i class="icon icon-add non-interactive"></i>Add a user</a>
				</div>
				<div class="results">
					{{users-table users=userMarketplace.users userMarketplace=userMarketplace}}
				</div>
			</section>
		{{/unless}}

		<section class="webhook-info">
			<h3>Webhooks</h3>
			<a href="#" class="add btn-link sm pull-right" {{action "openModal" "modals/add-callback-modal" model}}><i class="icon icon-add non-interactive"></i>Add a webhook</a>
			<table class="items non-interactive webhooks">
				<thead>
					<th class="col-md-3"><span>Version</span></th>
					<th class="col-md-8"><span>Method &amp; URI</span></th>
					<th class="col-icon"><span></span></th>
				</thead>
				<tbody>
					{{#each callback in callbacks}}
						<tr>
							<td class="callback-revision">
								<span>Revision {{callback.revision}}</span>
							</td>
							<td class="url wrap-text">
								<span class="callback-method"><span class="uppercase">{{callback.method}}</span> {{callback.url}}</span>
							</td>
							<td>
								<a class="delete-callback-link" href="#" {{action "openModal" "modals/callback-delete-modal" callback}}><i class="icon-table-x"></i></a>
							</td>
						</tr>
					{{else}}
						<tr>
							<td colspan="3" class="no-results">
								No webhooks
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</section>
	{{/view}}
{{/view}}
