{{view "page-navigations/page-navigation" title="Settings" hideDateFilter=true}}

{{#view Balanced.BodyPanelView}}
	{{#view Balanced.SidePanelView model=model}}
		{{view Balanced.SettingsMarketplaceTitledKeyValuesSectionView model=model}}
		{{view Balanced.SettingsOwnerTitledKeyValuesSectionView model=model.owner_customer}}
	{{/view}}

	{{#view Balanced.MainPanelView}}
		<section class="payment-method-info">
			<h3>Payment methods</h3>
			<div class="pull-right">
				<a class="btn-link sm" {{action "openModal" Balanced.Modals.CustomerBankAccountCreateModalView model.owner_customer}}>Add a bank account</a>
				<a class="btn-link sm" {{action "openModal" Balanced.Modals.CustomerCardCreateModalView model.owner_customer}}>Add a card</a>
			</div>
			<div class="results">
				{{view Balanced.EmbeddedFundingInstrumentsResultsView loader=fundingInstrumentsResultsLoader}}
			</div>
		</section>

		<section class="api-key-info">
			<h3>API keys</h3>
			{{api-key-create-modal keys=userMarketplace.fullKeys marketplaceSecret=marketplaceSecret userMarketplace=userMarketplace name=name production=production user=user}}
			<span class="sl-note">(All keys have admin access to the dashboard)</span>
			<div class="results">
				{{api-keys-table keys=userMarketplace.fullKeys marketplaceSecret=marketplaceSecret userMarketplace=userMarketplace}}
			</div>
		</section>

		{{#unless auth.isGuest}}
			<section class="users-info">
				<h3>Users</h3>
				{{user-create-modal marketplaceBinding="model" userMarketplace=userMarketplace}}
				<div class="results">
					{{users-table users=userMarketplace.users userMarketplace=userMarketplace}}
				</div>
			</section>
		{{/unless}}

		<section class="webhook-info">
			<h3>Webhooks</h3>
			{{add-callback-modal marketplaceBinding="model"}}
			<table class="items non-interactive webhooks">
				<thead>
					<th class="span3"><span>Version</span></th>
					<th class="span11"><span>Method &amp; URI</span></th>
					<th><span></span></th>
				</thead>
				<tbody>
					{{#each callback in callbacks}}
						<tr>
							<td class="callback-revision">
								<span>Revision {{callback.revision}}</span>
							</td>
							<td class="url">
								<span class="callback-method"><span class="uppercase">{{callback.method}}</span> {{callback.url}}</span>
							</td>
							<td>
								<a class="delete-callback-link" href="#" {{action "openDeleteCallbackModal" callback}}><i class="icon-table-x"></i></a>
							</td>
						</tr>
					{{else}}
						<tr>
							<td colspan="3" class="no-results">
								No results
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</section>
	{{/view}}
{{/view}}

{{view Balanced.DeleteCallbackModalView}}
