<div class="page-navigation">
	<h1 class="page-title">Settings</h1>
</div>

<div class="row-fluid">
	<div class="span16">
		<section class="marketplace-info">
			<div class="key-value-display">
				<header>
					<h3>Marketplace info
						{{#if can_edit}}
							<a href="#" class="edit" {{action "openEditMarketplaceInfoModal" target="view"}}>Edit</a>
						{{/if}}
					</h3>
				</header>
				<dl class="dl-horizontal">
					<dt>ID</dt>
					<dd><span>{{id}}</span></dd>

					<dt>Name</dt>
					<dd data-property="marketplace-name">
						<span {{bind-attr class="production::test-marketplace-label :inline-label"}}>
							{{#if production}}
								{{name}}
							{{else}}
								Test
							{{/if}}
						</span>
					</span></dd>
					<dt>Support email</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :inline-label"}}>
							{{#if production}}
								{{support_email_address}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
					<dt>Domain URL</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :inline-label"}}>
							{{#if production}}
								{{domain_url}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
					<dt>Support phone #</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :inline-label"}}>
							{{#if production}}
								{{support_phone_number}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
				</dl>
			</div>
		</section>

		<section class="owner-info">
			<div class="key-value-display">
				<header>
					<h3>Owner info
						{{#if can_edit}}
							{{view Balanced.EditCustomerInfoModalView customerBinding="controller.model.owner_customer" marketplaceOwner="true"}}
						{{/if}}
					</h3>
				</header>
				<dl class="dl-horizontal">
					<dt>Type</dt>
					<dd>
						<span class="value">
							{{owner_customer.type}}
						</span>
					</dd>
					<dt>Name</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :value"}}>
							{{#if production}}
								{{owner_customer.display_me}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
					<dt>Email</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :value"}}>
							{{#if production}}
								{{owner_customer.email}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
					<dt>Street Address</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :value"}}>
							{{#if production}}
								{{owner_customer.address.line1}} {{owner_customer.address.line2}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
					<dt>City</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :value"}}>
							{{#if production}}
								{{owner_customer.address.city}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
					<dt>Region</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :value"}}>
							{{#if production}}
								{{owner_customer.address.state}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
					<dt>Postal Code</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :value"}}>
							{{#if production}}
								{{owner_customer.address.postal_code}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
					<dt>Country</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :value"}}>
							{{#if production}}
								{{owner_customer.address.country_code}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
					<dt>Phone #</dt>
					<dd>
						<span {{bind-attr class="production::test-marketplace-label :value"}}>
							{{#if production}}
								{{owner_customer.phone}}
							{{else}}
								Test
							{{/if}}
						</span>
					</dd>
				</dl>
			</div>
		</section>
	</div>
	<div class="offset1 span9">
		<section class="bank-account-info">
			<header>
				<h3>Bank accounts
					{{add-bank-account-modal customerBinding="controller.model.owner_customer"}}
				</h3>
			</header>
			<ul class="sidebar-items">
				{{#each bank_account in owner_customer.bank_accounts}}
					<li class="bank-account">
						{{#link-to 'bank_accounts' bank_account}}
							<div {{bind-attr class=":icon bank_account.can_debit:icon-verified"}}>Bank account</div>
						{{/link-to}}
						<a href="#" class="icon-delete" {{action "openDeleteBankAccountModal" bank_account}}>delete</a>
						{{#link-to 'bank_accounts' bank_account}}
							<div class="details">
								<span class="name"><span class="label2a">{{bank_account.name}}</span></span>
								<span class="summary">{{bank_account.description}}</span>
							</div>

							{{#unless bank_account.can_debit}}
								<div class="actions">
									{{#if bank_account.can_confirm_verification}}
										Confirm verification
									{{else}}
										Verify to debit
									{{/if}}
								</div>
							{{/unless}}
						{{/link-to}}
					</li>
				{{/each}}
			</ul>
		</section>

		<section class="card-info">
			<header>
				<h3>Credit cards
					{{add-card-modal customerBinding="controller.model.owner_customer"}}
				</h3>
			</header>
			<ul class="sidebar-items">
				{{#each card in owner_customer.cards}}
					<li>
						{{#link-to 'cards' card}}
							<div class="icon">Credit card</div>
						{{/link-to}}
						<a href="#" class="icon-delete" {{action "openDeleteCardModal" card}}>delete</a>
						{{#link-to 'cards' card}}
							<div class="details">
								<span class="name"><span class="label2a">{{card.name}}</span></span>
								<span class="summary">{{card.description}}</span>
							</div>
						{{/link-to}}
					</li>
				{{/each}}
			</ul>
		</section>
	</div>
</div>

<section class="api-keys-info">
	<header>
		<h3>API Keys
			<span class="warn">(All keys have admin access to the dashboard)</span>
			{{api-key-create-modal keys=userMarketplace.fullKeys marketplaceSecret=marketplaceSecret userMarketplace=userMarketplace name=name production=production user=user}}
		</h3>
	</header>
	{{api-keys-table keys=userMarketplace.fullKeys marketplaceSecret=marketplaceSecret userMarketplace=userMarketplace}}
</section>

{{#unless auth.isGuest}}
	<section class="users-info">
		<header>
			<h3>Users
				{{user-create-modal marketplaceBinding="model" userMarketplace=userMarketplace}}
			</h3>
		</header>
		{{users-table users=userMarketplace.users}}
	</section>
{{/unless}}

<section class="webhook-info">
	<header>
		<h3>Webhooks
			{{add-callback-modal marketplaceBinding="model"}}
		</h3>
	</header>
	<ul class="webhooks">
		{{#each callback in callbacks}}
			<li class="pending">
				<div class="summary">
					<a href="#" class="icon-delete" {{action "openDeleteCallbackModal" callback}}>delete</a>
					<div class="callback-revision">Revision {{callback.revision}}</div>
					<div class="url"><span class="callback-method">{{callback.method}}</span> {{callback.url}}</div>
				</div>
				<div class="detail"></div>
			</li>
		{{else}}
			<li class="no-results">
				No results
			</li>
		{{/each}}
	</ul>
</section>

{{view Balanced.EditMarketplaceInfoModalView contentBinding="model" viewName="editMarketplaceInfoModal"}}
{{view Balanced.DeleteBankAccountModalView}}
{{view Balanced.DeleteCardModalView}}
{{view Balanced.DeleteCallbackModalView}}
