<div class="page-navigation">
	<div class="page-actions">
		<a class="btn sm charge-a-card" {{action "openModal" Balanced.DebitNewFundingInstrumentModalView}}>
			Debit a card
		</a>
		<a class="btn sm pay-a-seller" {{action "openModal" Balanced.CreditNewFundingInstrumentModalView}}>
			Credit a bank account
		</a>
	</div>

	<h1 class="page-title">
		{{pageTitle}}
	</h1>
</div>

<div class="main-header activity-escrow-box">
	<div class="inline dropdown borderless right">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<span>Escrow: {{controllers.marketplace.formattedEscrowAmount}}</span>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu right">
			<li>
				<a class="add-funds-btn" {{action "openModal" Balanced.CreateEscrowCreditModalView}}>Add funds</a>
			</li>
			<li>
				<a class="withdraw-funds-btn" {{action "openWithdrawFundsModal"}}>Withdraw funds</a>
			</li>
		</ul>
	</div>
</div>

<div class="results">
	{{view Balanced.ResultsFiltersHeaderView searchResultBinding="last_loaded_search_result" from="activity"}}
</div>

<div class="results">
	{{view Balanced.TransactionsResultsView transactions=resultsLoader.results resultsLoader=resultsLoader}}
</div>

{{view Balanced.WithdrawFundsModalView marketplaceBinding="controllers.marketplace.model"}}
