<h1 class="page-title">Transactions
    <a href="#" {{action download_show}} class="icon-download right">Download</a>
</h1>

<div class="span20 escrow-box">
    <div class="span2 label">
        <span class="subhead1d">Escrow</span>
    </div>
    <div class="span14 amount">
        <span class="number1d">
            {{ formatCurrency controllers.marketplace.in_escrow }}
        </span>
    </div>
    <div class="span4 buttons">
        <a class="btn" {{action openAddFundsModal target="view"}}}>Add funds</a>
        <a class="btn" {{action openWithdrawFundsModal target="view"}}}>Withdraw funds</a>
    </div>
</div>

{{view Balanced.EmbeddedIframeView iframeUrlBinding="controllers.marketplace.transactions_embedded_iframe_url"}}

{{#if show_download}}
    {{view Balanced.DownloadModalView }}
{{/if}}

{{view Balanced.AddFundsModalView marketplaceBinding="model" viewName="addFundsModal"}}
{{view Balanced.WithdrawFundsModalView marketplaceBinding="model" viewName="withdrawFundsModal"}}
