<div id="activity">
    <h1 class="page-title">Activity
        {{#if iframeLoading}}<div class="loader-container"><span class="loader loading"></span></div>{{/if}}
        <a href="#" {{action download_show}} class="icon-download right">Download</a>
    </h1>

    {{ partial "escrow_box" }}

    {{ partial "activity_header" }}

    {{view Balanced.EmbeddedIframeView iframeUrlBinding="controllers.marketplace.transactions_embedded_iframe_url"}}

    {{#if show_download}}
        {{view Balanced.DownloadModalView }}
    {{/if}}

    {{view Balanced.AddFundsModalView marketplaceBinding="model" viewName="addFundsModal"}}
    {{view Balanced.WithdrawFundsModalView marketplaceBinding="model" viewName="withdrawFundsModal"}}
</div>
