{{#view Balanced.PageNavigationView title="Transactions"}}
	<div class="buttons page-actions">
		<a class="btn" {{action "openModal" Balanced.Modals.DebitCardModalView}}>Debit a card</a>
		<a class="btn" {{action "openModal" Balanced.CreditNewFundingInstrumentModalView}}>Credit a bank account</a>
	</div>
{{/view}}

<nav class="results-actions-bar">
	<div class="main-header">
		<div class="inline dropdown borderless right">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span>Escrow: {{controllers.marketplace.formattedEscrowAmount}}</span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu right">
				<li>
					<a class="add-funds-btn" {{action "openModal" Balanced.CreateEscrowCreditModalView controllers.marketplace.model}}>Add funds</a>
				</li>
				<li>
					<a class="withdraw-funds-btn" {{action "openModal" Balanced.Modals.MarketplaceEscrowWithdrawalModalView controllers.marketplace.model}}>Withdraw funds</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<nav class="results-actions-bar">
	<div class="pull-right">
		{{#unless auth.isGuest}}
			{{#link-to "marketplace.import_payouts" class="btn-link sm"}}
				<i class="icon icon-document-upload import-payout"></i>
				Import payouts
			{{/link-to}}
		{{/unless}}
		<a {{action "openModal" Balanced.Modals.ExportCsvModalView resultsLoader}} class="btn-link sm">
			<i class="icon icon-export"></i>
			Export
		</a>
	</div>
	{{view Balanced.DatePickerView viewName="dateTimePicker"}}
</nav>
<div class="results">
	{{view Balanced.TransactionsResultsView loader=resultsLoader}}
</div>
