<div class="row">
  <div class="span20">
    <h1 class="page-title">Upload Payments CSV</h1>

{{#view Balanced.MarketplaceUploadPaymentsCsvView}}
  <form {{action "submit" on="submit"}} class="full-page-form">
    <fieldset>
      <div class="control-group">
        <input type="file" name="file" {{action fileSelectionChanged on="change" target="view"}} />
        <label class="control-label">Select a CSV File</label>
      </div>

      {{#if results.length}}
        <div class="section-banner-header">
           <p>Please review the information below before proceeding</p>
        </div>

        <header>
          <h3>File Summary</h3>
        </header>
        <div class="control-group">
            <label class="control-label">Total payout amount</label>
            <div class="controls">
              <span class="inline-label">{{formatCurrency view.payoutTotal}}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Current Escrow Balance</label>
            <div class="controls">
              <span class="inline-label">
                {{ formatCurrency view.escrowTotal }}
              </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Number Of Customers</label>
            <div class="controls">
              <span class="inline-label">{{results.length}}</span>
            </div>
        </div>

        <div class="results">
          {{view Balanced.TransactionsResultsView transactionsBinding=results}}
        </div>
      {{/if}}
    </fieldset>

    {{#if results.length}}
      <div class="actions">
        {{#if processingInProgress}}
          Processing in progress.
        {{else}}
          {{#if processingCompleted}}
            All Items Processed
          {{else}}
            {{#if view.isEscrowValid}}
              <button type="submit">Continue</button>
            {{else}}
              There's not enough money on your escrow.
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </form>
{{/view}}

  </div>
</div>
