<div class="row">
  <div class="span21">
    <h1 class="page-title">Pay Multiple Sellers</h1>

{{#view Balanced.MarketplaceUploadPaymentsCsvView}}
  <form {{action "submit" on="submit"}} class="full-page-form">

    <fieldset>
      <div class="main-header pay-multiple-sellers-header">
        <div class="row">
          <div class="span2 label">
            <div class="icon icon-logs"></div>
          </div>
          <div class="span19 title">
            <span class="nav3d">
              Upload your file
            </span>
          </div>
        </div>
      </div>
      {{#if results.length}}
        {{partial 'marketplace/upload_payments_csv/account_summary'}}
      {{else}}
        {{partial 'marketplace/upload_payments_csv/instructions'}}
      {{/if}}
    </fieldset>

    {{#if view.displayCsvRows}}
      {{partial "marketplace/upload_payments_csv/results_table"}}
    {{/if}}

    {{#if results.length}}
      <div class="actions">
        {{#if processingInProgress}}
          Processing in progress.
        {{else}}
          {{#if processingCompleted}}
            All Items Processed
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </form>
{{/view}}

  </div>
</div>
