<h1 class="page-title">Pay multiple sellers</h1>

{{#view Balanced.MarketplaceUploadPaymentsCsvView id="upload-payments"}}
{{progress-bar-modal viewName="progressBarModal" title="Submitting Payouts"}}

<form {{action "submit" on="submit" target="view"}} class="full-page-form">
<fieldset class="pay-multiple-sellers-summary">
  <div class="main-header pay-multiple-sellers-header">
    <span class="label">
      <i class="icon icon-logs"></i>
    </span>
    <span class="title">
      {{#if creditCreators.isEmpty}}
        Upload your file
      {{else}}
        Payout Summary
      {{/if}}
    </span>
  </div>
  {{#if creditCreators.isEmpty}}
    {{partial 'marketplace/upload_payments_csv/instructions'}}
  {{else}}
    {{partial 'marketplace/upload_payments_csv/account_summary'}}
  {{/if}}
</fieldset>

{{#if view.displayCsvRows}}
  <div class="pay-multiple-sellers-tables">
    {{#if creditCreators.isInvalid}}
      {{view Balanced.MarketplaceInvalidCsvPaymentsTableView creditCreatorsBinding="creditCreators"}}
    {{/if}}
    {{view Balanced.MarketplaceValidCsvPaymentsTableView creditCreatorsBinding="creditCreators"}}
    {{partial "marketplace/upload_payments_csv/submit_area"}}
  </div>
{{/if}}

</form>
{{/view}}
