<h1 class="page-title">Upload Payments Csv</h1>

<form class="form-horizontal split-labels">
    {{#if is_step_1}}
      <div>
        <h2>Step 1: Upload File</h2>
        <div>
            <label class="control-label">CSV File</label>
            <div class="controls">
                <input type="file" id="file" name="file" {{action fileSelectionChanged on="change"}}/>
            </div>
        </div>
        <div class="actions">
          <button class="btn" {{ action readFile }}>Upload</button>
        </div>
      </div>
    {{/if}}

    {{#if is_step_2}}
      <div>
        <h2>Step 2: Confirm Fields</h2>
        <div>
          {{#if columns_valid}}
            <p>Your column names look great</p>
          {{else}}
            <p>The column mapping functionality is not implemented yet.</p>
            <p>Please relabel your columns with:
              {{expected_column_fields}}
            </p>
            <p>You used: {{uploaded_column_names}}</p>
          {{/if}}
        </div>
        <div class="actions">
          <button class="btn" {{ action back }}>Back</button>
          <button class="btn" {{ action mapFileColumns }}>Continue</button>
        </div>
      </div>
    {{/if}}

    {{#if is_step_3}}
      <div>
        <h2>Step 3: Review Data</h2>
        <div>
          <h6>Please review the following information before proceeding</h6>
          <p><em>Total payout balance</em> : {{formatCurrency total_payout_balance}}</p>
          <p><em>Current Escrow balance</em> : {{formatCurrency current_escrow_balance}}</p>
          <p><em>Number of customers</em> : {{total_number_of_customers}}</p>

          {{#each upload_error_messages}}
            <div>
              <p>{{this}}</p>
            </div>
          {{else}}
            <div>
              <p>Data is ready to upload</p>
            </div>
          {{/each}}
        </div>
        <div class="actions">
          <button class="btn" {{ action back }}>Back</button>
          <button class="btn" {{ action save }}>Continue to Upload</button>
        </div>
      </div>
    {{/if}}

    {{#if is_step_4}}
        <div>
          <h2>Uploading</h4>

          <p><em>Data uploaded</em> : {{uploaded_count}}</p>
          <p><em>Number of customers</em> : {{total_number_of_transactions}}</p>
        </div>
    {{/if}}

    {{#if is_step_5}}
        <div>
          <h2>Finished</h4>
        </div>
    {{/if}}
</form>
