{{#if view.hasStatusOrLinkedResources}}
	<div class="summary">
		<dl class="linked-resources">
			{{#if view.status}}
				<dt>
					<i class="icon-status non-interactive"></i>
					Status
				</dt>
				<dd {{bind-attr class=":status view.status view.statusClassName"}}>
					<span>{{sentence-case view.status}}</span>

					{{#if view.statusText}}
						<p>
							{{view.statusText}}

							{{#if view.learnMore}}
								<a {{action "toggleDrawer" view.learnMore.className}}>Learn more</a>
							{{/if}}
						</p>
					{{/if}}

					{{#if view.statusButtonModalView}}
						<a class="btn sm" {{action "openModal" view.statusButtonModalView view.model}}>
							{{view.statusButtonText}}
						</a>
					{{/if}}

					{{#if view.learnMore}}
						<p {{bind-attr class=":drawer view.learnMore.className"}}>
							{{view.learnMore.text}}
						</p>
					{{/if}}
				</dd>
			{{/if}}

			{{#each linkedResource in view.linkedResources}}
				<dt>
					<i {{bind-attr class="linkedResource.className :non-interactive"}}></i>
					{{linkedResource.title}}

					{{#if linkedResource.editModelModalClass}}
						<a class="edit-model-link" {{action "openModal" linkedResource.editModelModalClass view.model}}>
							<i class="icon-edit"></i>
						</a>
					{{/if}}
				</dt>
				{{view "detail-views/resource-summaries/resource-summary-base" model=linkedResource.resource hoverValue=linkedResource.hoverValue}}
			{{/each}}
		<dl>
	</div>
{{/if}}
