<div class="alert-row">
	{{#if controllers.application.hasNotification}}
		{{#if controllers.application.showNotificationCenter}}
			<div class="row-fluid notification-center notification-center-row">
				<div class="span2">
					<div {{bind-attr class=":icon-button-group controllers.application.showNotificationCenter:open"}}>
						<button type="button" class="icon icon-notification notification-bell btn-sm" {{action "toggleNotificationCenter" target="controllers.application"}}></button>
						<button type="button" class="callout btn-sm triangle-isosceles left" {{action "toggleNotificationCenter" target="controllers.application"}}>1</button>
					</div>
				</div>
				<div class="span22 notification-center-message">
					{{#if auth.isGuest}}
						<span> You're logged in as a temporary guest user. {{#link-to 'claim'}}Claim your account to save your data. >{{/link-to}}</span>
					{{else}}
						<span> Please verify your marketplace bank account by confirming the deposit amounts. {{#link-to Balanced.currentMarketplace.owner_customer.bank_accounts.0.route_name Balanced.currentMarketplace.owner_customer.bank_accounts.0}}Verify now.{{/link-to}}</span>
					{{/if}}
				</div>
				<div class="span2">
					<button type="button" class="close" {{action "closeNotificationCenter" target="controllers.application"}}>&times;</button>
				</div>
			</div>
		{{else}}
			{{#unless controllers.application.alertObj}}
				<div class="notification-center">
					<div {{bind-attr class=":icon-button-group controllers.application.showNotificationCenter:open"}}>
						<button type="button" class="icon icon-notification notification-bell btn-sm" {{action "toggleNotificationCenter" target="controllers.application"}}></button>
						<button type="button" class="callout btn-sm triangle-isosceles left" {{action "toggleNotificationCenter" target="controllers.application"}}>1</button>
					</div>
				</div>
			{{/unless}}
		{{/if}}
	{{/if}}

	{{#if controllers.application.alertObj}}
		<div {{bind-attr class=":alert-strip controllers.application.alertObj.type"}}></div>

		<div {{bind-attr class=":alert controllers.application.alertObj.type"}}>
			<div class="button-wrapper left">
				{{#if auth.isGuest}}
					{{#unless controllers.application.showNotificationCenter}}
						<div class="notification-center">
							<div {{bind-attr class=":icon-button-group controllers.application.showNotificationCenter:open"}}>
								<button type="button" class="icon icon-notification notification-bell btn-sm" {{action "toggleNotificationCenter" target="controllers.application"}}></button>
								<button type="button" class="callout btn-sm triangle-isosceles left" {{action "toggleNotificationCenter" target="controllers.application"}}>1</button>
							</div>
						</div>
					{{/unless}}
				{{/if}}
			</div>
			<div {{bind-attr class=":alert-text-wrapper controllers.application.alertObj.type"}}>
				<span class="body1">{{controllers.application.alertObj.message}}</span>
			</div>

			<div class="button-wrapper right"></div>
		</div>
	{{/if}}
</div>
