<header id="header" {{ bindAttr class=":container headerClass"}}>
    <div class="row">
        <div id="balanced-address">
          <h3 class="physical-address">965 Mission St., Ste 425, San Francisco, CA 94103</h3>
          <h3 class="support-email">support@balancedpayments.com</h3>
        </div>

        <div id="logo" class="span2">
            {{#linkTo 'index' class="img"}}Balanced Dashboard{{/linkTo}}
        </div>

        {{#if Balanced.Auth.isGuest}}
            <div id="marketplaces-and-search" class="span18">
                {{partial "header_search"}}
            </div>

            <div id="site-nav" class="span6">
                <div id="go-live-menu">
                    {{#linkTo 'marketplaces.apply' class="nav1d"}}Register{{/linkTo}}
                </div>
                <div id="docs-menu">
                    <a href="https://docs.balancedpayments.com" class="nav1d" target="new">docs</a>
                </div>
                <div id="help-menu">
                    <a href="https://www.balancedpayments.com/help" class="nav1d" target="new">help</a>
                </div>
                <div id="user-menu" class="dropdown pull-right">
                    {{partial "user_dropdown"}}
                </div>
            </div>
        {{else}}
            <div id="marketplaces-and-search" class="span20">
                {{partial "header_search"}}
            </div>

            <div id="site-nav" class="span4">
                <div id="docs-menu">
                    <a href="https://docs.balancedpayments.com" class="nav1d" target="new">docs</a>
                </div>
                <div id="help-menu">
                    <a href="https://www.balancedpayments.com/help" class="nav1d" target="new">help</a>
                </div>
                <div id="user-menu" class="dropdown pull-right">
                    {{partial "user_dropdown"}}
                </div>
            </div>
        {{/if}}

    </div>
</header>
{{#unless Balanced.Auth.isGuest}}
    {{view Balanced.ChangePasswordModalView viewName="changePasswordModal"}}
{{/unless}}
