<nav id="marketplace-nav">
	<div id="marketplaces" class="dropdown nav">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<div id="logo"></div>
			<span id="marketplace-name">
				{{#if controllers.marketplace.name}}
					{{controllers.marketplace.name}}
				{{else}}
					Marketplaces
				{{/if}}
			</span>

			<b class="caret"></b>
		</a>
		{{partial "marketplaces_list"}}
	</div>

	{{#if marketplace}}
		{{#view Balanced.MarketplaceSidebarView}}
			<ul class="sidebar">
				{{#each view.items}}
					{{view this}}
				{{/each}}
			</ul>
		{{/view}}
	{{/if}}

	{{partial "_footer"}}
</nav>
