<nav id="marketplace-nav">
{{#if marketplace}}
	<ul>
		<li>
			{{#link-to 'activity' model}}
				<i class="icon-activity"></i>
				<span>Activity</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'logs.index' model}}
				<i class="icon-logs"></i>
				<span>Logs</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'invoices.index' model}}
				<i class="icon-invoices"></i>
				<span>Invoices</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.settings' model}}
				<i class="icon-settings"></i>
				<span>Settings</span>
			{{/link-to}}
		</li>
	</ul>
	<div class="button-groups">
		{{#link-to 'marketplace.add_customer' class='btn'}}
			<span>Add a customer</span>
		{{/link-to}}
		<a class="btn pay-a-seller" href="#" {{action "openPaySellerModal"}}>
			<span>Pay a seller</span>
		</a>
		<a class="btn charge-a-card" href="#" {{action "openChargeCardModal"}}>
			<span>Charge a card</span>
		</a>
	</div>
	{{view Balanced.PaySellerModalView}}
	{{view Balanced.ChargeCardModalView}}
{{/if}}
{{partial "_footer"}}
</nav>
