{{#if Balanced.Auth.signedIn }}
    <a href="#" data-toggle="dropdown" class="dropdown-toggle gravatar">
        <span class="icon profile"><img {{ bindAttr src=Balanced.Auth.user.gravatar }}></span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">

        {{#if Balanced.Auth.isGuest}}
        <li>{{#linkTo 'claim' class="label2a"}}Claim account{{/linkTo}}</li>
        {{else}}
        <li class="change-password">
          <a class="label2a" href="#" {{action openChangePasswordModal target="controllers.marketplaces"}}>Change password</a>
        </li>
        <li>{{#linkTo 'accountSecurity' class="label2a"}}Account Security{{/linkTo}}</li>
        {{/if}}
        <li><a class="label2a" href="#" {{action signOut}}>Log Out</a></li>
    </ul>

{{else}}
    {{#linkTo 'login' class="nav1d" }}Login{{/linkTo}}
{{/if}}
