{{#if auth.signedIn}}
	<a href="#" data-toggle="dropdown" class="dropdown-toggle gravatar">
		<span class="icon profile"><img {{bind-attr src=user.gravatar}}></span>
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			{{#if auth.isGuest}}
				{{#link-to 'claim' class="label2a"}}Claim account{{/link-to}}</li>
			{{else}}		
				<a class="label2a" href="#" {{action "openChangePasswordModal" target="controllers.marketplaces"}}>Change password</a>
				{{#link-to 'accountSecurity' class="label2a"}}Account Security{{/link-to}}
			
			{{/if}}

			<a class="label2a" href="#" {{action "signOut"}}>Log Out</a>
		</li>
	</ul>
{{else}}
	{{#link-to 'login' class="nav1d"}}Login{{/link-to}}
{{/if}}
