{{#if auth.signedIn}}
	<a href="#" data-toggle="dropdown" class="dropdown-toggle gravatar">
		<img {{bind-attr src=user.gravatar}} class="icon profile">
		<span>{{user.email}}</span>
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		{{#if auth.isGuest}}
			<li>{{#link-to 'claim'}}Claim account{{/link-to}}</li>
		{{else}}
			<li class="change-email">
				<a href="#" {{action "openChangeEmailModal" target="controllers.application"}}>Change email</a>
			</li>
			<li class="change-password">
				<a href="#" {{action "openChangePasswordModal" target="controllers.application"}}>Change password</a>
			</li>
			<li>{{#link-to 'accountSecurity'}}Account security{{/link-to}}</li>
		{{/if}}

		<li><a href="#" {{action "signOut"}}>Log out</a></li>
	</ul>
{{else}}
	{{#link-to 'login' class="nav1d"}}Login{{/link-to}}
{{/if}}
