{{view Balanced.WelcomeTransitionView }}

<div id="activity" class="span20">
    <h1 class="page-title">Activity
        {{#if iframeLoading}}<div class="loader-container"><span class="loader loading"></span></div>{{/if}}
        {{#if isLoading}}<div class="loader-container"><span class="loader loading"></span></div>{{/if}}
    </h1>

    <div class="activity activity-escrow-box span20">
        <div class="span2 label">
            <span class="subhead1d">Escrow</span>
        </div>
        <div class="span14 amount">
            <span class="number1d">
                {{ controllers.marketplace.formattedEscrowAmount }}
            </span>
        </div>

        <div class="span4 buttons">
            <a class="btn" {{action openAddFundsModal target="view"}}}>Add funds</a>
            <a class="btn" {{action openWithdrawFundsModal target="view"}}}>Withdraw funds</a>
        </div>
    </div>

    <div class="results">
        {{view Balanced.ResultsFiltersHeaderView viewName="filtersView"}}
    </div>

    {{ outlet }}

    {{#if show_download}}
        {{partial "modals/download" }}
    {{/if}}

    {{view Balanced.AddFundsModalView marketplaceBinding="controllers.marketplace.model" viewName="addFundsModal"}}
    {{view Balanced.WithdrawFundsModalView marketplaceBinding="controllers.marketplace.model" viewName="withdrawFundsModal"}}
</div>
