<div class="page-navigation">
	<div class="page-actions">
		<a class="btn" href="#" {{action "openChargeCardModal"}}>
			Charge
		</a>
		<a class="btn" href="#" {{action "openPaySellerModal"}}>
			Pay out
		</a>
	</div>

	<h1 class="page-title">
		{{pageTitle}}
	</h1>
</div>
{{view Balanced.PaySellerModalView}}
{{view Balanced.ChargeCardModalView}}

<div class="main-header activity-escrow-box">
	<div class="row">
		<span>Escrow: {{controllers.marketplace.formattedEscrowAmount}}</span>

		<div class="buttons">
			<div class="buttons-container">
				<a class="btn add-funds-btn" {{action "openAddFundsModal"}}>Add funds</a>
				{{withdraw-funds-modal marketplaceBinding="controllers.marketplace.model"}}
			</div>
		</div>
	</div>
</div>

<div class="results">
	{{view Balanced.ResultsFiltersHeaderView searchResultBinding="last_loaded_search_result" from="activity"}}
</div>

{{outlet}}

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}
{{view Balanced.AddFundsModalView marketplaceBinding="controllers.marketplace.model"}}
