
<header id="header" class="container">
    <div class="row">
        <div id="logo" class="span2">
            {{#linkTo "index"  class="img"}}Balanced Dashboard{{/linkTo}}
        </div>
        <div id="marketplaces-and-search" class="span18">
            <div id="marketplaces" class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                        <span class="nav2d">Marketplaces</span>
                        <!--<span class="nav1d">(live)</span>-->
                    <b class="caret"></b>
                </a>
                {{ render "marketplaces" }}
            </div>

        {{ render "search" }}
        <div id="site-nav" class="span6">
            <div id="go-live-menu">
                <a href="#" class="nav1d">production access</a>
            </div>
            <div id="docs-menu">
                <a href="https://docs.balancedpayments.com" class="nav1d" target="new">docs</a>
            </div>
            <div id="help-menu">
                <a href="https://www.balancedpayments.com/help" class="nav1d" target="new">help</a>
            </div>
            <div id="user-menu">
                {{#if Auth.authToken }}
                    <a  href="#" {{action "signOut"}}>Log Out ({{ Auth.currentUser.email_address }})</a>
                {{else}}
                    {{#linkTo "login" class="nav1d" }}Login{{/linkTo}}
                {{/if}}
            </div>
        </div>
    </div>
</header>

<section id="main" class="container">
  <div class="row">
    <nav id="marketplace-nav" class="span2">
        <ul>
            {{ outlet sidebar }}
        </ul>
    </nav>
    <div id="content" class="span24">
      <div class="row">
        <div class="offset2 span22">
            {{ outlet }}
        </div>
      </div>
    </div>
  </div>
</section>
