
<header id="header" class="container">
    <div class="row">
        <div id="logo" class="span2">
            {{#linkTo "index"  class="img"}}Balanced Dashboard{{/linkTo}}
        </div>
        <div id="marketplaces-and-search" class="span18">
            <div id="marketplaces" class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                        <span class="nav2d">Marketplaces</span>
                        <!--<span class="nav1d">(live)</span>-->
                    <b class="caret"></b>
                </a>
                {{ render "marketplaces" }}
            </div>
            <div id="search">
                <form>
                <input type="search" name="q" id="q">
                <span class="close">×</span>
                {{outlet search}}
                </form>
                <div class="results">
                    <header>
                        <nav>
                            <li class="selected transactions filter">
                                <a href="#" data-type="transactions">Transactions (5)</a>
                                <div class="selector dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu transaction-filter filter-choices">
                                        <li><a href="#" data-filter="" data-label="Transactions (5)">All (3)</a></li>
                                        <li><a href="#" data-filter="holds">Holds (3)</a></li>
                                        <li><a href="#" data-filter="debits">Debits (2)</a></li>
                                        <li class="disabled"><span>Credits (0)</span></li>
                                        <li class="disabled"><span>Refunds (0)</span></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="accounts">
                                <a href="#" data-type="accounts">Accounts (1)</a>
                            </li>
                            <li class="disabled funding-instruments filter">
                                <span>Cards &amp; Bank Accounts (0)</span>
                                <div class="selector dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu funding-instruments-filter filter-choices">
                                        <li><a href="#" data-filter="" data-label="Cards &amp; Bank Accounts (2)">Both (2)</a></li>
                                        <li><a href="#" data-filter="cards">Cards (2)</a></li>
                                        <li class="disabled"><span>Bank accounts (0)</span></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="timing dropdown label4a">
                                <a class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#">
                                    <span>Any time</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu right">
                                    <li>
                                        <ul class="set-times">
                                            <li><a href="#">Anytime</a></li>
                                            <li><a href="#">Past hour</a></li>
                                            <li><a href="#">Past 24 hours</a></li>
                                            <li><a href="#">Past week</a></li>
                                            <li><a href="#">Past month</a></li>
                                        </ul>
                                        <div class="date-picker">
                                            <div class="after selected">
                                                <div class="dt">
                                                    <input type="text" name="after" class="dp" data-element="#search .timing .after">
                                                </div>
                                            </div>
                                            <div class="before">
                                                <div class="dt">
                                                    <input type="text" name="before" class="dp" data-element="#search .timing .before">
                                                </div>
                                            </div>
                                            <button class="btn go">Go</button>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </nav>
                    </header>
                    <table class="items accounts">
                        <thead>
                        <th class="span3 label6a sortable unsorted">Date</th>
                        <th class="span3 label6a type">Transaction</th>
                        <th class="span4 label6a description">Description</th>
                        <th class="span4 label6a account">Account</th>
                        <th class="span4 label6a funding-instrument">Card or Bank Account</th>
                        <th class="span2 label6a amount sortable unsorted num">Amount</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">11 Mar 2013, 5:29 pm</time>
                            </td>
                            <td class="span3 label4f type failed">
                                Credit: failed
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltrane (jcoltrane@gmail.com)
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="items transactions selected">
                        <thead>
                            <tr>
                                <th class="span3 label6a sortable unsorted" data-field="created_at">Date</th>
                                <th class="span3 label6a type">Transaction</th>
                                <th class="span4 label6a description">Description</th>
                                <th class="span4 label6a account">Account</th>
                                <th class="span4 label6a funding-instrument">Card or Bank Account</th>
                                <th class="span2 label6a amount sortable unsorted num" data-field="amount">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">11 Mar 2013, 5:29 pm</time>
                            </td>
                            <td class="span3 label4f type pending">
                                Credit: pending
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltrane (jcoltrane@gmail.com)
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">Apr 18</time>
                            </td>
                            <td class="span3 label4c type failed">
                                Credit: failed
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltrane (jcoltrane@gmail.com) and some other shit that's way too long for this column
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">Apr 18</time>
                            </td>
                            <td class="span3 label4a type succeeded">
                                Credit
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltrane (jcoltrane@gmail.com)
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">Apr 18</time>
                            </td>
                            <td class="span3 label4a type succeeded">
                                Credit
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltrane (jcoltrane@gmail.com)
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">Apr 18</time>
                            </td>
                            <td class="span3 label4a type succeeded">
                                Credit
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltrane (jcoltrane@gmail.com)
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">Apr 18</time>
                            </td>
                            <td class="span3 label4a type succeeded">
                                Credit
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltrane (jcoltrane@gmail.com)
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">Apr 18</time>
                            </td>
                            <td class="span3 label4a type succeeded">
                                Credit
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltrane (jcoltrane@gmail.com)
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="site-nav" class="span6">
            <div id="go-live-menu">
                <a href="#" class="nav1d">production access</a>
            </div>
            <div id="docs-menu">
                <a href="https://docs.balancedpayments.com" class="nav1d" target="new">docs</a>
            </div>
            <div id="help-menu">
                <a href="https://help.balancedpayments.com" class="nav1d" target="new">help</a>
            </div>
            <div id="user-menu">
                {{#if Auth.authToken }}
                    <a  href="#" {{action "signOut"}}>Log Out ({{ Auth.currentUser.email_address }})</a>
                {{else}}
                    {{#linkTo "login" class="nav1d" }}Login{{/linkTo}}
                {{/if}}
            </div>
        </div>
    </div>
</header>

<section id="main" class="container">
  <div class="row">
    <nav id="marketplace-nav" class="span2">
        <ul>
            {{ outlet sidebar }}
        </ul>
    </nav>
    <div id="content" class="span24">
      <div class="row">
        <div class="offset2 span22">
            {{ outlet }}
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="container">
    <div class="row">
        <div class="span2" id="flogo">
            <span class="img">lgoo</span>
        </div>
        <div class="span24">
            <ul>
                <li><span>&copy; 2013 Balanced</span></li>
                <li><a href="#">About</a></li>
                <li><a href="https://blog.balancedpayments.com" target="_blank">Blog</a></li>
                <li><a href="https://status.balancedpayments.com" target="_blank">Status</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="https://www.balancedpayments.com/terms" target="_blank">Terms of use</a></li>
                <li><a href="https://www.balancedpayments.com/privacy" target="_blank">Privacy policy</a></li>
            </ul>
            <a href="https://twitter.com/balanced" target="_blank" class="twitter">Balanced on Twitter</a>
            <a href="https://quora.com/balanced" target="_blank" class="quora">Balanced on Quora</a>
            <a href="https://github.com/balanced" target="_blank" class="github">Balanced on Github</a>
        </div>
    </div>
</footer>
