<div id="card">
	<div class="page-navigation details-page clearfix">
		<h1 class="page-title">
			<div class="page-type">{{type_name}}</div>
			{{title_description}}
		</h1>
		<div class="buttons page-actions">
			{{#if can_debit}}
				<a class="btn debit-button" {{action "openDebitFundingInstrumentModal"}}>Debit</a>
			{{else}}
				{{#if can_verify}}
					<a class="btn verify-button" {{action "openVerifyBankAccountModal"}}>Verify to debit</a>
				{{/if}}
				{{#if can_confirm_verification}}
					<a class="btn confirm-verification-button" {{action "openConfirmVerificationModal"}}>Confirm verification</a>
				{{/if}}
			{{/if}}

			<a class="btn credit-button" {{action "openCreditFundingInstrumentModal"}}>Credit</a>
		</div>
	</div>

	{{#view Balanced.BodyPanelView}}
		<div class="side-panel span8">
			<h3>{{humanReadableDateLong created_at}}</h3>

			<div class="summary">
				<h3 {{bind-attr class=":status status"}}>{{status}}</h3>

				<i class="icon-customers non-interactive" title="Customer"></i>
				{{#link-to customer.route_name customer title=customer.display_me_with_email}}{{customer.display_me}}{{/link-to}}
			</div>

			<div class="key-value-display">
				<h3>
					Card information
				</h3>
				<dl class="dl-horizontal">
					{{view Balanced.KeyValueView key="Card ID" value=id}}
					{{view Balanced.KeyValueView key="Name on account" value=name}}
					{{view Balanced.KeyValueView key="Account number" value=account_number}}
					{{view Balanced.KeyValueView key="Routing number" value=routing_number}}
					{{view Balanced.KeyValueView key="Type" value=account_type_name}}
					{{view Balanced.KeyValueView key="Bank" value=formatted_bank_name}}
					{{view Balanced.KeyValueView key="Expiration date" value=human_readable_expiration}}
					{{view Balanced.KeyValueView key="Address line 1" value=address.line1}}
					{{view Balanced.KeyValueView key="Address line 2" value=address.line2}}
					{{view Balanced.KeyValueView key="City" value=address.city}}
					{{view Balanced.KeyValueView key="State" value=address.state}}
					{{view Balanced.KeyValueView key="Postal code" value=address.postal_code}}
					{{view Balanced.KeyValueView key="Country" value=address.country_code}}
				</dl>
			</div>

			{{view Balanced.MetaView type=model}}
		</div>

		<div class="main-panel span">
			<h3>Payments</h3>
			<div class="results">
				{{view Balanced.CustomerTransactionsResultsView transactions=results}}
			</div>

			{{#if verifications}}
			<h3>Verification</h3>
			<table class="items">
				<tbody>
					{{#each verification in verifications}}
					<tr>
						<td class="status span3">
							{{#if verification.created_at}}
							<time {{bind-attr datetime="verification.created_at"}}>{{humanReadableDateShort verification.created_at}}</time>
							{{else}}
							---
							{{/if}}
						</td>
						<td class="attempts span3">
							{{verification.attempts}} of {{verification.allowed_attempts}} attempts
						</td>
						<td class="status span2 label4a">
							{{titleCase verification.display_state}}
						</td>
					</tr>
					{{else}}
					<tr>
						<td colspan="3" class="no-results">
							{{#if verifications.isLoaded}}
							Unverified
							{{else}}
							Loading...
							{{/if}}
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{/if}}
		</div>
	{{/view}}
</div>

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}

{{view Balanced.DebitFundingInstrumentModalView funding_instrumentBinding="model"}}
{{view Balanced.CreditFundingInstrumentModalView funding_instrumentBinding="model"}}
{{view Balanced.VerifyBankAccountModalView funding_instrumentBinding="model"}}
{{view Balanced.ConfirmVerificationModalView funding_instrumentBinding="model"}}
