{{#view "page-navigations/page-navigation" pageType=model.type_name title=model.title_description}}
	{{#unless model.isRemoved}}
		<div class="buttons page-actions">
			{{#if model.can_debit}}
				<a class="btn hold-button" {{action "openHoldCardModal"}}>Hold</a>
				<a class="btn debit-button" {{action "openDebitFundingInstrumentModal"}}>Debit</a>
				{{#if model.can_credit}}
					<a class="btn credit-button" {{action "openCreditFundingInstrumentModal"}}>Credit</a>
				{{/if}}
			{{/if}}
		</div>
	{{/unless}}
{{/view}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{view Balanced.CardSummarySectionView model=model}}
		{{view Balanced.CardTitledKeyValuesSectionView model=model}}
		{{view "meta-list" type=model}}
	{{/view}}

	{{#view "detail-views/main-panel"}}
		<h3>Payments</h3>
		<div class="results">
			{{view "results/embedded-transactions-table" loader=transactionsResultsLoader}}
		</div>
		<h3>Logs</h3>
		<div class="results">
			{{view "resource-logs" content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view "resource-events" content=model}}
		</div>
	{{/view}}
{{/view}}

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}
{{#if can_credit}}
	{{view Balanced.CreditFundingInstrumentModalView funding_instrumentBinding="model"}}
{{/if}}
{{view Balanced.DebitFundingInstrumentModalView funding_instrumentBinding="model"}}
{{view Balanced.HoldCardModalView funding_instrumentBinding="model"}}
