<h1 class="page-title">Card</h1>

<div id="card">
    <div class="funding-instrument-header main-header">
        <div class="row">
            <div class="span2 label">
                <div {{bindAttr class=":icon :card-info"}}>Card</div>
            </div>
            <div class="span10 title">
                <span class="nav3d">
                    {{title_description}}
                </span>
            </div>

            <div class="span8 buttons">
                <div class="buttons-container">
                    {{#if customer}}
                        {{#if Balanced.Auth.user.admin }}
                            <a class="btn hold-button" {{action openHoldCardModal}}>Hold</a>
                        {{/if}}
                        <a class="btn debit-button" {{action openDebitFundingInstrumentModal}}>Debit</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span11">
            <section class="card-info">
                <form class="form-horizontal edit-inline">
                    <header>
                        <h3>Card info</h3>
                    </header>
                    <div>
                        <div class="control-group">
                            <label class="control-label">ID</label>
                            <div class="controls">
                                <span class="inline-label">{{#if id}} {{ id }} {{ else }} <span class="text-error">DELETED</span> {{/if}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Created</label>
                            <div class="controls">
                                <span class="inline-label">
                                    {{humanReadableDateLong created_at }}
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <span class="inline-label">
                                    {{ name }}
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Card #</label>
                            <div class="controls">
                                <span class="inline-label">
                                    {{ number }}
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Expiration</label>
                            <div class="controls">
                                <span class="inline-label">
                                    {{ human_readable_expiration }}
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Billing Zip Code</label>
                            <div class="controls">
                                <span class="inline-label">
                                    {{ postal_code }}
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Type</label>
                            <div class="controls">
                                <span class="inline-label">
                                    {{titleCase brand}}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

        </div>

        <div class="offset1 span8">
            {{partial 'customer_info'}}
        </div>
    </div>

    <section class="activity">
        <header>
            <h3>Activity</h3>
        </header>
        <div class="results">
            {{view Balanced.TransactionsFiltersHeaderView}}

            <div class="items-wrapper">
                {{view Balanced.TransactionsResultsView transactionsBinding=results}}
            </div>
        </div>
    </section>
</div>

{{#if show_download}}
    {{partial "modals/download" }}
{{/if}}

{{view Balanced.DebitFundingInstrumentModalView funding_instrumentBinding=model}}
{{view Balanced.HoldCardModalView funding_instrumentBinding=model}}
