<div id="card">
	<div class="page-navigation details-page clearfix">
		<h1 class="page-title">
			<div class="page-type">{{type_name}}</div>
			{{title_description}}
		</h1>
		<div class="buttons page-actions">
			{{#if customer}}
				<a class="btn hold-button" {{action "openHoldCardModal"}}>Hold</a>
				<a class="btn debit-button" {{action "openDebitFundingInstrumentModal"}}>Debit</a>
				{{#if can_credit}}
					<a class="btn credit-button" {{action "openCreditFundingInstrumentModal"}}>Credit</a>
				{{/if}}
			{{/if}}
		</div>
	</div>

	{{#view Balanced.BodyPanelView}}
		{{#view Balanced.ApiModelPanelView model=model}}
			<div class="summary">
				<i class="icon-customers non-interactive" title="Customer"></i>
				{{#link-to customer.route_name customer title=customer.display_me_with_email}}{{customer.display_me}}{{/link-to}}
			</div>

			<div class="key-value-display">
				<h3>
					Card information
				</h3>
				<dl class="dl-horizontal">
					{{view Balanced.KeyValueView key="Card ID" value=id}}
					{{view Balanced.KeyValueView key="Name on account" value=name}}
					{{view Balanced.KeyValueView key="Type" value=type_name}}
					{{view Balanced.KeyValueView key="Bank" value=formatted_bank_name}}
					{{view Balanced.KeyValueView key="Expiration date" value=human_readable_expiration}}
					{{view Balanced.KeyValueView key="Address line 1" value=address.line1}}
					{{view Balanced.KeyValueView key="Address line 2" value=address.line2}}
					{{view Balanced.KeyValueView key="City" value=address.city}}
					{{view Balanced.KeyValueView key="State" value=address.state}}
					{{view Balanced.KeyValueView key="Postal code" value=address.postal_code}}
					{{view Balanced.KeyValueView key="Country" value=address.country_code}}
				</dl>
			</div>

			{{view Balanced.MetaView type=model}}
		{{/view}}

		<div class="main-panel span">
			<h3>Payments</h3>
			<div class="results">
				{{view Balanced.CustomerTransactionsResultsView transactions=results}}
			</div>
		</div>
	{{/view}}
</div>

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}
{{#if can_credit}}
	{{view Balanced.CreditFundingInstrumentModalView funding_instrumentBinding="model"}}
{{/if}}
{{view Balanced.DebitFundingInstrumentModalView funding_instrumentBinding="model"}}
{{view Balanced.HoldCardModalView funding_instrumentBinding="model"}}
