<section id="main" class="container marketplaces">
	{{view Balanced.SidebarView}}
	{{partial "header"}}

	<div id="main-overlay"></div>
	<div id="content">
		<h1>Claim your account</h1>
		<form id="claim-form" method="POST" {{bind-attr class=":full-page-form signUpError:error"}} {{action "save" on="submit"}}>
			<fieldset>
				<legend>Login info</legend>

				<div class="control-group" {{bind-attr class="validationErrors.email_address:error"}}>
					<div class="controls">
						{{view Balanced.Forms.TextField type="email" name="email_address" valueBinding="email_address" placeholder="Email" autofocus="autofocus"}}
					</div>
					<label class="control-label" for="email">{{emailLabel}}</label>
				</div>

				<div class="control-group" {{bind-attr class="validationErrors.password:error"}}>
					<div class="controls">
						{{view Balanced.Forms.TextField type="password" name="password" valueBinding="password" placeholder="Password"}}
					</div>
					<label class="control-label" for="password">{{passwordLabel}}</label>
				</div>

				<div class="control-group" {{bind-attr class="validationErrors.passwordConfirm:error"}}>
					<div class="controls">
						{{view Balanced.Forms.TextField type="password" name="passwordConfirm" valueBinding="passwordConfirm" placeholder="Confirm password"}}
					</div>
					<label class="control-label" for="passwordConfirm">{{passwordConfirmLabel}}</label>
				</div>

				<div class="actions">
					<button class="btn" type="submit">Submit</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>
