{{#view Balanced.PageNavigationView pageType="Customer" title=model.display_me}}
	<div class="buttons page-actions">
		<a class="btn" {{action "openModal" Balanced.CreditCustomerModalView model}}>Credit</a>
		<a class="btn" {{action "openModal" Balanced.Modals.CustomerDebitCreateModalView model}}>Debit</a>
	</div>
{{/view}}

{{#view Balanced.BodyPanelView}}
	{{#view Balanced.SidePanelView model=model}}
		{{view Balanced.CustomerSummarySectionView model=model}}
		{{view Balanced.CustomerTitledKeyValuesSectionView model=model}}
		{{view Balanced.MetaView type=model}}
	{{/view}}
	{{#view Balanced.MainPanelView}}
		<h3>Payments</h3>
		<div class="results">
			{{view Balanced.EmbeddedTransactionsResultsView loader=transactionsResultsLoader}}
		</div>

		<h3>Disputes</h3>
		<div class="results">
			{{view Balanced.EmbeddedDisputesResultsView loader=disputesResultsLoader}}
		</div>

		<div class="pull-right">
			<a class="btn-link sm" {{action "openModal" Balanced.Modals.CustomerBankAccountCreateModalView model}}>Add a bank account</a>
			<a class="btn-link sm" {{action "openModal" Balanced.Modals.CustomerCardCreateModalView model}}>Add a card</a>
		</div>
		<h3>Payment methods</h3>
		<div class="results">
			{{view Balanced.EmbeddedFundingInstrumentsResultsView loader=fundingInstrumentsResultsLoader}}
		</div>
	{{/view}}
{{/view}}

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}

{{view Balanced.DeleteBankAccountModalView}}
{{view Balanced.DeleteCardModalView}}
