{{#view Balanced.PageNavigationView model=model pageType="Customer" title=model.display_me}}
	<div class="buttons page-actions">
		<a class="btn sm" {{action "openModal" Balanced.CreditCustomerModalView model}}>Credit</a>
		<a class="btn sm" {{action "openModal" Balanced.DebitCustomerModalView model}}>Debit</a>
	</div>
{{/view}}

{{#view Balanced.BodyPanelView}}
	{{#view Balanced.ApiModelPanelView model=model}}
		{{view Balanced.CustomerSummarySectionView model=model}}
		{{view Balanced.CustomerTitledKeyValuesSectionView model=model}}
		{{view Balanced.MetaView type=model}}
	{{/view}}
	{{#view Balanced.MainPanelView}}
		<h3>Payments</h3>
		<div class="results">
			{{view Balanced.CustomerTransactionsResultsView loader=transactionsResultsLoader}}
		</div>

		<h3>Disputes</h3>
		<div class="results">
			{{view Balanced.CustomerDisputesResultsView loader=disputesResultsLoader}}
		</div>

		<h3>Payment methods</h3>
		<div class="results">
			{{view Balanced.CustomerFundingInstrumentsResultsView fundingInstruments=fundingInstrumentsResultsLoader.results}}
		</div>
	{{/view}}
{{/view}}

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}

{{view Balanced.DeleteBankAccountModalView}}
{{view Balanced.DeleteCardModalView}}
