<h1 class="page-title">Customer</h1>

<div id="customer">
	<div class="main-header customer customer-header">
		<div class="row">
		    <div class="span2 label">
		        <div {{bindAttr class=":icon is_business:business-info:person-info is_identity_verified:verified:unverified"}}>Business</div>
		    </div>
		    <div class="span10 title">
		        <span class="nav3d">
		            {{#if is_business}} {{business_name}} {{else}} {{name}} {{/if}}
		        </span>
		    </div>

		    <div class="span8 buttons">
		    	<div class="buttons-container">
			        <a class="btn debit-customer" {{action openDebitCustomerModal target="view"}}>Debit</a>
			        <a class="btn credit-customer" {{action openCreditCustomerModal target="view"}}>Credit</a>
			    </div>
		    </div>
		</div>
	</div>

	<div class="row">
	    <div class="span11">
	        <section class="customer-info">
	            <div class="key-value-display">
	                <header>
	                    <h3>Customer info:
	                    	<span {{bindAttr class=":verification-status is_identity_verified:verified:unverified"}} class="verification-status unverified">{{#if is_identity_verified}}VERIFIED{{else}}UNVERIFIED{{/if}}</span>

	                    	{{#unless is_identity_verified}}
		                    	{{#view Balanced.PopoverView class="icon-help" data-placement="top" data-original-title="Identify Unverified" data-content="More information is necessary to verify the identity of this customer. You may continue paying this customer, but we recommend collecting the full legal name, email, and permanent street address. For a business, we also recommend collecting the full business name and EIN number. If verification is unsuccessful, try collecting the last four digits of the SSN."}}
		                    		Verification status
		                    	{{/view}}
	                    	{{/unless}}

                          {{view Balanced.EditCustomerInfoModalView customerBinding="model"}}
	                    </h3>
	                </header>
	                <div>
                    <div class="key-value-row">
                      <label class="key">ID</label>
                      <span class="value">{{ id }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Created</label>
                      <span class="value">{{humanReadableDateLong created_at }}</span>
                    </div>
                    {{#if is_business }}
                    <div class="key-value-row">
                      <label class="key">Business Name</label>
                      <span class="value">{{ business_name }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">EIN #</label>
                      <span class="value">{{ ein }}</span>
                    </div>
                    {{/if}}
                    <div class="key-value-row">
                      <label class="key">Name</label>
                      <span class="value">{{ name }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Email</label>
                      <span class="value">{{ email }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Street Address</label>
                      <span class="value">
                        {{ address.line1 }} {{ address.line2 }}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">City</label>
                      <span class="value">{{ address.city }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">State</label>
                      <span class="value">
                        {{ address.state }}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Postal Code</label>
                      <span class="value">{{ address.postal_code }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Country</label>
                      <span class="value">{{ country_name }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Phone #</label>
                      <span class="value">{{ phone }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Date of birth</label>
                      <span class="value">{{ dob }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">SSN #</label>
                      <span class="value">{{ ssn_last4 }}</span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Facebook ID</label>
                      <span class="value">
                        {{#if facebook_url }}
                        <a {{bindAttr href=facebook_url}}>{{facebook}}</a>
                        {{/if}}
                      </span>
                    </div>
                    <div class="key-value-row">
                      <label class="key">Twitter ID</label>
                      <span class="value">
                        {{#if twitter_url }}
                        <a {{bindAttr href=twitter_url}}>{{twitter}}</a>
                        {{/if}}
                      </span>
                    </div>
	                </div>
	            </form>
	        </section>

	    </div>

	    <div class="offset1 span8">

	        <section class="bank-account-info">
	            <header>
	                <h3>Bank accounts
	                    <a href="#" class="add" {{action openAddBankAccountModal target="view"}}>Add a bank account</a>
	                </h3>
	            </header>
	            <ul class="sidebar-items">
	                {{#each bank_account in bank_accounts }}
	                    <li class="bank-account">
                            {{#linkTo 'bank_accounts' bank_account}}
                                <div {{bindAttr class=":icon bank_account.can_debit:icon-verified"}}>Bank account</div>
	                        {{/linkTo}}
                                <a href="#" class="icon-delete" {{action promptToDeleteBankAccount bank_account}}>delete</a>
                            {{#linkTo 'bank_accounts' bank_account}}
	                            <div class="details">
	                               <span class="name label2a">{{ bank_account.name }}</span>
	                               <span class="summary">{{ bank_account.description }}</span>
                                </div>

                                {{#unless bank_account.can_debit }}
                                    <div class="actions">
                                        {{#if bank_account.can_confirm_verification}}
                                            Confirm verification
                                        {{else}}
                                            Verify to debit
                                        {{/if}}
	                                </div>
	                           {{/unless}}
                            {{/linkTo}}
	                    </li>
	                {{/each}}
	            </ul>
	        </section>

	        <section class="card-info">
	            <header>
	                <h3>Credit cards
	                    <a href="#" class="add" {{action openAddCardModal target="view"}}>Add a card</a>
	                </h3>
	            </header>
	            <ul class="sidebar-items">
	                {{#each card in cards }}
		                <li>
			                <a href="#" class="icon-delete" {{action promptToDeleteCard card}}>delete</a>
	                		{{#linkTo 'cards' card}}
			                    <div class="icon">Credit card</div>
			                    <div class="details">
			                        <span class="name label2a">{{ card.name }}</span>
			                        <span class="summary">{{ card.description }}</span>
			                    </div>
		            		{{/linkTo}}
		                </li>
	                {{/each}}
	            </ul>
	        </section>
	    </div>
	</div>

	<section class="activity">
		<header class="results-label">
		    <h3>Activity</h3>
		</header>
		<div class="results">
		    {{view Balanced.TransactionsFiltersHeaderView}}

			<div class="items-wrapper">
			    {{view Balanced.TransactionsResultsView transactionsBinding=results}}
			</div>
		</div>
	</section>
</div>

{{#if show_download}}
    {{partial "modals/download" }}
{{/if}}

{{view Balanced.DebitCustomerModalView customerBinding="model" viewName="debitCustomerModal"}}
{{view Balanced.CreditCustomerModalView customerBinding="model" viewName="creditCustomerModal"}}

{{view Balanced.AddBankAccountModalView customerBinding="model" viewName="addBankAccountModal"}}
{{view Balanced.DeleteBankAccountModalView}}
{{view Balanced.AddCardModalView customerBinding="model" viewName="addCardModal"}}
{{view Balanced.DeleteCardModalView}}
