<div id="customer">
	<div class="page-navigation details-page clearfix">
		<h1 class="page-title">
			<div class="page-type">Customer</div>
			{{name}}
		</h1>
		<div class="buttons page-actions">
			{{debit-customer-modal customer=model}}
			<a class="btn sm credit-customer" {{action "openModal" Balanced.CreditCustomerModalView model}}>Credit</a>
		</div>
	</div>

	<div class="body-panel clearfix">
		<div class="panel side-panel span8">
			<h3>{{humanReadableDateLong created_at}}</h3>

			<h3 {{bind-attr class=":status is_identity_verified:verified:unverified"}}>
				{{status}}

				{{#unless is_identity_verified}}
					{{#view Balanced.PopoverView class="icon-tooltip" data-placement="top" data-original-title="Identify Unverified" data-content="More information is necessary to verify the identity of this customer. You may continue paying this customer, but we recommend collecting the full legal name, email, and permanent street address. For a business, we also recommend collecting the full business name and EIN number. If verification is unsuccessful, try collecting the last four digits of the SSN."}}
						Verification status
					{{/view}}
				{{/unless}}
			</h3>

			<div class="key-value-display">
				<h3>
					Customer information
					{{view Balanced.EditCustomerInfoModalView customerBinding="model"}}
				</h3>
				<dl class="dl-horizontal">
					{{view Balanced.KeyValueView key="Customer ID" value=id}}
					{{view Balanced.KeyValueView key="Business Name" value=business_name}}
					{{view Balanced.KeyValueView key="EIN" value=ein}}
					{{view Balanced.KeyValueView key="Name" value=name}}
					{{view Balanced.KeyValueView key="Email" value=email}}
					{{view Balanced.KeyValueView key="Address line 1" value=address.line1}}
					{{view Balanced.KeyValueView key="Address line 2" value=address.line2}}
					{{view Balanced.KeyValueView key="City" value=address.city}}
					{{view Balanced.KeyValueView key="State" value=address.state}}
					{{view Balanced.KeyValueView key="Postal code" value=address.postal_code}}
					{{view Balanced.KeyValueView key="Country" value=country_name}}
					{{view Balanced.KeyValueView key="Phone number" value=phone}}
					{{view Balanced.KeyValueView key="Date of birth" value=dob}}
					{{view Balanced.KeyValueView key="SSN" value=ssn_last4}}
					{{view Balanced.KeyValueView key="Country" value=country_name}}
					{{view Balanced.LinkedKeyValueView key="Facebook ID" link=facebook_url value=facebook_id}}
					{{view Balanced.LinkedKeyValueView key="Twitter ID" link=twitter_url value=twitter_id}}
				</dl>
			</div>

			{{view Balanced.MetaView type=model}}
		</div>
		<div class="panel main-panel span">
			<h3>Payments</h3>

			<div class="results">
				<div class="items-wrapper">
					{{view Balanced.CustomerTransactionsResultsView transactions=results}}
				</div>
			</div>

			<h3>Disputes</h3>

			<div class="results">
				<div class="items-wrapper">
					{{view Balanced.CustomerDisputesResultsView disputes=disputesResultsLoader.results}}
				</div>
			</div>

			<h3>Bank accounts</h3>

			{{#each bank_account in bank_accounts}}
				<li class="bank-account">
					{{#link-to 'bank_accounts' bank_account}}
						<div {{bind-attr class=":icon bank_account.can_debit:icon-verified"}}>Bank account</div>
					{{/link-to}}

					<a href="#" class="icon-delete" {{action "openDeleteBankAccountModal" bank_account}}>delete</a>

					{{#link-to 'bank_accounts' bank_account}}
						<div class="details">
							<span class="name label2a">{{bank_account.name}}</span>
							<span class="summary">{{bank_account.description}}</span>
						</div>

						{{#unless bank_account.can_debit}}
							<div class="actions">
								{{#if bank_account.can_confirm_verification}}
									Confirm verification
								{{else}}
									Verify to debit
								{{/if}}
							</div>
						{{/unless}}
					{{/link-to}}
				</li>
			{{/each}}

			<h3>Cards</h3>

			{{#each card in cards}}
				<li>
					<a href="#" class="icon-delete" {{action "openDeleteCardModal" card}}>delete</a>
					{{#link-to 'cards' card}}
						<div class="icon">Credit card</div>
						<div class="details">
							<span class="name label2a">{{card.name}}</span>
							<span class="summary">{{card.description}} ({{capitalize card.type}})</span>
						</div>
					{{/link-to}}
				</li>
			{{/each}}
		</div>
	</div>
</div>

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}

{{view Balanced.DeleteBankAccountModalView}}
{{view Balanced.DeleteCardModalView}}
