<div id="customer">
	{{view Balanced.CustomerPageNavigationView}}

	{{#view Balanced.BodyPanelView}}
		{{#view Balanced.ApiModelPanelView model=model}}
			{{view Balanced.CustomerSummarySectionView model=model}}
			{{view Balanced.CustomerTitledKeyValuesSectionView model=model}}
			{{view Balanced.MetaView type=model}}
		{{/view}}
		{{#view Balanced.MainPanelView}}
			<h3>Payments</h3>
			<div class="results">
				{{view Balanced.CustomerTransactionsResultsView transactions=transactionsResultsLoader.results resultsLoader=transactionsResultsLoader}}
			</div>

			<h3>Disputes</h3>
			<div class="results">
				{{view Balanced.CustomerDisputesResultsView
					resultsLoader=disputesResultsLoader
					disputes=disputesResultsLoader.results}}
			</div>

			<h3>Payment methods</h3>
			<div class="results">
				{{view Balanced.CustomerFundingInstrumentsResultsView fundingInstruments=fundingInstrumentsResultsLoader.results}}
			</div>
		{{/view}}
	{{/view}}
</div>

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}

{{view Balanced.DeleteBankAccountModalView}}
{{view Balanced.DeleteCardModalView}}
