<div id="customer">
	{{view Balanced.CustomerPageNavigationView}}

	{{#view Balanced.BodyPanelView}}
		{{#view Balanced.ApiModelPanelView model=model}}
			<div class="summary">
				<h3 {{bind-attr class=":status is_identity_verified:verified:unverified"}}>
					{{status}}
				</h3>
				{{#unless is_identity_verified}}
					<p>You may credit this customer, but we recommend collecting more information of this customer for underwriting purposes. <a {{action 'toggleDrawer' 'learn-more-unverified'}}>Learn more</a></p>
					<p class="drawer learn-more-unverified">
						For an individual, you may collect full legal name, email, permanent street address, and last four digits of SSN. For a business, we also recommend collecting the full business name and EIN number.
					</p>
				{{/unless}}
			</div>

			{{view Balanced.CustomerTitledKeyValuesSectionView model=model}}
			{{view Balanced.MetaView type=model}}
		{{/view}}
		{{#view Balanced.MainPanelView}}
			<h3>Payments</h3>
			<div class="results">
				{{view Balanced.CustomerTransactionsResultsView transactions=transactionsResultsLoader.results}}
			</div>

			<h3>Disputes</h3>
			<div class="results">
				{{view Balanced.CustomerDisputesResultsView disputes=disputesResultsLoader.results}}
			</div>

			<h3>Payment methods</h3>
			<h4>Bank Accounts</h4>
			<div class="results">
				{{view Balanced.CustomerFundingInstrumentsResultsView fundingInstruments=bankAccountsResultsLoader.results}}
			</div>
			<h4>Cards</h4>
			<div class="results">
				{{view Balanced.CustomerFundingInstrumentsResultsView fundingInstruments=cardsResultsLoader.results}}
			</div>
		{{/view}}
	{{/view}}
</div>

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}

{{view Balanced.DeleteBankAccountModalView}}
{{view Balanced.DeleteCardModalView}}
