{{#view "page-navigations/page-navigation" pageType="Customer" title=model.display_me}}
	<div class="buttons page-actions">
		<a class="btn" {{action "openModal" "modals/credit-customer-modal" model}}>Credit</a>
		<a class="btn" {{action "openModal" "modals/debit-customer-modal" model}}>Debit</a>
	</div>
{{/view}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{view "detail-views/summary-sections/customer-summary-section" model=model}}
		{{view "detail-views/description-lists/customer-titled-key-values-section" model=model}}
		{{view "meta-list" type=model}}
	{{/view}}
	{{#view "detail-views/main-panel"}}
		<h3>Disputes</h3>
		<div class="results">
			{{view "results/embedded-transactions-table" loader=disputesResultsLoader}}
		</div>

		<h3>Payments</h3>
		<div class="results">
			{{view "results/embedded-transactions-table" loader=transactionsResultsLoader}}
		</div>

		<div class="pull-right">
			<a class="btn-link sm" {{action "openModal" "modals/customer-bank-account-create-modal" model}}>
				<i class="icon icon-add non-interactive"></i>Add a bank account
			</a>
			<a class="btn-link sm" {{action "openModal" "modals/customer-card-create-modal" model}}>
				<i class="icon icon-add non-interactive"></i>Add a card
			</a>
		</div>
		<h3>Payment methods</h3>
		<div class="results">
			{{view "results/embedded-funding-instruments-table" loader=fundingInstrumentsResultsLoader}}
		</div>

		<h3>Logs</h3>
		<div class="results">
			{{view "resource-logs" content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view "resource-events" content=model}}
		</div>
	{{/view}}
{{/view}}

{{#if show_download}}
	{{partial "modals/download"}}
{{/if}}
