<a class="dropdown-toggle"
   data-toggle="dropdown"
   href="#"
   {{action "toggleDateTimePicker" target="view"}}>
    <span>{{dateFilterTitle}}</span>
    <b class="caret"></b>
</a>
<ul class="dropdown-menu date-picker right">
    <li>
        <ul class="set-times">
            {{#view Balanced.DatePickerPresetView}}<a href="#">Any time</a>{{/view}}
            {{#view Balanced.DatePickerPresetView}}<a href="#">Past hour</a>{{/view}}
            {{#view Balanced.DatePickerPresetView}}<a href="#">Past 24 hours</a>{{/view}}
            {{#view Balanced.DatePickerPresetView}}<a href="#">Past week</a>{{/view}}
            {{#view Balanced.DatePickerPresetView}}<a href="#">Past month</a>{{/view}}
        </ul>
        <div class="date-picker">
            <div class="after selected">
                {{#view Balanced.DatePickerDateFieldView class="dt"}}
                    <input type="text" name="after" class="dp" {{bindAttr data-element=view.afterSelector}}>
                {{/view}}
            </div>
            <div class="before">
                {{#view Balanced.DatePickerDateFieldView class="dt"}}
                    <input type="text" name="before" class="dp" {{bindAttr data-element=view.beforeSelector}}>
                {{/view}}
            </div>
            <button class="btn go" {{action "setDateVariable" target="view"}}>Go</button>
        </div>
    </li>
</ul>
