<h1>Debit</h1>

<div id="debit" class="transaction">
	<div class="title-block tb-egyptian-blue">
		<span class="tb-icon">
			<i class="icon icon-order"></i>
		</span>
		<span class="tb-content">
			{{page_title}}
		</span>
	</div>

	{{txn-customer customer=customer}}

	<div class="transaction-details">
		{{#if dispute}}
			{{txn-dispute dispute=dispute}}
		{{/if}}

		{{#each refund in model.refunds}}
			{{txn-refund refund=refund}}
		{{/each}}

		{{txn-debit debit=model}}

		{{#if hold}}
			{{txn-hold hold=hold}}
		{{/if}}
	</div>
</div>
