{{#view "page-navigations/transaction-page-navigation" model=model}}
	<div class="buttons page-actions">
		{{#if model.can_refund}}
			<a class="btn" {{action "openModal" Balanced.Modals.RefundDebitModalView model}}>Refund</a>
		{{/if}}
	</div>
{{/view}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{view Balanced.DebitSummarySectionView model=model}}
		{{view Balanced.TransactionTitledKeyValuesSectionView model=model}}
		{{view Balanced.MetaView type=model}}
	{{/view}}

	{{#view "detail-views/main-panel"}}
		{{#if model.dispute}}
			<h3>Associated dispute<i class="icon-disputes"></i></h3>
			<div class="results">
				{{view Balanced.EmbeddedDisputesResultsView loader=disputesResultsLoader}}
			</div>
		{{/if}}

		<h3>Logs</h3>
		<div class="results">
			{{view Balanced.ResourceLogsView content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view Balanced.ResourceEventsView content=model}}
		</div>
	{{/view}}
{{/view}}
