{{view Balanced.TransactionPageNavigationView model=model}}

{{#view Balanced.BodyPanelView}}
	{{#view Balanced.ApiModelPanelView model=model}}
		{{view Balanced.DisputeSummarySectionView model=transaction}}
		{{view Balanced.DisputeTitledKeyValuesSectionView model=model}}
		{{view Balanced.MetaView type=model}}
	{{/view}}

	{{#view Balanced.MainPanelView}}
		{{#if dispute.canUploadDocuments}}
			<div class="dispute-alert">
				{{#view Balanced.NotificationMessageView}}
					Provide documentation by this date to avoid a loss: <span class="sl-sb">{{humanReadableDateLong respond_by}}</span>.
					<a class="btn sm" {{action "openModal" Balanced.EvidencePortalModalView dispute}}>Attach docs</a>
				{{/view}}
			</div>
		{{/if}}

		<h3>Documents</h3>
		<div class="results">
			{{view Balanced.ResourceDocumentsView content=documents}}
		</div>

		<h3>Logs</h3>
		<div class="results">
			{{view Balanced.ResourceLogsView content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view Balanced.ResourceEventsView content=model}}
		</div>
	{{/view}}
{{/view}}
