{{view Balanced.TransactionPageNavigationView model=model}}

{{#view Balanced.BodyPanelView}}
	{{#view Balanced.ApiModelPanelView model=model}}
		{{view Balanced.DisputeSummarySectionView model=transaction}}
		{{view Balanced.DisputeTitledKeyValuesSectionView model=model}}
		{{view Balanced.MetaView type=model}}
	{{/view}}

	{{#view Balanced.MainPanelView}}
		<h3>Logs</h3>
		<div class="results">
			{{view Balanced.ResourceLogsView content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view Balanced.ResourceEventsView content=model}}
		</div>
	{{/view}}
{{/view}}
