{{view "page-navigations/transaction-page-navigation" model=model}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{view "detail-views/summary-sections/dispute-summary-section" model=model}}
		{{view "detail-views/description-lists/dispute-titled-key-values-section" model=model}}
		{{view "meta-list" type=model}}
	{{/view}}

	{{#view "detail-views/main-panel"}}
		{{#if canUploadDocuments}}
			<div class="dispute-alert">
				<div class="row-fluid notification-center warning">
					<div class="notification-center-message">
						<span class="message">
							Provide evidence by <span class="sl-sb">{{human-readable-dateLong respond_by}}</span> to fight this dispute.
						</span>
						<div class="pull-right">
							<a class="btn" {{action "openModal" "modals/evidence-portal-modal" model}}>Provide evidence</a>
						</div>
					</div>
				</div>
			</div>
		{{/if}}

		<h3>Associated transactions</h3>
		<div class="results">
			{{view "results/associated-transactions-table" transaction=model}}
		</div>

		<h3>Evidence</h3>
		<div class="results documents">
			{{view "resource-documents" content=model}}
		</div>

		<h3>Logs</h3>
		<div class="results">
			{{view "resource-logs" content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view "resource-events" content=model}}
		</div>
	{{/view}}
{{/view}}
