<section class="transaction-info">
	<div class="form-horizontal key-value-display">
		<header>
			<h3>Events</h3>
		</header>
	</div>
	<ul id="events">
		{{#if view.content.events }}
			{{#each event in view.content.events}}
				<li class="event">
					<div>
					  {{#linkTo 'events' event}}{{ event.type }}{{/linkTo}}
					</div>
					<div>
						{{ inflection event.eventCallbacks.length singular="webhook"}}:
						{{ humanReadableDateLong event.occurred_at }}
					</div>
				</li>
			{{/each}}
		{{ else }}
			{{# if view.transactions.isLoaded }}
				<em>None</em>
			{{else}}
				<em>Loading...</em>
			{{/if}}
		{{/if}}
	</ul>
</section>
