<section class="event-info">
	<header>
		<h1 class="page-title">{{model.type}}</h1>
	</header>
	<div class="key-value-display">
		<dl class="dl-horizontal">
			<dt>ID</dt>
			<dd>{{model.id}}</dd>
			<dt>Type</dt>
			<dd>{{model.type}}</dd>
			<dt>Occurred at</dt>
			<dd>{{human-readable-dateLong model.occurred_at}}</dd>

			{{#if model.transaction}}
				<dt>Reference #</dt>
				<dd>{{#link-to model.transaction.route_name model.transaction}}{{model.transaction.id}}{{/link-to}}</dd>
			{{/if}}
		</dl>
	</div>
</section>

<section class="event-data-info">
	<header>
		<h3>Event data</h3>
	</header>

	{{view "pretty-print" contentBinding="controller.eventData"}}
</section>

<section class="webhook-info">
	<header>
		<h3>Webhooks</h3>
	</header>

	<ul class="webhooks">
		{{#each eventCallback in model.eventCallbacks}}
			<li {{bind-attr class="eventCallback.status"}}>
				<div class="summary">
					<div class="state">{{eventCallback.status}}</div>
					<div class="callback-replay action">
						{{#if eventCallback.isSaving}}
							<div class="loader-container">
								<span class="loader loading"></span>
							</div>
						{{else}}
							<a class="btn replay-button" {{action "replay" eventCallback}}>Replay</a>
						{{/if}}
					</div>
					<div class="url">
						<span class="callback-method">{{eventCallback.callback.method}}</span>
						<span class="callback-url">{{eventCallback.callback.url}}</span>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>
</section>
