<section id="main" class="container scale">
	<div id="forgot-password">
		<div id="content">
			<div class="page-form">
				<a href="https://www.balancedpayments.com"><img class="logo" src="images/balanced-logo.png" alt="Balanced" /></a>
				<form id="forgot-form" method="POST" {{bind-attr class="hasError:error"}} {{action "forgotPass" on="submit"}}>
					{{view Ember.TextField type="email" name="email_address" valueBinding="email_address" placeholder="Email"}}

					<p class="pull-left instructions">You will receive an e-mail with reset instructions.</p>
					<div class="pull-right">
						{{#if model.isSaving}}
							<span class="btn btn-loader">
								<span class="loader loading"></span>
							</span>
						{{/if}}
						<button {{bind-attr class=":btn model.isSaving:btn-disabled"}} type="submit" {{bind-attr disabled="model.isSaving"}}>Reset</button>
					</div>
				</form>

				{{#if submitted}}
					<div class="alert alert-black">
						We've sent you an e-mail with password reset instructions.
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</section>
