<div class="container">
	<header id="header" {{bind-attr class="auth.isGuest:header-guest:header-user headerClass"}}>
		{{render "notification_center"}}
		<div id="balanced-address">
			<h3 class="physical-address">965 Mission St., Ste 425, San Francisco, CA 94103</h3>
			<h3 class="support-email">support@balancedpayments.com</h3>
		</div>
		<div id="marketplaces-and-search">
			{{#if controllers.marketplace.isShowSearchBar}}
				{{render "marketplace/search" controllers.marketplace.model}}
			{{/if}}

			<div id="site-nav">
				{{#if controllers.marketplace.name}}
					{{view "menus/marketplace-escrow-menu" marketplace=controllers.marketplace}}
				{{/if}}
				{{view "menus/user-menu"}}
			</div>
		</div>
	</header>
</div>
