<h1 class="page-title">Hold</h1>

<div id="hold" class="transaction">
	<div class="title-block tb-egyptian-blue">
		<span class="tb-icon">
			<i class="icon icon-order"></i>
		</span>
		<span class="tb-content">
			{{page_title}}
		</span>
	</div>

	{{txn-customer customer=customer}}

	<div class="transaction-details">
		{{#if debit}}
			{{#each refund in debit.refunds}}
				{{txn-refund refund=refund}}
			{{/each}}
			{{txn-debit debit=debit}}
		{{/if}}
		{{txn-hold hold=model}}
	</div>
</div>

{{render "logs.index" model}}
