{{#view "page-navigations/invoice-page-navigation" model=model}}
	<h1 class="page-value">
		<div class="page-type">Total {{model.type}} fees</div>
		{{format-currency total_fee}}
	</h1>
{{/view}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{#if marketplace.production}}
			<section class="hidden-invoice">
				<h3>Bill to</h3>
				<p>
					{{marketplace.owner_customer.display_me}}

					{{#if marketplace.owner_customer.is_business}}
						{{marketplace.owner_customer.business_name}}
					{{/if}}

					{{#if marketplace.owner_customer.address_string}}
						<div>{{marketplace.owner_customer.address_string}}</div>
					{{/if}}
				</p>
			</section>
		{{/if}}
		{{view "detail-views/summary-sections/invoice-summary-section" model=model}}
		{{#view "detail-views/description-lists/invoice-titled-key-values-section" model=model}}
			<dt>Payment method
				{{#if is_not_paid}}
					<a class="change-funding-source" {{action "openModal" "modals/invoice-funding-source-edit-modal" model controllers.marketplace.model}}>
						<i class="icon-edit"></i>
					</a>
				{{/if}}
			</dt>
			<dd>{{#link-to model.source.route_name model.source}}{{model.source.title_description}}{{/link-to}}</dd>
		{{/view}}
	{{/view}}

	{{#view "detail-views/main-panel"}}
		<h3>Fees</h3>
		<div class="results">
			<div class="hidden-print">
				<a href="#" {{action "printSummary"}} class="btn-link sm pull-right">
					<i class="icon-print"></i>
					Print
				</a>
			</div>

			{{view "results/invoice-table" model=model}}
		</div>

		{{#if adjustments.length}}
			<h3>Adjustments</h3>
			<div class="results">
				<table class="items non-interactive">
					<thead>
						<tr>
							<th class="col-md-10"><span>Description</span></th>
							<th class="col-md-2 num total"><span>Total</span></th>
						</tr>
					</thead>
					<tbody>
						{{#each adjustment in model.adjustments}}
						<tr>
							<td><span>{{adjustment.description}}</span></td>
							<td class="num total"><span>{{format-currency adjustment.amount}}</span></td>
						</tr>
						{{/each}}
					</tbody>
					<tfoot>
						<tr>
							<td class="sl-sb"><span>Total adjustments</span></td>
							<td class="num sl-sb total"><span>{{format-currency adjustments_total_fee}}</span></td>
						</tr>
					</tfoot>
				</table>
			</div>
		{{/if}}

		<h3>{{invoice_type}}</h3>
		<div class="results">
			{{#if isDispute}}
				{{view "results/embedded-disputes-table" loader=disputesResultsLoader}}
			{{else}}
				<nav class="search-filters-header">
					<ul>
						{{#if hasHoldsFee}}
							{{view "results/results-filter-list-item" text="Holds" resultsLoader=transactionsResultsLoader filterValue="holds"}}
						{{/if}}
						{{view "results/results-filter-list-item" text="Debits (Cards)" resultsLoader=transactionsResultsLoader filterValue="card_debits"}}

						{{view "results/results-filter-list-item" text="Debits (Bank accounts)" resultsLoader=transactionsResultsLoader filterValue="bank_account_debits"}}

						{{view "results/results-filter-list-item" text="Credits (Succeeded)" resultsLoader=transactionsResultsLoader filterValue="bank_account_credits"}}

						{{view "results/results-filter-list-item" text="Credits (Failed)" resultsLoader=transactionsResultsLoader filterValue="failed_credits"}}

						{{view "results/results-filter-list-item" text="Refunds" resultsLoader=transactionsResultsLoader filterValue="refunds"}}
					</ul>
				</nav>
				{{view "results/invoice-transactions-table" loader=transactionsResultsLoader}}
			{{/if}}
		</div>
	{{/view}}
{{/view}}
