{{#view "page-navigations/invoice-page-navigation" model=model}}
	<h1 class="page-value">
		<div class="page-type">Total {{model.type}} fees</div>
		{{format-currency total_fee}}
	</h1>
{{/view}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{#if marketplace.production}}
			<section class="hidden-invoice">
				<h3>Bill to</h3>
				<p>
					{{marketplace.owner_customer.display_me}}

					{{#if marketplace.owner_customer.is_business}}
						{{marketplace.owner_customer.business_name}}
					{{/if}}

					{{#if marketplace.owner_customer.address_string}}
						<div>{{marketplace.owner_customer.address_string}}</div>
					{{/if}}
				</p>
			</section>
		{{/if}}
		{{view "detail-views/summary-sections/invoice-summary-section" model=model}}
		{{#view "detail-views/description-lists/invoice-titled-key-values-section" model=model}}
			<dt>Payment method
				{{#if is_not_paid}}
					<a class="change-funding-source" {{action "openModal" "modals/invoice-funding-source-edit-modal" model controllers.marketplace.model}}>
						<i class="icon-edit"></i>
					</a>
				{{/if}}
			</dt>
			<dd>{{#link-to model.source.route_name model.source}}{{model.source.title_description}}{{/link-to}}</dd>
		{{/view}}
	{{/view}}

	{{#view "detail-views/main-panel"}}
		<h3>Fees</h3>
		<div class="results">
			<div class="hidden-print">
				<a href="#" {{action "printSummary"}} class="btn-link sm pull-right">
					<i class="icon-print"></i>
					Print
				</a>
			</div>
			<table class="items non-interactive">
				<thead>
					<tr>
						<th class="col-md-2"><span>Type</span></th>
						<th class="col-md-1 num"><span>Quantity</span></th>
						<th class="col-md-2 num"><span>Txn amount</span></th>
						<th class="col-md-3"><span>Fee</span></th>
						<th class="col-md-2 num total"><span>Amount</span></th>
					</tr>
				</thead>
				<tbody>
					{{#if isDispute}}
						<tr class="dispute-details-row">
							<td class="col-md-3"><span>Disputes</span></td>
							<td class="col-md-2 num"><span>{{format-number disputes_count}}</span></td>
							<td class="num"><span>{{format-currency disputes_total_amount}}</span></td>
							<td><span>{{format-currency dispute_fixed_fee}} per dispute</span></td>
							<td class="col-md-3 num total"><span>{{format-currency disputes_total_fee}}</span></td>
						</tr>
					{{else}}
						<tr class="hold-details-row">
							<td><span>Holds</span></td>
							<td class="num"><span>{{format-number holds_count}}</span></td>
							<td class="num"><span>{{format-currency holds_total_amount}}</span></td>
							<td><span>{{format-currency hold_fee}} per hold</span></td>
							<td class="num total"><span>{{format-currency holds_total_fee}}</span></td>
						</tr>
						<tr class="card-debit-details-row">
							<td class="two-lines">
								<span>
									<span class="primary">Debit</span>
									<span class="secondary">Cards</span>
								</span>
							</td>
							<td class="num"><span>{{format-number card_debits_count}}</span></td>
							<td class="num"><span>{{format-currency card_debits_total_amount}}</span></td>
							<td><span>{{variable_fee_percentage}}% of txn amount + {{card_debit_fixed_fee}}&cent;</span></td>
							<td class="num total"><span>{{format-currency card_debits_total_fee}}</span></td>
						</tr>
						<tr class="bank-account-debit-details-row">
							<td class="two-lines">
								<span>
									<span class="primary">Debit</span>
									<span class="secondary">Bank accounts</span>
								</span>
							</td>
							<td class="num"><span>{{format-number bank_account_debits_count}}</span></td>
							<td class="num"><span>{{format-currency bank_account_debits_total_amount}}</span></td>
							<td><span>
								{{#if bank_account_debit_variable_fee_cap}}
									{{bank_account_debit_variable_fee_cap}}&cent; per debit
								{{else}}
									{{bank_account_debit_variable_fee_percentage}}% of debit amount + 30&cent;
								{{/if}}
							</span></td>
							<td class="num total"><span>{{format-currency bank_account_debits_total_fee}}</span></td>
						</tr>
						<tr class="succeeded-bank-account-credit-details-row">
							<td class="two-lines">
								<span>
									<span class="primary">Credit</span>
									<span class="secondary">Succeeded</span>
								</span>
							</td>
							<td class="num"><span>{{format-number bank_account_credits_count}}</span></td>
							<td class="num"><span>{{format-currency bank_account_credits_total_amount}}</span></td>
							<td><span>{{bank_account_credit_fee}}&cent; per credit</span></td>
							<td class="num total"><span>{{format-currency bank_account_credits_total_fee}}</span></td>
						</tr>
						<tr class="succeeded-card-credit-details-row">
							<td class="two-lines">
								<span>
									<span class="primary">Credit</span>
									<span class="secondary">Push to card</span>
								</span>
							</td>
							<td class="num"><span>{{format-number card_credits_count}}</span></td>
							<td class="num"><span>{{format-currency card_credits_total_amount}}</span></td>
							<td><span>{{card_credit_fixed_fee}}&cent; per credit</span></td>
							<td class="num total"><span>{{format-currency card_credits_total_fee}}</span></td>
						</tr>
						<tr class="refund-details-row">
							<td><span>Refund</span></td>
							<td class="num"><span>{{format-number refunds_count}}</span></td>
							<td class="num"><span>{{format-currency refunds_total_amount}}</span></td>
							<td><span>{{variable_fee_percentage}}% of txn amount returned</span></td>
							<td class="num total"><span>{{format-currency refunds_total_fee}}</span></td>
						</tr>
					{{/if}}
				</tbody>
				<tfoot>
					<tr class="subtotal-row">
						<td class="sl-sb" colspan="4"><span>Total fees</span></td>
						<td class="num total sl-sb"><span>{{format-currency subtotal}}</span></td>
					</tr>
				</tfoot>
			</table>
		</div>

		{{#if adjustments.length}}
			<h3>Adjustments</h3>
			<div class="results">
				<table class="items non-interactive">
					<thead>
						<tr>
							<th class="col-md-10"><span>Description</span></th>
							<th class="col-md-2 num total"><span>Total</span></th>
						</tr>
					</thead>
					<tbody>
						{{#each adjustment in model.adjustments}}
						<tr>
							<td><span>{{adjustment.description}}</span></td>
							<td class="num total"><span>{{format-currency adjustment.amount}}</span></td>
						</tr>
						{{/each}}
					</tbody>
					<tfoot>
						<tr>
							<td class="sl-sb"><span>Total adjustments</span></td>
							<td class="num sl-sb total"><span>{{format-currency adjustments_total_fee}}</span></td>
						</tr>
					</tfoot>
				</table>
			</div>
		{{/if}}

		<h3>{{invoice_type}}</h3>
		<div class="results">
			{{#if isDispute}}
				{{view "results/embedded-disputes-table" loader=disputesResultsLoader}}
			{{else}}
				<nav class="search-filters-header">
					<ul>
						{{#if hasHoldsFee}}
							{{view "results/results-filter-list-item" text="Holds" resultsLoader=transactionsResultsLoader filterValue="holds"}}
						{{/if}}
						{{view "results/results-filter-list-item" text="Debits (Cards)" resultsLoader=transactionsResultsLoader filterValue="card_debits"}}

						{{view "results/results-filter-list-item" text="Debits (Bank accounts)" resultsLoader=transactionsResultsLoader filterValue="bank_account_debits"}}

						{{view "results/results-filter-list-item" text="Credits (Succeeded)" resultsLoader=transactionsResultsLoader filterValue="bank_account_credits"}}

						{{view "results/results-filter-list-item" text="Credits (Failed)" resultsLoader=transactionsResultsLoader filterValue="failed_credits"}}

						{{view "results/results-filter-list-item" text="Refunds" resultsLoader=transactionsResultsLoader filterValue="refunds"}}
					</ul>
				</nav>
				{{view "results/invoice-transactions-table" loader=transactionsResultsLoader}}
			{{/if}}
		</div>
	{{/view}}
{{/view}}
