<h1 class="page-title ellipsis">{{model.message.request.method}} {{model.condensed_request_url}}</h1>

<div class="key-value-display mb-large">
	<dl class="dl-horizontal">
		<dt>Date</dt>
		<dd><span><time {{bind-attr datetime="model.created_at"}} {{bind-attr title="model.created_at"}}>{{humanReadableDateLong model.created_at}}</time></span></dd>
		<dt>Method</dt>
		<dd><span>{{model.message.request.method}}</span></dd>
		<dt>URI</dt>
		<dd><span>{{model.short_url}}</span></dd>
		<dt>Status</dt>
		<dd><span>{{colorizeStatus model.message.response.status}}</span></dd>
		<dt>Description</dt>
		<dd>{{model.message.response.body.errors.0.description}}</dd>
		<dt>Request ID</dt>
		<dd data-property="request-id"><span>{{model.guru_id}}</span></dd>
		<dt>IP address</dt>
		<dd><span>{{model.message.request.headers.X-Real-Ip}} {{model.geo_ip}}</span></dd>
		<dt>User-agent</dt>
		<dd><span>{{model.message.request.headers.User-Agent}}</span></dd>
	</dl>
</div>

<section class="request-info">
	<header>
		<h3>Request body</h3>
	</header>

	{{view Balanced.PrettyPrintView contentBinding="model.message.request.payload"}}
</section>

<section class="mb-none response-info">
	<header>
		<h3>Response body</h3>
	</header>

	{{view Balanced.PrettyPrintView contentBinding="model.message.response.body"}}
</section>
