{{view "page-navigations/log-page-navigation" model=model hideDateFilter=true}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{view detail-views/summary-sections/log-summary-section model=model}}
		{{view "detail-views/description-lists/log-titled-key-values-section" model=model}}
	{{/view}}

	{{#view "detail-views/main-panel"}}
		<h3>Request</h3>
		{{view "pretty-print" contentBinding="model.message.request.payload"}}

		<h3>Response</h3>
		{{view "pretty-print" contentBinding="model.message.response.body"}}
	{{/view}}
{{/view}}
