<section id="main" class="container scale">
	<div id="login">
		<div id="content">
			<div {{bind-attr class=":page-form otpRequired:hidden"}}>
				<a href="https://www.balancedpayments.com"><img class="logo" src="images/balanced-logo.png" alt="Balanced" /></a>
				<form id="auth-form" method="POST" {{bind-attr class="loginError:error"}} {{action "signIn" on="submit"}}>
					{{view Ember.TextField type="email" name="email" valueBinding="email" placeholder="Email"}}
					{{view Ember.TextField type="password" name="password" valueBinding="password" placeholder="Password" action="signIn"}}
					<div class="clear"></div>

					{{#link-to "forgotPassword" class="pull-left forgot-password"}}Forgot password?{{/link-to}}

					<div class="pull-right">
						{{#if isSubmitting}}
							<span class="btn btn-loader">
								<span class="loader loading"></span>
							</span>
						{{/if}}
						<button {{bind-attr class=":btn isSubmitting:btn-disabled"}} type="submit" {{bind-attr disabled="isSubmitting"}}>Sign In</button>
					</div>
				</form>

				{{#if loginError}}
					<div class="alert alert-error">
						{{loginResponse}}
					</div>
				{{/if}}
				{{#if fromForgotPassword}}
					<div class="alert alert-black">
						We've sent you an e-mail with password reset instructions.
					</div>
				{{/if}}
				{{#if fromResetPassword}}
					<div class="alert alert-black">
						Your password has successfully been updated.
					</div>
				{{/if}}

				<p class="label4b" id="get-started">New to Balanced? <a class="linky" {{action "signUp"}}>Create an account<a></p>
			</div>
			<div {{bind-attr class=":page-form hasError:error otpRequired::hidden"}}>
				<a href="https://www.balancedpayments.com"><img class="logo" src="images/balanced-logo.png" alt="Balanced" /></a>

				<div class="auth">Enter the authentication code below.</div>
				<form id="forgot-form" {{bind-attr class=":otp-form hasError:error"}} {{action "otpSubmit" on="submit"}}>
					{{view Ember.TextField name="otp_secret" valueBinding="otpCode" placeholder="Authentication Code" autocomplete="off"}}
					<button type="submit" {{bind-attr disabled="isSubmitting"}}>
						{{#if isSubmitting}}
							<div class="loader-container"><span class="loader loading"></span></div>
						{{else}}
							Continue To Dashboard
						{{/if}}
					</button>
				</form>
			</div>
		</div>
	</div>
</section>
