<section id="login">
  {{#if loginError}}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert" {{action "dismissError"}}>&times;</button>
      {{loginResponse}}}
    </div>
  {{/if}}

  <div class="offset6 span8">
    <img class="logo" src="static/images/balanced_logo-vertical-01.png" alt="Balanced" />

    <form id="auth-form">
      {{view Ember.TextField type="email" name="email" valueBinding="email" placeholder="Email"}}
      {{view Ember.TextField type="password" name="password" valueBinding="password" placeholder="Password"}}
      <div class="clear"></div>

      {{#linkTo "forgot-password" class="pull-left forgot-password" }}Forgot password?{{/linkTo}}
      <button class="pull-right" {{action "signIn"}} type="button">Sign In</button>
    </form>
  </div>

</section>