<form id="auth-form" method="POST" {{bind-attr class="loginError:error"}} {{action "signIn" on="submit"}}>
	{{view "form-fields/base-form-field" model=model inputType="email" inputClassNames="full" labelText="Email address" field="emailAddress" inputName="email_address"}}
	{{view "form-fields/base-form-field" model=model inputType="password" inputClassNames="full" labelText="Password" field="password"}}

	{{#link-to "forgotPassword" class="sm forgot-password"}}Forgot?{{/link-to}}

	<div class="pull-right">
		<button {{bind-attr class=":btn isSubmitting:disabled" disabled=isSubmitting}} type="submit">Sign in</button>
	</div>
</form>
