<section id="main">
    <h2>Login</h2>

    {{#if loginError}}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert" {{action "dismissError"}}>&times;</button>
        {{loginResponse}}}
      </div>
    {{/if}}

<form id="auth-form">
  {{view Ember.TextField type="email" name="email" valueBinding="email" placeholder="email address"}}
  {{view Ember.TextField type="password" name="password" valueBinding="password" placeholder="password"}}
  <button {{action "signIn"}} type="button">Login</button>
</form>

</section>

<footer id="footer">

</footer>
