<section id="main" class="container">
  <div id="login">
    <div class="row">
      <div id="content" class="span26">
        <div class="row">
          <div {{ bindAttr class=":offset9 :span8 otpRequired:hidden" }}>
            <a href="https://www.balancedpayments.com"><img class="logo" src="images/balanced-logo.png" alt="Balanced" /></a>

            <form id="auth-form" method="POST" {{ bindAttr class="loginError:error" }} {{action "signIn" on="submit"}}>
              {{view Ember.TextField type="email" name="email" valueBinding="email" placeholder="Email"}}
              {{view Ember.TextField type="password" name="password" valueBinding="password" placeholder="Password" action="signIn"}}
              <div class="clear"></div>

              {{#linkTo "forgotPassword" class="pull-left forgot-password" }}Forgot password?{{/linkTo}}

              <button class="pull-right" type="submit">Sign In</button>
            </form>

            {{#if loginError}}
              <div class="alert alert-error">
                {{loginResponse}}
              </div>
            {{/if}}

            <p class="label4b" id="get-started">New to Balanced? <a href="#/start" class="linky">Click here to get started</a>.</p>
          </div>
          <div {{ bindAttr class=":offset9 :span8 hasError:error otpRequired::hidden" }}>
            <a href="https://www.balancedpayments.com"><img class="logo" src="images/balanced-logo.png" alt="Balanced" /></a>

            <div class="auth">Enter the authentication code below.</div>

            <form id="forgot-form" {{ bindAttr class=":otp-form hasError:error" }} {{action "otpSubmit" on="submit"}}>
              {{view Ember.TextField name="otp_secret" valueBinding="otpCode" placeholder="Authentication Code"}}
              <button type="submit">Continue To Dashboard</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
