{{partial "header"}}
<section id="main" class="container marketplaces">
	{{partial "marketplace_sidebar"}}
	<div id="content">
		{{partial "alert"}}
		{{outlet}}
		{{partial "footer"}}
	</div>
</section>
