<section id="main" class="container marketplaces">
	{{#if isApplyPage}}
		{{outlet}}
	{{else}}
		{{view Balanced.MarketplaceSidebarView marketplace=controllers.marketplace.marketplace}}
		{{partial "header"}}
		<div id="content">
			{{partial "alert"}}
			{{outlet}}
		</div>
	{{/if}}
</section>
