<div class="key-value-display">
	<h3>
		Meta information
		<a class="pull-right edit-model-link" {{action "openModal" "modals/meta-edit-modal" view.type view.meta_array}}>
			<i class="icon-edit"></i>
		</a>
	</h3>

	{{#if view.meta_array}}
	<dl class="dl-horizontal meta">
		{{#each meta in view.meta_array}}
			<dt {{bind-attr title="meta.key"}}>{{meta.key}}</dt>
			<dd><span>{{meta.value}}</span></dd>
		{{/each}}
	</dl>
	{{else}}
		<span class="sl-none">none</span>
	{{/if}}
</div>
