<div id="order">

	<h1 class="page-title">Order</h1>
	
	<div class="order-header main-header">
		<div class="row">
			<div class="span2 label">
				<i class="icon-order"></i>
			</div>
			<div class="span8 title">
				<span class="nav3d">
					{{page_title}}
				</span>
			</div>
		</div>
	</div>

	<div class="order-sub-header">
		<span class="created">
			Created:
			<time {{bindAttr datetime="transaction.created_at"}} {{bindAttr title="transaction.created_at"}}>{{humanReadableDateShort created_at}}</time>
		</span>
		<span class="order-id">Order ID: {{id}}</span>
	</div>

	<div class="order-summary">
		<div class="row head">
			<div class="span10">Summary</div>
			<div class="span4">Quantity</div>
			<div class="span4">Total</div>
		</div>
		<div {{bindAttr class=":row amounts.debits.quantity::empty"}}>
			<div class="span10">Debits</div>
			<div class="span4">{{amounts.debits.quantity}}</div>
			<div class="span4">{{amounts.debits.total}}</div>
		</div>
		<div {{bindAttr class=":row amounts.refunds.quantity::empty"}}>
			<div class="span10">Refunds</div>
			<div class="span4">{{amounts.refunds.quantity}}</div>
			<div class="span4">{{amounts.refunds.total}}</div>
		</div>
		{{#if multiple_credits}}
			{{#each credit in credits}}
				<div class="row">
					<div class="span10">Credit to {{credit.funding_instrument_description}}</div>
					<div class="span4">1</div>
					<div class="span4">{{credit.amount_dollars}}</div>
				</div>
			{{/each}}
		{{else}}
			<div {{bindAttr class=":row amounts.credits.quantity::empty"}}>
				<div class="span10">Credits to seller</div>
				<div class="span4">{{amounts.credits.quantity}}</div>
				<div class="span4">{{amounts.credits.total}}</div>
			</div>
		{{/if}}
		<div {{bindAttr class=":row amounts.reversals.quantity::empty"}}>
			<div class="span10">Reversals</div>
			<div class="span4">{{amounts.reversals.quantity}}</div>
			<div class="span4">{{amounts.reversals.total}}</div>
		</div>
	</div>

	<div class="order-total">
		<h1>{{escrow_balance}}</h1>
		<p>
			Escrow balance for this order
		</p>
	</div>

	<h3 class="order-party">Buyer</h3>
	{{#each buyer in buyers}}
		{{order-customer customer=buyer debits=debits order=model}}
	{{/each}}

	<h3 class="order-party">Seller</h3>
	{{order-customer customer=seller credits=credits order=model}}

</div>
