{{view "page-navigations/page-navigation" pageType=model.type_name title=model.page_title}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{view "detail-views/summary-sections/order-summary-section" model=model}}
		{{view detail-views/description-lists/order-titled-key-values-section model=model}}
		{{view "meta-list" type=model}}

	{{/view}}

	{{#view "detail-views/main-panel"}}
		<h3>Charges</h3>
		<div class="results table-responsive">
			{{view "results/order-debits-table" loader=debitsResultsLoader}}
		</div>

		<h3>Payouts</h3>
		<div class="results table-responsive">
			{{view "results/order-credits-table" loader=creditsResultsLoader}}
		</div>

		<h3>Logs</h3>
		<div class="results">
			{{view "resource-logs" content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view "resource-events" content=model}}
		</div>
	{{/view}}
{{/view}}
