{{#view Balanced.PageNavigationView pageType=model.type_name title=model.page_title}}
	<h1 class="page-value">
		<div class="page-type">Order escrow</div>
		{{escrow_balance}}
	</h1>
{{/view}}

{{#view Balanced.BodyPanelView}}
	{{#view Balanced.SidePanelView model=model}}
		{{view Balanced.OrderSellerSectionView model=model}}
		{{view Balanced.OrderBuyersSectionView model=model}}
		{{view Balanced.OrderTitledKeyValuesSectionView model=model}}
		{{view Balanced.MetaView type=model}}

	{{/view}}

	{{#view Balanced.MainPanelView}}
		<h3>Credits</h3>
		<div class="results">
			{{view Balanced.OrderTransactionsResultsView loader=creditsResultsLoader}}
		</div>

		<h3>Debits</h3>
		<div class="results">
			{{view Balanced.OrderTransactionsResultsView loader=debitsResultsLoader}}
		</div>

		<h3>Refunds</h3>
		<div class="results">
			{{view Balanced.OrderTransactionsResultsView loader=refundsResultsLoader}}
		</div>

		<h3>Reversal</h3>
		<div class="results">
			{{view Balanced.OrderTransactionsResultsView loader=reversalsResultsLoader}}
		</div>

		<h3>Logs</h3>
		<div class="results">
			{{view Balanced.ResourceLogsView content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view Balanced.ResourceEventsView content=model}}
		</div>
	{{/view}}
{{/view}}
