{{#if displayed}}
{{#view Balanced.ModalView id="pay-seller"}}
    <form {{action "pay" on="submit"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Pay a seller</h2>
    </div>
    <div class="modal-body">
        <div {{bindAttr class=":control-group validationErrors.name:error"}}>
            <label>Account holder's name</label>
            {{view Ember.TextField valueBinding="bank_account.name" class="full"}}
        </div>

        <div {{bindAttr class=":control-group validationErrors.routing_number:error"}}>
            <label>Routing Number</label>
            {{view Ember.TextField valueBinding="bank_account.routing_number" class="full"}}
        </div>

        <div {{bindAttr class=":control-group validationErrors.account_number:error"}}>
            <label>Account number</label>
            {{view Ember.TextField valueBinding="bank_account.account_number" class="full"}}
        </div>

        <div {{bindAttr class=":control-group validationErrors.type:error"}}>
            <label>Account type</label>
            {{view Ember.Select
                   contentBinding="Balanced.BankAccountTypes"
                   optionValuePath="content.value"
                   optionLabelPath="content.label"
                   valueBinding="bank_account.type"
            }}
        </div>

        <div {{bindAttr class=":control-group validationErrors.amount:error"}}>
            <label>Amount</label>
            <div class="input-prepend">
                <span class="add-on">$</span>
                {{view Ember.TextField valueBinding="amount_dollars" class="span3"}}
            </div>
        </div>

        <div>
            <label>Description</label>
            {{view Ember.TextField valueBinding="description" class="full"}}
        </div>
    </div>
    <div class="modal-informational">
        <img src="images/bank-account-instructions.png" alt="Bank Account Instructions" class="modal-informational-content"/>
    </div>
    <div class="modal-footer">
        <button class="btn danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn" {{action credit}}>Credit</button>
    </div>
    </form>
{{/view}}
{{/if}}
