<h1 class="page-title">Refund</h1>

<div id="refund" class="transaction">

  <div class="main-header transactions-header">
    <div class="row">
      <div class="span2 label">
        <div class="icon">Refund</div>
      </div>
        <div class="span14 title">
        <span class="nav2d">
          {{description}}
        </span>
      </div>

        <div class="span4 buttons">
        </div>
    </div>
  </div>

  {{txn-customer customer=customer}}

  <div class="transaction-details">
    <!-- TODO - should probably show the current refund first -->
    {{#each refund in debit.refunds}}
      {{txn-refund refund=refund}}
    {{/each}}
    {{txn-debit debit=debit}}
    {{#if debit.hold}}
      {{txn-hold hold=debit.hold}}
    {{/if}}
  </div>
</div>
