<section id="main" class="container scale">
	<div id="reset-password">
		<div id="content">
			<div class="page-form">
				<a href="https://www.balancedpayments.com"><img class="logo" src="images/balanced-logo.png" alt="Balanced" /></a>
				<form id="reset-password-form" {{bind-attr class="hasError:error"}} method="POST" {{action "resetPassword" on="submit"}}>
					{{view Ember.TextField type="password" name="password" valueBinding="password" placeholder="New Password"}}
					{{view Ember.TextField type="password" name="password_confirm" valueBinding="password_confirm" placeholder="Confirm Password"}}
					<p class="pull-left instructions">Your new password must be at least 6 characters, and contain both a digit and an alpha character.</p>
					<div class="pull-right">
						{{#if model.isSaving}}
							<span class="btn btn-loader">
								<span class="loader loading"></span>
							</span>
						{{/if}}
						<button {{bind-attr class=":btn model.isSaving:btn-disabled"}} type="submit" {{bind-attr disabled="model.isSaving"}}>Reset</button>
					</div>
				</form>
				{{#if submitted}}
					<div class="alert alert-black">
						Your password has successfully been updated.<br />
						Click {{#link-to "login"}}here{{/link-to}} to login.
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</section>
