<form id="reset-password-form" {{bind-attr class="hasError:error"}} method="POST" {{action "resetPassword" on="submit"}}>
	<p>Your new password must be at least 6 characters, and contain both a digit and an alpha character.</p>

	{{view "form-fields/base-form-field" model=model inputType="password" inputClassNames="full" labelText="New password" field="password"}}
	{{view "form-fields/base-form-field" model=model inputType="password" inputClassNames="full" labelText="Confirm password" field="password_confirm"}}

	<div class="pull-right">
		<button {{bind-attr class=":btn model.isSaving:disabled"}} type="submit" {{bind-attr disabled="model.isSaving"}}>Reset</button>
	</div>
</form>
