<h3 class="embedded-record-title">Events
	{{#unless view.content.isLoaded}}
		<div class="loader-container"><span class="loader loading"></span></div>
	{{/unless}}
</h3>
<div class="results embedded events">
	<div class="items-wrapper">
		<table class="items">
			<tbody>
			{{#if view.content.events}}
				{{#each event in view.content.events}}
					<tr>
						<td class="first date">
							{{#link-to 'events' event}}
							<time {{bind-attr datetime="event.occurred_at"}} {{bind-attr title="event.occurred_at"}}>
							{{humanReadableDateShort event.occurred_at}}</time>
							{{/link-to}}
						</td>
						<td class="second">
							{{#link-to 'events' event}}
							<span>{{event.type}}</span>
							{{/link-to}}
						</td>
						<td class="align-right">
							{{#link-to 'events' event}}
							<span>{{inflection event.eventCallbacks.length singular="webhook"}}</span>
							{{/link-to}}
						</td>
					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="3" class="no-results">
						{{#if view.content.isLoaded}}
							No results
						{{else}}
							Loading...
						{{/if}}
					</td>
				</tr>
			{{/if}}
			</tbody>
		</table>
	</div>
</div>
