<table class="items">
	<thead>
		<tr>
			<th class="span3 date">
				<span>Date</span>
			</th>
			<th class="span7">
				<span>File</span>
			</th>
			<th class="span5 num"><span>Size</span></th>
		</tr>
	</thead>
	<tbody>
	{{#each doc in view.content.documents}}
		<tr>
			{{view Balanced.LinkedDateCellView
				item=doc
				classNames="span3"
				href=doc.file_url
				date=doc.created_at
			}}
			<td>
				<a {{bind-attr href="doc.file_url"}}><span>{{doc.file_name}}</span></a>
			</td>
			<td class="num">
				<a {{bind-attr href="doc.file_url"}}><span>{{formatFileSize doc.size}}</span></a>
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="3" class="no-results">
				{{#if view.content.isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>
{{#if view.content.documents}}
	<div class="dispute-note">
		<span class="sl-sm">Note:</span>
		<span class="sl-note">{{view.content.justitia_dispute.note}}</span>
	</div>

	{{#if view.content.tracking_number}}
	<div class="dispute-note">
		<span class="sl-sm">Tracking number:</span>
		<span class="sl-note">{{view.content.tracking_number}}</span>
	</div>
	{{/if}}
{{/if}}
