<h3 class="embedded-record-title">Documents
	{{#unless view.content.isLoaded}}
		<div class="loader-container"><span class="loader loading"></span></div>
	{{/unless}}
</h3>
<div class="results embedded documents">
	<div class="items-wrapper">
		{{#if view.content.dispute_note}}
		<div class="key-value-display">
			<dl class="dl-horizontal">
				<dt>Note</dt>
				<dd><span>{{view.content.dispute_note}}</span></dd>
			</dl>
		</div>
		{{/if}}

		<table class="items">
			<tbody>
			{{#if view.content.documents}}
				{{#each doc in view.content.documents}}
					<tr>
						<td class="first date">
							<a {{bind-attr href="doc.file_url"}}><time {{bind-attr datetime="doc.created_at"}} {{bind-attr title="doc.created_at"}}>
							{{humanReadableDateShort doc.created_at}}</time></a>
						</td>
						<td class="second">
							<a {{bind-attr href="doc.file_url"}}><span>{{doc.file_name}}</span></a>
						</td>
						<td class="align-right">
							<a {{bind-attr href="doc.file_url"}}><span>{{formatFileSize doc.size}}</span></a>
						</td>
					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="3" class="no-results">
						{{#if view.content.isLoaded}}
							No results
						{{else}}
							Loading...
						{{/if}}
					</td>
				</tr>
			{{/if}}
			</tbody>
		</table>
	</div>
</div>
