{{#if view.content.dispute_note}}
	<div class="key-value-display">
		<dl class="dl-horizontal">
			<dt>Note</dt>
			<dd><span>{{view.content.dispute_note}}</span></dd>
		</dl>
	</div>
{{/if}}

<table class="items">
	<thead>
		<tr>
			<th class="span3 date">
				<span>Date</span>
			</th>
			<th class="span3">
				<span>Name</span>
			</th>
			<th class="span6"><span>Size</span></th>
		</tr>
	</thead>
	<tbody>
	{{#each doc in view.content.documents}}
		<tr>
			<td>
				<a {{bind-attr href="doc.file_url"}}><time {{bind-attr datetime="doc.created_at"}} {{bind-attr title="doc.created_at"}}>
				{{humanReadableDateShort doc.created_at}}</time></a>
			</td>
			<td>
				<a {{bind-attr href="doc.file_url"}}><span>{{doc.file_name}}</span></a>
			</td>
			<td>
				<a {{bind-attr href="doc.file_url"}}><span>{{formatFileSize doc.size}}</span></a>
			</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="3" class="no-results">
				{{#if view.content.isLoaded}}
					No results
				{{else}}
					Loading...
				{{/if}}
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>
