<h1 class="page-title">Reversal</h1>

<div id="reversal" class="transaction">
	<div class="title-block tb-egyptian-blue">
		<span class="tb-icon">
			<i class="icon icon-order"></i>
		</span>
		<span class="tb-content">
			{{page_title}}
		</span>
	</div>

	{{txn-customer customer=credit.customer}}

	<div class="transaction-details">
		{{txn-reversal reversal=model}}
		{{txn-credit credit=credit marketplace=controllers.marketplace.model}}
	</div>
</div>

{{render "logs.index" model}}
