<div id="search" {{bindAttr class="controller.displayResults:with-results"}}>
    <div class="search-field-container">
        <div class="search icon"></div>
        {{view Balanced.SearchQueryInputView valueBinding="search" action="query" name="q" id="q" autocomplete="off"}}
    </div>

    <div class="results">
        {{# if isLoading }}
            <span class="loader loading query-loader"></span>
        {{else}}
            <span class="close" {{action clearSearch}}>×</span>
        {{/if}}

        <!-- TODO - put the counts back when the API supports it -->
        {{view Balanced.ResultsFiltersHeaderView searchResultBinding=last_loaded_search_result}}

        {{#if transactionsTabSelected}}
        <div class="items-wrapper">
            {{view Balanced.TransactionsResultsView transactionsBinding=results}}
        </div>
        {{/if}}

        {{#if customersTabSelected}}
        <div class="items-wrapper">
            {{view Balanced.CustomersResultsView customersBinding=results}}
        </div>
        {{/if}}

        {{#if fundingInstrumentsTabSelected}}
        <div class="items-wrapper">
            {{view Balanced.FundingInstrumentsResultsView fundingInstrumentsBinding=results}}
        </div>
        {{/if}}
    </div>
    {{#if show_download}}
        {{partial "modals/download" }}
    {{/if}}
</div>
