<div id="search">
    {{view Balanced.SearchQueryInputView valueBinding="search" action="query" name="q" id="q" autocomplete="off"}}
    {{# if isLoading }}
        <span class="loader loading"></span>
    {{else}}
        <span class="close" {{action closeSearch target="view"}}>×</span>
    {{/if}}
    <div class="results">
        <header>
            <nav>
                <li {{bindAttr class=":transactions :filter total_transactions::disabled :selected"}} >
                    {{#if total_transactions}}
                        {{#view Balanced.SearchTypeView searchType="transactions"}} {{ transaction_type_label }} ({{ total_transactions }}) {{/view}}
                    {{else}}
                        <span>Transactions (--)</span>
                    {{/if}}
                    <div class="selector dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu transaction-filter filter-choices">
                            <li>{{#view Balanced.SearchFilterResultView filter="" labelBinding="totalTransactionsHeader"}} All ({{ total_transactions }}) {{/view}}</li>
                            {{#if total_holds }}
                                <li>{{#view Balanced.SearchFilterResultView filter="hold"}} Holds ({{ total_holds }}) {{/view}}</li>
                            {{else}}
                                <li class="disabled"><span>Holds ({{ total_holds }})</span></li>
                            {{/if}}

                            {{#if total_debits }}
                                <li>{{#view Balanced.SearchFilterResultView filter="debit"}} Debits ({{ total_debits }}) {{/view}}</li>
                            {{else}}
                                <li class="disabled"><span>Debits ({{ total_debits }})</span></li>
                            {{/if}}

                            {{#if total_credits }}
                                <li>{{#view Balanced.SearchFilterResultView filter="credit"}} Credits ({{ total_credits }}) {{/view}}</li>
                            {{else}}
                                <li class="disabled"><span>Credits ({{ total_credits }})</span></li>
                            {{/if}}

                            {{#if total_refunds }}
                                <li>{{#view Balanced.SearchFilterResultView filter="refund"}} Refunds ({{ total_refunds }}) {{/view}}</li>
                            {{else}}
                                <li class="disabled"><span>Refunds ({{ total_refunds }})</span></li>
                            {{/if}}
                        </ul>
                    </div>
                </li>

                <li {{bindAttr class=":accounts total_accounts::disabled"}} >
                    {{#if total_accounts}}
                        {{#view Balanced.SearchTypeView searchType="account"}} Accounts ({{ total_accounts }}) {{/view}}
                    {{else}}
                        <span>Accounts (--)</span>
                    {{/if}}
                </li>

                <li {{bindAttr class=":funding-instruments :filter total_funding_instruments::disabled"}} >
                    {{#if total_funding_instruments}}
                        {{#view Balanced.SearchTypeView searchType="funding_instrument"}} {{ funding_instrument_type_label }} ({{ total_accounts }}) {{/view}}
                    {{else}}
                        <span>Cards &amp; Bank Accounts (--)</span>
                    {{/if}}

                    <div class="selector dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu funding-instruments-filter filter-choices">
                            <li>{{#view Balanced.SearchFilterResultView filter="" labelBinding="totalFundingInstrumentsHeader"}} Both ({{ total_funding_instruments }}) {{/view}}</li>

                            {{#if total_cards }}
                                <li>{{#view Balanced.SearchFilterResultView filter="card"}} Cards ({{ total_cards }}) {{/view}}</li>
                            {{else}}
                                <li class="disabled"><span>Cards ({{ total_cards }})</span></li>
                            {{/if}}

                            {{#if total_bank_accounts }}
                                <li>{{#view Balanced.SearchFilterResultView filter="bank_account"}} Bank Accounts ({{ total_bank_accounts }}) {{/view}}</li>
                            {{else}}
                                <li class="disabled"><span>Bank Accounts ({{ total_bank_accounts }})</span></li>
                            {{/if}}
                        </ul>
                    </div>
                </li>

                {{view Balanced.DatePickerView}}
            </nav>
        </header>

        <table class="items transactions selected">
            <thead>
                <tr>
                    {{#view Balanced.SearchSortableColumnHeaderView class="span3 label6a sortable unsorted" field="created_at"}}Date{{/view}}
                    <th class="span3 label6a type">Transaction</th>
                    <th class="span4 label6a description">Description</th>
                    <th class="span4 label6a account">Account</th>
                    <th class="span4 label6a funding-instrument">Card or Bank Account</th>
                    {{#view Balanced.SearchSortableColumnHeaderView class="span2 label6a amount sortable unsorted num" field="amount"}}Amount{{/view}}
                </tr>
            </thead>
            <tbody>
            {{#each transaction in transactions }}
            <tr {{action selectSearchResult transaction.uri target="view"}}>
                <td class="span3 date">
                    <time {{bindAttr datetime="transaction.created_at"}}" data-format="%b %d" {{bindAttr title="transaction.created_at"}}>{{transaction.human_readable_created_at}}</time>
                </td>
                <td {{bindAttr class=":span3 :label4a :type transaction.status"}} class="span3 label4a type succeeded">
                    {{ transaction.type_name }}
                    {{#if transaction.status }}: {{transaction.status}}{{/if}}
                </td>
                <td class="span4 description">
                    {{ transaction.description }}
                </td>
                <td class="span4 account">
                    {{transaction.account.name}} ({{transaction.account.email_address}})
                </td>
                <td class="span4 funding-instrument">{{transaction.funding_instrument_description}}</td>
                <td class="span2 amount num">${{ transaction.amount_dollars }}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <table class="items accounts">
            <thead>
                <tr>
                    {{#view Balanced.SearchSortableColumnHeaderView class="span3 label6a sortable unsorted" field="created_at"}}Created{{/view}}
                    <th class="span4 label6a account">Account</th>
                    <th class="span8 label6a email">Email</th>
                </tr>
            </thead>
            <tbody>
            {{#each account in accounts}}
            <tr {{action selectSearchResult account.uri target="view"}}>
                <td class="span3 date">
                    <time {{bindAttr datetime="account.created_at"}}" data-format="%b %d" {{bindAttr title="account.created_at"}}>{{ account.human_readable_created_at }}</time>
                </td>
                <td class="span4 account">
                    {{ account.display_me }}
                </td>
                <td class="span8 email">
                    {{ account.email }}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>

        <table class="items funding-instruments">
            <thead>
            <tr>
                {{#view Balanced.SearchSortableColumnHeaderView class="span3 label6a sortable unsorted" field="created_at"}}Created{{/view}}
                <th class="span4 label6a">Type</th>
                <th class="span5 label6a">Card or bank account</th>
                <th class="span8 label6a">Account</th>
            </tr>
            </thead>
            <tbody>
            {{#each funding_instrument in funding_instruments}}
            <tr {{action selectSearchResult funding_instrument.uri target="view"}}>
                <td>
                    <time {{bindAttr datetime="funding_instrument.created_at"}}" data-format="%b %d" {{bindAttr title="funding_instrument.created_at"}}>{{ funding_instrument.human_readable_created_at }}</time>
                </td>
                <td>
                    {{ funding_instrument.type_name }}
                    {{#if funding_instrument.is_bank_account }}
                        ({{ funding_instrument.type }})
                    {{/if}}
                </td>
                <td>
                    {{ funding_instrument.description }}
                </td>
                <td>
                    {{ funding_instrument.account.name }}
                    {{ funding_instrument.account.email }}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
