<div id="search" {{bindAttr class="controller.displayResults:with-results"}}>
    {{view Balanced.SearchQueryInputView valueBinding="search" action="query" name="q" id="q" autocomplete="off"}}
    {{# if isLoading }}
        <span class="loader loading query-loader"></span>
    {{else}}
        <span class="close" {{action closeSearch}}>×</span>
    {{/if}}

    <div class="results">
        {{view Balanced.ResultsFiltersHeaderView viewName="filtersView"}}

        {{#if transactionsTabSelected}}
        <div class="items-wrapper" {{action closeSearch}}>
            {{view Balanced.TransactionsResultsView viewName="transactionsView"}}
        </div>
        {{/if}}

        {{#if customersTabSelected}}
        <div class="items-wrapper" {{action closeSearch}}>
            {{view Balanced.CustomersResultsView viewName="customersView"}}
        </div>
        {{/if}}

        {{#if fundingInstrumentsTabSelected}}
        <div class="items-wrapper" {{action closeSearch}}>
            {{view Balanced.FundingInstrumentsResultsView viewName="fundingInstrumentsView"}}
        </div>
        {{/if}}
    </div>
    {{#if show_download}}
        {{partial "modals/download" }}
    {{/if}}
</div>
