{{#unless auth.isGuest}}
	{{#view Balanced.SearchBarView value=search isLoading=isLoading isOpen=displayResults searchResults=results}}
		{{view Balanced.ResultsFiltersHeaderWithCountsView searchResult=view.searchResults from="search"}}

		{{#if ordersTabSelected}}
			<div class="items-wrapper">
				{{view Balanced.OrdersResultsView ordersBinding="view.searchResults"}}
			</div>
		{{/if}}

		{{#if transactionsTabSelected}}
			<div class="items-wrapper">
				{{view Balanced.TransactionsResultsView transactionsBinding="view.searchResults"}}
			</div>
		{{/if}}

		{{#if customersTabSelected}}
			<div class="items-wrapper">
				{{view Balanced.CustomersResultsView customersBinding="view.searchResults"}}
			</div>
		{{/if}}

		{{#if fundingInstrumentsTabSelected}}
			<div class="items-wrapper">
				{{view Balanced.FundingInstrumentsResultsView fundingInstrumentsBinding="view.searchResults"}}
			</div>
		{{/if}}

		{{#if show_download}}
			{{partial "modals/download"}}
		{{/if}}
	{{/view}}
{{/unless}}
