{{#unless auth.isGuest}}
<div id="search" {{bind-attr class="controller.displayResults:with-results"}}>
	<div class="search-field-container">
		<label for="q" class="icon-search"></label>
		{{view Balanced.SearchQueryInputView valueBinding="search" action="query" name="q" id="q" autocomplete="off"}}
		{{#if isLoading}}
			<span class="query-loader">
				<span class="loader loading"></span>
			</span>
		{{else}}
			<span class="search-close" {{action "clearSearch"}}>&times;</span>
		{{/if}}
	</div>

	<div class="results">
		{{view Balanced.ResultsFiltersHeaderWithCountsView searchResultBinding="last_loaded_search_result" from="search"}}

		{{#if ordersTabSelected}}
			<div class="items-wrapper">
				{{view Balanced.OrdersResultsView ordersBinding="results"}}
			</div>
		{{/if}}

		{{#if transactionsTabSelected}}
			<div class="items-wrapper">
				{{view Balanced.TransactionsResultsView transactionsBinding="results"}}
			</div>
		{{/if}}

		{{#if customersTabSelected}}
			<div class="items-wrapper">
				{{view Balanced.CustomersResultsView customersBinding="results"}}
			</div>
		{{/if}}

		{{#if fundingInstrumentsTabSelected}}
			<div class="items-wrapper">
				{{view Balanced.FundingInstrumentsResultsView fundingInstrumentsBinding="results"}}
			</div>
		{{/if}}
	</div>

	{{#if show_download}}
		{{partial "modals/download"}}
	{{/if}}
</div>
{{/unless}}
