{{view "page-navigations/page-navigation" pageType=model.type_name title=model.amountInDollars}}

{{#view "detail-views/body-panel"}}
	{{#view "detail-views/api-model-panel" model=model}}
		{{view detail-views/summary-sections/settlement-summary-section model=model}}
		{{view detail-views/description-lists/transaction-titled-key-values-section model=model}}
		{{view "meta-list" type=model}}
	{{/view}}

	{{#view "detail-views/main-panel"}}
		<h3>Related activity</h3>
		<div class="results">
			{{view "results/embedded-transactions-table" loader=creditsResultsLoader}}
		</div>
		<h3>Logs</h3>
		<div class="results">
			{{view "resource-logs" content=model}}
		</div>

		<h3>Events</h3>
		<div class="results">
			{{view "resource-events" content=model}}
		</div>
	{{/view}}
{{/view}}
