<header id="header" {{ bindAttr class=":container headerClass"}}>
    <div class="row">
        <div id="logo" class="span2">
            <a href="https://www.balancedpayments.com" class="img">Balanced Dashboard</a>
        </div>

        <div class="span22">
        </div>

        <div id="site-nav" class="span2">
            <div id="login-menu">
                <a href="#" {{action goToLogin}} class="nav1d">sign in</a>
            </div>
        </div>
    </div>
</header>

<section id="main" class="container start">

    <div class="row">

        <nav id="marketplace-nav" class="span2 noshow">
        </nav>

        <div id="content" class="span16">
            <h1>WELCOME to BALANCED</h1>
            <p class="label1a">Manage your customers and transactions, from charging buyers<br>
                to paying sellers.
                {{#linkTo 'activity' model class="linky"}}Get started by trying
                    out the dashboard.{{/linkTo}}
            </p>
            <div class="api-key">
                <span class="title">API Key</span>
                <span class="secret">{{ Balanced.NET.defaultApiKey }}</span>
            </div>
        </div>
        <div class="span8">
            <ul>
                <li class="dashboard" {{action goToDashboard}}>
                    <div class="icon"> </div>
                    <h2>Demo Dashboard</h2>
                    <p>Explore the dashboard with sample data</p>
                    <div class="arrow">
                        <div class="icon"> </div>
                    </div>
                </li>
                <li class="documentation" {{action goToDocumentation}}>
                    <div class="icon"> </div>
                    <h2>Integrate</h2>
                    <p>Check out the document and tutorials</p>
                    <div class="arrow">
                        <div class="icon"> </div>
                    </div>
                </li>
                <li class="registration" {{action goToApply}}>
                    <div class="icon"> </div>
                    <h2>Register</h2>
                    <p>Register for production access</p>
                    <div class="arrow">
                        <div class="icon"> </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</section>

{{partial "footer"}}
