<div class="container">
	<header id="header" {{bind-attr class=":start headerClass"}}>
		<div id="logo">
			<a href="https://www.balancedpayments.com" class="img">Balanced Dashboard</a>
		</div>
		<div id="site-nav">
			<div id="login-menu" class="nav-item">
				<a href="#" {{action "goToLogin"}}>Log in</a>
			</div>
		</div>
	</header>
</div>

<section id="main" class="container start">
	<div id="start-sidebar">
		<ul>
			<li class="dashboard" {{action "goToDashboard"}}>
				<div class="icon"> </div>
				<h2>Demo Dashboard</h2>
				<p>Explore the dashboard with sample data</p>
				<div class="arrow">
					<i class="icon icon-arrow-thin-forward"></i>
				</div>
			</li>
			<li class="documentation" {{action "goToDocumentation"}}>
				<div class="icon"> </div>
				<h2>Integrate</h2>
				<p>Check out the document and tutorials</p>
				<div class="arrow">
					<i class="icon icon-arrow-thin-forward"></i>
				</div>
			</li>
			<li class="registration" {{action "goToApply"}}>
				<div class="icon"> </div>
				<h2>Register</h2>
				<p>Register for production access</p>
				<div class="arrow">
					<i class="icon icon-arrow-thin-forward"></i>
				</div>
			</li>
		</ul>
	</div>

	<div id="start-content">
		<div id="start-message">
			<h1>WELCOME to BALANCED</h1>
			<p class="label1a">
				Manage your customers and transactions, from charging buyers<br>
				to paying sellers.
				{{#link-to 'marketplace' model class="linky"}}
					Get started by trying out the dashboard.
				{{/link-to}}
			</p>
			<div class="api-key">
				<span class="title">API Key</span><span class="secret">{{Balanced.NET.defaultApiKey}}</span>
			</div>
		</div>
	</div>
</section>

