<div class="container">
<header id="header" class="start" {{bind-attr class="headerClass"}}>
	<div id="logo">
		<a href="https://www.balancedpayments.com" class="img">Balanced Dashboard</a>
	</div>
    <div>
        <div id="site-nav">
            <div id="login-menu" class="nav-item">
                <a href="#" {{action "goToLogin"}}>Sign in</a>
            </div>
        </div>
    </div>
</header>
</div>

<section id="main" class="container start">
	<div class="row-fluid">
		<div id="content" class="span16 offset1">
			<h1>WELCOME to BALANCED</h1>
			<p class="label1a">Manage your customers and transactions, from charging buyers<br>
				to paying sellers.
				{{#link-to 'activity' model class="linky"}}Get started by trying
					out the dashboard.{{/link-to}}
			</p>
			<div class="api-key">
				<span class="title">API Key</span><span class="secret">{{Balanced.NET.defaultApiKey}}</span>
			</div>
		</div>
		<div class="tiles span9">
			<ul>
				<li class="dashboard" {{action "goToDashboard"}}>
					<div class="icon"> </div>
					<h2>Demo Dashboard</h2>
					<p>Explore the dashboard with sample data</p>
					<div class="arrow">
						<div class="icon"> </div>
					</div>
				</li>
				<li class="documentation" {{action "goToDocumentation"}}>
					<div class="icon"> </div>
					<h2>Integrate</h2>
					<p>Check out the document and tutorials</p>
					<div class="arrow">
						<div class="icon"> </div>
					</div>
				</li>
				<li class="registration" {{action "goToApply"}}>
					<div class="icon"> </div>
					<h2>Register</h2>
					<p>Register for production access</p>
					<div class="arrow">
						<div class="icon"> </div>
					</div>
				</li>
			</ul>
		</div>
    </div>
</section>

