<div class="controls">
	{{view Ember.Select contentBinding="view.yearContent" valueBinding="view.yearValue" class="span2"}}
	{{view Ember.Select contentBinding="view.monthContent" valueBinding="view.monthValue" class="span2"}}
	{{view Ember.Select contentBinding="view.dayContent" valueBinding="view.dayValue" class="span2"}}
</div>
<label class="control-label" {{bind-attr for="view.field"}}>
	{{view.labelForField}}

	{{#if view.recommendedField}}
		<span class="recommended-field">Recommended field</span>
	{{/if}}
</label>
